<div class="attribute-image{if and(is_set($classification), or(eq($classification, 'image_no_border'), eq($classification, 'image_no_overlay_no_border')))} noborder{/if}{if and(is_set($classification), or(eq($classification, 'image_no_overlay'), eq($classification, 'image_no_overlay_no_border')))} no-image-overlay{else} article_overlay{/if}">
	{if and(is_set($classification), ne($classification, 'image_no_overlay'))}
		{set-block variable=image_class}{attribute_view_gui attribute=$object.data_map.image image_class='overlay_large'}{/set-block}
	{/if}
	{if is_set( $link_parameters.href )}
		{attribute_view_gui attribute=$object.data_map.image image_class=$object_parameters.size href=$link_parameters.href|sitelink() target=$link_parameters.target border_size=first_set( $object_parameters.border_size, '0' ) border_color=first_set( $object_parameters.border_color, '' ) border_style=first_set( $object_parameters.border_style, 'solid' ) margin_size=first_set( $object_parameters.margin_size, '' )}
	{else}
	{if and(is_set($classification), and(ne($classification, 'image_no_overlay'), ne($classification, 'image_no_overlay_no_border')))}
		{def $href_src=$object.data_map.image.content['overlay_large'].url|ezroot('no')}
		{set-block variable=image_class}{attribute_view_gui attribute=$object.data_map.image image_class='overlay_large'}{/set-block}
	{/if}

		{*attribute_view_gui attribute=$object.data_map.image image_class=$object_parameters.size border_size=first_set( $object_parameters.border_size, '0' ) border_color=first_set( $object_parameters.border_color, '' ) border_style=first_set( $object_parameters.border_style, 'solid' ) margin_size=first_set( $object_parameters.margin_size, '' )*}
		{attribute_view_gui attribute=$object.data_map.image  href=first_set($href_src,false()) image_class=$object_parameters.size margin_size=first_set( $object_parameters.margin_size, '' )}
	{/if}
</div>
{if $object.data_map.caption.has_content}
	{if is_set( $object.data_map.image.content[$object_parameters.size].width )}
		{def $image_width = $object.data_map.image.content[$object_parameters.size].width}
		{if is_set($object_parameters.margin_size)}
			{set $image_width = $image_width|sum(  $object_parameters.margin_size|mul( 2 ) )}
		{/if}
		{if is_set($object_parameters.border_size)}
			{set $image_width = $image_width|sum(  $object_parameters.border_size|mul( 2 ) )}
		{/if}
		<div class="attribute-caption" style="width: {$image_width}px">
	{else}
		<div class="attribute-caption">
	{/if}
	{attribute_view_gui attribute=$object.data_map.caption}</div>
{/if}
