<div id='analysts_widget'></div>
{literal}
<script type='text/javascript'>
$.ajax({'url':'{/literal}{'/services/analysts'|ezurl(no)}{literal}',
		'success':function(data){
				$('#analysts_widget').append(data);
			}
})
</script>
{/literal}
