                                                                     
                                                                     
                                                                     
                                             
<form action="http://email.thinkcreative.com/t/r/s/nutqi/" method="post" id="subForm">
<div>
<label for="name">Name:</label><br /><input type="text" name="cm-name" id="name" /><br />
<label for="nutqi-nutqi">Email:</label><br /><input type="text" name="cm-nutqi-nutqi" id="nutqi-nutqi" /><br />
<label for="Company Name">Company Name:</label><br /><input type="text" name="cm-f-hhidjj" id="CompanyName" /><br />
<label for="Job Title">Job Title:</label><br /><input type="text" name="cm-f-hhidjt" id="JobTitle" /><br />
<label for="Address 1">Address 1:</label><br /><input type="text" name="cm-f-hhidjk" id="Address1" /><br />
<label for="Address 2">Address 2:</label><br /><input type="text" name="cm-f-ukuhty" id="Address2" /><br />
<label for="City">City:</label><br /><input type="text" name="cm-f-hhidju" id="City" /><br />
<label for="State or Province">State or Province:</label><br /><input type="text" name="cm-f-hhdrhr" id="StateorProvince" /><br />
<label for="ZIP or Postal Code">ZIP or Postal Code:</label><br /><input type="text" name="cm-f-hhidtr" id="ZIPorPostalCode" /><br />
<label for="Country">Country:</label><br /><select name="cm-fo-hhidtu">
<option value="798173">Afghanistan</option>
<option value="798174">Albania</option>
<option value="798175">Algeria</option>
<option value="798176">American Samoa</option>
<option value="798177">Andorra</option>
<option value="798178">Angola</option>
<option value="798179">Anguilla</option>
<option value="798180">Antigua & Barbuda</option>
<option value="798181">Argentina</option>
<option value="798182">Armenia</option>
<option value="798183">Aruba</option>
<option value="798184">Australia</option>
<option value="798185">Austria</option>
<option value="798186">Azerbaijan</option>
<option value="798187">Azores</option>
<option value="798188">Bahamas</option>
<option value="798189">Bahrain</option>
<option value="798190">Bangladesh</option>
<option value="798191">Barbados</option>
<option value="798192">Belarus</option>
<option value="798193">Belgium</option>
<option value="798194">Belize</option>
<option value="798195">Benin</option>
<option value="798196">Bermuda</option>
<option value="798197">Bhutan</option>
<option value="798198">Bolivia</option>
<option value="798199">Bonaire</option>
<option value="798200">Bosnia & Herzegovina</option>
<option value="798201">Botswana</option>
<option value="798202">Brazil</option>
<option value="798203">British Indian Ocean Ter</option>
<option value="798204">Brunei</option>
<option value="798205">Bulgaria</option>
<option value="798206">Burkina Faso</option>
<option value="798207">Burundi</option>
<option value="798208">Cambodia</option>
<option value="798209">Cameroon</option>
<option value="798210">Canada</option>
<option value="798211">Canary Islands</option>
<option value="798212">Cape Verde</option>
<option value="798213">Cayman Islands</option>
<option value="798214">Central African Republic</option>
<option value="798215">Chad</option>
<option value="798216">Channel Islands</option>
<option value="798217">Chile</option>
<option value="798218">China</option>
<option value="798219">Christmas Island</option>
<option value="798220">Cocos Island</option>
<option value="798221">Columbia</option>
<option value="798222">Comoros</option>
<option value="798223">Congo</option>
<option value="798224">Congo Democratic Rep</option>
<option value="798225">Cook Islands</option>
<option value="798226">Costa Rica</option>
<option value="798227">Cote D'Ivoire</option>
<option value="798228">Croatia</option>
<option value="798229">Cuba</option>
<option value="798230">Curacao</option>
<option value="798231">Cyprus</option>
<option value="798232">Czech Republic</option>
<option value="798233">Denmark</option>
<option value="798234">Djibouti</option>
<option value="798235">Dominica</option>
<option value="798236">Dominican Republic</option>
<option value="798237">East Timor</option>
<option value="798238">Ecuador</option>
<option value="798239">Egypt</option>
<option value="798240">El Salvador</option>
<option value="798241">Equatorial Guinea</option>
<option value="798242">Eritrea</option>
<option value="798243">Estonia</option>
<option value="798244">Ethiopia</option>
<option value="798245">Falkland Islands</option>
<option value="798246">Faroe Islands</option>
<option value="798247">Fiji</option>
<option value="798248">Finland</option>
<option value="798249">France</option>
<option value="798250">French Guiana</option>
<option value="798251">French Polynesia</option>
<option value="798252">French Southern Ter</option>
<option value="798253">Gabon</option>
<option value="798254">Gambia</option>
<option value="798255">Georgia</option>
<option value="798256">Germany</option>
<option value="798257">Ghana</option>
<option value="798258">Gibraltar</option>
<option value="798259">Great Britain</option>
<option value="798260">Greece</option>
<option value="798261">Greenland</option>
<option value="798262">Grenada</option>
<option value="798263">Guadeloupe</option>
<option value="798264">Guam</option>
<option value="798265">Guatemala</option>
<option value="798266">Guinea</option>
<option value="798267">Guyana</option>
<option value="798268">Haiti</option>
<option value="798269">Honduras</option>
<option value="798270">Hong Kong</option>
<option value="798271">Hungary</option>
<option value="798272">Iceland</option>
<option value="798273">India</option>
<option value="798274">Indonesia</option>
<option value="798275">Iran</option>
<option value="798276">Iraq</option>
<option value="798277">Ireland</option>
<option value="798278">Isle of Man</option>
<option value="798279">Israel</option>
<option value="798280">Italy</option>
<option value="798281">Jamaica</option>
<option value="798282">Japan</option>
<option value="798283">Jordan</option>
<option value="798284">Kazakhstan</option>
<option value="798285">Kenya</option>
<option value="798286">Kiribati</option>
<option value="798287">Korea North</option>
<option value="798288">Korea South</option>
<option value="798289">Kuwait</option>
<option value="798290">Kyrgyzstan</option>
<option value="798291">Laos</option>
<option value="798292">Latvia</option>
<option value="798293">Lebanon</option>
<option value="798294">Lesotho</option>
<option value="798295">Liberia</option>
<option value="798296">Libya</option>
<option value="798297">Liechtenstein</option>
<option value="798298">Lithuania</option>
<option value="798299">Luxembourg</option>
<option value="798300">Macau</option>
<option value="798301">Macedonia</option>
<option value="798302">Madagascar</option>
<option value="798303">Malawi</option>
<option value="798304">Malaysia</option>
<option value="798305">Maldives</option>
<option value="798306">Mali</option>
<option value="798307">Malta</option>
<option value="798308">Marshall Islands</option>
<option value="798309">Martinique</option>
<option value="798310">Mauritania</option>
<option value="798311">Mauritius</option>
<option value="798312">Mayotte</option>
<option value="798313">Mexico</option>
<option value="798314">Midway Islands</option>
<option value="798315">Moldova</option>
<option value="798316">Monaco</option>
<option value="798317">Mongolia</option>
<option value="798318">Montserrat</option>
<option value="798319">Morocco</option>
<option value="798320">Mozambique</option>
<option value="798321">Myanmar</option>
<option value="798322">Namibia</option>
<option value="798323">Nauru</option>
<option value="798324">Nepal</option>
<option value="798325">Netherland Antilles</option>
<option value="798326">Netherlands</option>
<option value="798327">Nevis</option>
<option value="798328">New Caledonia</option>
<option value="798329">New Zealand</option>
<option value="798330">Nicaragua</option>
<option value="798331">Niger</option>
<option value="798332">Nigeria</option>
<option value="798333">Niue</option>
<option value="798334">Norfolk Island</option>
<option value="798335">Norway</option>
<option value="798336">Oman</option>
<option value="798337">Pakistan</option>
<option value="798338">Palau Island</option>
<option value="798339">Palestine</option>
<option value="798340">Panama</option>
<option value="798341">Papua New Guinea</option>
<option value="798342">Paraguay</option>
<option value="798343">Peru</option>
<option value="798344">Philippines</option>
<option value="798345">Pitcairn Island</option>
<option value="798346">Poland</option>
<option value="798347">Portugal</option>
<option value="798348">Puerto Rico</option>
<option value="798349">Qatar</option>
<option value="798350">Reunion</option>
<option value="798351">Romania</option>
<option value="798352">Russia</option>
<option value="798353">Rwanda</option>
<option value="798354">Saipan</option>
<option value="798355">Samoa</option>
<option value="798356">Samoa American</option>
<option value="798357">San Marino</option>
<option value="798358">Sao Tome & Principe</option>
<option value="798359">Saudi Arabia</option>
<option value="798360">Senegal</option>
<option value="798361">Serbia & Montenegro</option>
<option value="798362">Seychelles</option>
<option value="798363">Sierra Leone</option>
<option value="798364">Singapore</option>
<option value="798365">Slovakia</option>
<option value="798366">Slovenia</option>
<option value="798367">Solomon Islands</option>
<option value="798368">Somalia</option>
<option value="798369">South Africa</option>
<option value="798370">Spain</option>
<option value="798371">Sri Lanka</option>
<option value="798372">St Barthelemy</option>
<option value="798373">St Eustatius</option>
<option value="798374">St Helena</option>
<option value="798375">St Kitts-Nevis</option>
<option value="798376">St Lucia</option>
<option value="798377">St Maarten</option>
<option value="798378">St Pierre & Miquelon</option>
<option value="798379">St Vincent & Grenadines</option>
<option value="798380">Sudan</option>
<option value="798381">Suriname</option>
<option value="798382">Swaziland</option>
<option value="798383">Sweden</option>
<option value="798384">Switzerland</option>
<option value="798385">Syria</option>
<option value="798386">Tahiti</option>
<option value="798387">Taiwan</option>
<option value="798388">Tajikistan</option>
<option value="798389">Tanzania</option>
<option value="798390">Thailand</option>
<option value="798391">Togo</option>
<option value="798392">Tokelau</option>
<option value="798393">Tonga</option>
<option value="798394">Trinidad & Tobago</option>
<option value="798395">Tunisia</option>
<option value="798396">Turkey</option>
<option value="798397">Turkmenistan</option>
<option value="798398">Turks & Caicos Is</option>
<option value="798399">Tuvalu</option>
<option value="798400">Uganda</option>
<option value="798401">Ukraine</option>
<option value="798402">United Arab Emirates</option>
<option value="798403">United Kingdom</option>
<option value="798404" selected="selected">United States of America</option>
<option value="798405">Uruguay</option>
<option value="798406">Uzbekistan</option>
<option value="798407">Vanuatu</option>
<option value="798408">Vatican City State</option>
<option value="798409">Venezuela</option>
<option value="798410">Vietnam</option>
<option value="798411">Virgin Islands (Brit)</option>
<option value="798412">Virgin Islands (USA)</option>
<option value="798413">Wake Island</option>
<option value="798414">Wallis & Futana Is</option>
<option value="798415">Yemen</option>
<option value="798416">Zambia</option>
<option value="798417">Zimbabwe</option>
</select><br />
<label for="Newsletters">Newsletters:</label><br /><input type="checkbox" name="cm-fo-hhidiu" id="cm798418" value="798418" /> <label for="cm798418">Daily News - North America</label><br />
<input type="checkbox" name="cm-fo-hhidiu" id="cm798419" value="798419" /> <label for="cm798419">Daily News - Western Europe</label><br />
<input type="checkbox" name="cm-fo-hhidiu" id="cm798420" value="798420" /> <label for="cm798420">Daily News - Western Europe CWS</label><br />
<input type="checkbox" name="cm-fo-hhidiu" id="cm798421" value="798421" /> <label for="cm798421">Research Bulletin</label><br />
<input type="checkbox" name="cm-fo-hhidiu" id="cm910917" value="910917" /> <label for="cm910917">CWS30</label><br />

<input type="submit" value="Subscribe" />
</div>
</form>
