<span class="realmedia_{$position} with_realmedia">
	<script>
		eval("functest = function" + String(OAS_RICH).replace(/function OAS_RICH/, '').replace(/IMG SRC/, 'IMG onload="docolheights()" SRC'));
		functest('{$position}');
	</script>
</span>
