/* eznetwork admin2 CSS 20100126 */

/* ff9b00 */

#ez-version.ok
{
    color: green;
}

#ez-version.not-ok
{
    color: red;
}

#header-topmenu ul li.eznetworknavigationpart.unselected a
{
  background-color: #ff9b00;
  border-color: #ff9b00;
  background-image: url('../images/network/gradient-orange.png');
  background-position: left bottom;
  color: white;
}

#header-topmenu ul li.eznetworknavigationpart.selected a
{
  border-top-color: #ff9b00;
  border-left-color: #ff9b00;
  border-right-color: #ff9b00;
}


div.eznetworknavigationpart #header
{
    border-bottom-color: #ff9b00;
}
