<form name="editform" id="editform" enctype="multipart/form-data" method="post" action={concat( '/content/edit/', $object.id, '/', $edit_version, '/', $edit_language|not|choose( concat( $edit_language, '/' ), '/' ), $is_translating_content|not|choose( concat( $from_language, '/' ), '' ) )|ezurl}>

{include uri='design:parts/website_toolbar_edit.tpl'}

<div class="content-edit">

{* Current gui locale, to be used for class [attribute] name & description fields *}
{def $content_language = ezini( 'RegionalSettings', 'Locale' )}

	<header><h1>{'Edit: %object_name (%class_name)'|i18n( 'design/ezwebin/content/edit', , hash( '%object_name', $object.name, '%class_name', first_set( $class.nameList[$content_language], $class.name ) ) )|wash}</h1></header>

	<div class="context-information">
	<p class="translation">
	{def $language_index = 0
		$from_language_index = 0
		$translation_list = $content_version.translation_list}

	{foreach $translation_list as $index => $translation}
	{if eq( $edit_language, $translation.language_code )}
		{set $language_index = $index}
	{/if}
	{/foreach}

	{if $is_translating_content}

		{def $from_language_object = $object.languages[$from_language]}

		{'Translating content from %from_lang to %to_lang'|i18n( 'design/ezwebin/content/edit',, hash(
			'%from_lang', concat( $from_language_object.name, '&nbsp;<img src="', $from_language_object.locale|flag_icon, '" style="vertical-align: middle;" alt="', $from_language_object.locale, '" />' ),
			'%to_lang', concat( $translation_list[$language_index].locale.intl_language_name, '&nbsp;<img src="', $translation_list[$language_index].language_code|flag_icon, '" style="vertical-align: middle;" alt="', $translation_list[$language_index].language_code, '" />' ) ) )}

	{else}

		{'Content in %language'|i18n( 'design/ezwebin/content/edit',, hash( '%language', $translation_list[$language_index].locale.intl_language_name ))}&nbsp;<img src="{$translation_list[$language_index].language_code|flag_icon}" style="vertical-align: middle;" alt="{$translation_list[$language_index].language_code}" />

	{/if}
	</p>
	{if $object.content_class.description}
	<p class="class-description">
		{first_set( $class.descriptionList[$content_language], $class.description )|wash}
	</p>
	{/if}
	</div>

	{include uri='design:content/edit_validation.tpl'}

	{if $is_translating_content}
	<div class="content-translation">
	{/if}

	<div class="context-attributes">
	{include uri='design:content/edit_attribute.tpl' view_parameters=$view_parameters}
	</div>

	{if $is_translating_content}
	</div>
	{/if}

	<div class="buttonblock">
	<input class="defaultbutton" type="submit" name="PublishButton" value="{'Send for publishing'|i18n( 'design/ezwebin/content/edit' )}" />
	<input class="button" type="submit" name="StoreButton" value="{'Store draft'|i18n( 'design/ezwebin/content/edit' )}" />
	<input class="button" type="submit" name="DiscardButton" value="{'Discard draft'|i18n( 'design/ezwebin/content/edit' )}" />
	<input type="hidden" name="DiscardConfirm" value="0" />
	<input type="hidden" name="RedirectIfDiscarded" value="/content/dashboard" />
	<input type="hidden" name="RedirectURIAfterPublish" value="/content/dashboard" />
	</div>
</div>

</form>