ul.horizontal li{
	float:none;
}
#global-menubar ul.menu{
	margin-top:0;
}
#bottomarea .module{
	display:inline;
	margin:0 7px;
	zoom:1;
}
.column,footer .custom-tag-scrollable h1,footer .custom-tag-scrollable .display, #site-columns .document, #user-pane li.site_login{
	display:inline;
	zoom:1;
}
.scrollable .items div {
	display:inline;
	zoom:1;
}
#utility a{
	display:inline;
}
.scrollable {
	display:inline;
}
ul.horizontal {
	display:inline-block;
}
#global-menubar ul.menu li ul{
	left:0;
}
#global-menubar ul.menu li.last ul{
	left:-120px;
}
.author, .author_label, .authors {
	float:left;
}
.author_label {
	min-width:78px;
}
.content-view-line h2 {
	padding:3px;
}
#site-main-content th.price, td.price {
	width: 90px;
}
ul, menu, dir {
	margin-top:1px;
}
.block-controls a.ui-dialog-titlebar-close {
	float:none;
}
#event-scrollable a.right{
	background-position: 0 -14px;
	margin-top:37px;
	right:-5px;
}
#language-switcher a strong{
	display:inline;
	zoom:1;
}
#languages{
	display:inline;
	zoom:1;
}
#cookie-notice p{
	zoom:1;
}
.customtag-content .panes .pane-item .content-view-embed {
	position: relative;
	top: 100px;
}
.customtag-content .panes .pane-item {
	min-height: 330px;
}