{literal}
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "7cff71c7-87d1-4d76-8309-46bd5e06c527"}); </script>
{/literal}
<div class="sharethis">
    <span class='st_email' style="top: -4px;" displayText='Email'></span>
	<span class='st_plusone' displayText='Google +1'></span>
        {if ezservervars()['REQUEST_URI']|contains('?')}
	<span class='st_facebook' displayText='Facebook' st_url='http://{ezsys( 'hostname' )}{concat( ezservervars()['REQUEST_URI'], '&cookies=disabled' )}'></span>
        {else}
	<span class='st_facebook' displayText='Facebook' st_url='http://{ezsys( 'hostname' )}{concat( ezservervars()['REQUEST_URI'], '?cookies=disabled' )}'></span>
        {/if}
	<span class='st_twitter' displayText='Tweet'></span>
	<span class='st_linkedin' displayText='LinkedIn'></span>
</div>
