/********************************************************************************
  explicit overrides
********************************************************************************/
/* line 6, ../sass/main.scss */
.body-container, #site-columns {
  width: 980px;
  margin: 0 auto;
}

/* line 11, ../sass/main.scss */
#site-main-content #path a, #site-main-content #path li {
  font-size: 10px;
}

/* line 14, ../sass/main.scss */
#site-main-content #path {
  margin-top: 10px;
  display: none !important;
}

/* line 18, ../sass/main.scss */
.sidebar.extrainfo #site-main-content {
  width: 474px;
  margin: 0 8px 0 0;
}

/* line 22, ../sass/main.scss */
.nosidebar.extrainfo #site-main-content {
  width: 648px;
}

/* line 25, ../sass/main.scss */
#site-columns {
  background-color: #fbfbf9;
}

/* line 28, ../sass/main.scss */
.noextrainfo.sidebar #site-columns #site-main-content {
  width: 767px;
}

/* line 31, ../sass/main.scss */
.noextrainfo.sidebar #site-main-content {
  margin: 0;
  width: 100%;
}

/* line 35, ../sass/main.scss */
.noextrainfo.sidebar.module-view-search #site-columns #site-main-content {
  width: 708px;
}

/* line 38, ../sass/main.scss */
.module-view-search.sidebar #sidebar {
  width: 250px;
}

/* line 41, ../sass/main.scss */
.module-view-search.sidebar #sidebar .infobox {
  padding: 6px 0 6px 6px;
}

/* line 44, ../sass/main.scss */
nav.module ul.menu li a, .previous-link {
  border: none;
  font-family: 'PFDinTextPro-medium';
  text-decoration: underline;
  font-size: 14px;
}

/* line 50, ../sass/main.scss */
nav.module ul.menu li {
  line-height: 18px;
}

/* line 54, ../sass/main.scss */
.sidebar.noextrainfo #site-main-content
.content-view-line.class-article.line-image .column.r-articlethumbnail {
  width: 580px;
}

/* line 58, ../sass/main.scss */
.sidebar.extrainfo #site-main-content
.content-view-line.class-article.line-image .column.r-articlethumbnail {
  width: 278px;
}

/* line 61, ../sass/main.scss */
.delimiter img {
  height: 30px;
}

/* line 64, ../sass/main.scss */
.cart a {
  color: #333;
}

/* line 67, ../sass/main.scss */
.cart a img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 6px;
}

/* line 73, ../sass/main.scss */
.extrainfo #extrainfo {
  width: 300px;
}

/* line 76, ../sass/main.scss */
#site-main-content p {
  font-size: 14px;
  line-height: 19px;
  margin-top: 2px;
}

/* line 81, ../sass/main.scss */
#extrainfo p {
  font-size: 12px;
  line-height: 18px;
}

/* line 85, ../sass/main.scss */
#extrainfo ul {
  font-size: 12px;
}

/* line 88, ../sass/main.scss */
#site-main-content.content-view-full p {
  line-height: 24px;
  margin: 20px 8px;
}

/* line 94, ../sass/main.scss */
#site-main-content.content-view-full.class-folder p,
#site-main-content.content-view-full .r-articlethumbnail p,
#site-main-content .content-view-line.class-event p {
  margin: 7px 0;
}

/* line 97, ../sass/main.scss */
#site-main-content.content-view-full.class-enhanced-frontpage p {
  margin: 7px 0;
  line-height: 19px;
}

/* line 101, ../sass/main.scss */
#topics {
  margin-top: 20px;
}

/* line 104, ../sass/main.scss */
#topics .search-topics {
  overflow: hidden;
}

/* line 107, ../sass/main.scss */
#topics .topic_embed_image {
  height: 60px !important;
}

/* line 110, ../sass/main.scss */
#topics .default tr td .topic_embed_image h2 a {
  /*font-size: 60px;*/
  display: block;
  height: 65px;
  width: 210px;
  line-height: 1.3em;
  /*color: rgba(0, 68, 106, 0.0);*/
  /* For IE8 - selectivizr.js allows :nth-child */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/* line 120, ../sass/main.scss */
a.button {
  color: #015186;
}

/* line 124, ../sass/main.scss */
.content-view-full.class-article a.button,
.content-view-full.class-news-item a.button {
  color: #024C73;
}

/* line 127, ../sass/main.scss */
.content-view-line.class-event h2 a {
  color: #03548B;
}

/* line 130, ../sass/main.scss */
.content-view-embed.class-image {
  margin-bottom: 10px;
}

/* line 133, ../sass/main.scss */
.dashboard-menu h1, .dashboard-customize-window h1 {
  white-space: nowrap;
}

/* line 136, ../sass/main.scss */
#dashboard {
  display: block;
  margin-left: 6px;
}
/* line 139, ../sass/main.scss */
#dashboard a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-family: 'PFDinTextPro-medium', sans-serif;
}
/* line 144, ../sass/main.scss */
#dashboard a:hover {
  color: #ebb111;
}

/* ------------------------------------------------------------------------
  header
------------------------------------------------------------------------ */
/* line 153, ../sass/main.scss */
header[role="banner"] {
  height: 200px;
  margin-top: 0 !important;
  background: rgba(0, 0, 0, 0) url("../../images/SIA_HeaderBckgrnd2.jpg") no-repeat scroll center center/100% 100% !important;
  clear: left;
}
/* line 159, ../sass/main.scss */
header[role="banner"] .body-container {
  height: 149px;
}
/* line 163, ../sass/main.scss */
header[role="banner"] .searchblock {
  position: relative;
  float: right;
  border-left: 1px solid #000000;
  height: 95px;
  top: 15px;
}
/* line 170, ../sass/main.scss */
header[role="banner"] .searchblock #search {
  top: 75px;
}
/* line 173, ../sass/main.scss */
header[role="banner"] .searchblock #search .tips {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  top: -4px;
  padding: 3px 7px;
  border: 2px solid #e7b60c;
  background: #455661;
  text-decoration: none;
}
/* line 184, ../sass/main.scss */
header[role="banner"] .searchblock #search form {
  position: relative;
  top: 4px;
}
/* line 190, ../sass/main.scss */
header[role="banner"] .searchblock .login_form {
  width: 350px;
}
/* line 193, ../sass/main.scss */
header[role="banner"] .searchblock .login_form #overlaylaunch-inAbox, header[role="banner"] .searchblock .login_form a.logoutbtn {
  color: #fff;
  background: #000;
  font-family: 'PFDinTextPro-medium', sans-serif;
  font-size: 18px;
  padding: 5px 10px;
  position: relative;
  left: 5px;
  top: -5px;
  pointer: cursor;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: auto;
  min-width: 80px;
  max-width: 185px;
}
/* line 212, ../sass/main.scss */
header[role="banner"] #site-tagline {
  color: #000000;
  font-size: 31px;
  font-family: 'PFDinTextPro-light_italic', arial, sans-serif;
  top: -45px;
  left: 45px;
  width: 440px;
  display: inline-block;
  position: relative;
}
/* line 221, ../sass/main.scss */
header[role="banner"] #site-tagline p {
  line-height: 1.2em;
  letter-spacing: -1px;
  margin: 0px;
  color: #fff;
}

/* line 230, ../sass/main.scss */
header[role="banner"] #user-pane a, header[role="banner"] #user-pane #login_form ul li a,
header[role="banner"] #user-pane #language-switcher #languages #lang_switch label {
  font-size: 96%;
}

/*header[role="banner"] #user-pane li {
    height: 56px;
}*/
/* line 236, ../sass/main.scss */
header[role="banner"] #lang_switch label:last-child {
  display: inline-block;
  max-width: 140px;
}

/*header[role="banner"] #lang_switch label span {
    display: block;
}*/
/* line 243, ../sass/main.scss */
#secondary-header {
  background-color: #47555e;
  height: 45px;
}

/* line 247, ../sass/main.scss */
#secondary-header #social-media {
  float: right;
  margin-top: 5px;
  width: 980px;
  text-align: right;
}

/* line 253, ../sass/main.scss */
a {
  color: #015186;
}

/* line 256, ../sass/main.scss */
#logo {
  position: relative;
  display: inline-block;
}

/* line 260, ../sass/main.scss */
#webpage {
  padding: 0;
  width: 980px;
  position: relative;
}

/* line 265, ../sass/main.scss */
#site_sidebar {
  display: none;
}

/* line 269, ../sass/main.scss */
#site-main-content .content-view-embed.class-issue.line-image
.column.r-small {
  width: 165px;
}

/* line 272, ../sass/main.scss */
.document {
  display: inline-block;
  padding: .5px 0 10px 10px;
  width: auto;
  background-color: #fbfbf9;
}

/* line 278, ../sass/main.scss */
.nosidebar.noextrainfo .document {
  padding: .5px 10px 10px;
  width: 960px;
}

/* line 282, ../sass/main.scss */
.module {
  border: none;
  background-color: transparent;
  border-radius: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
}

/* ------------------------------------------------------------------------
  global menubar
------------------------------------------------------------------------ */
/* line 293, ../sass/main.scss */
nav#global-menubar {
  margin-bottom: 0;
}

/* line 296, ../sass/main.scss */
#global-menubar ul.menu {
  border-top: 1px solid #222;
}
/* line 298, ../sass/main.scss */
#global-menubar ul.menu li {
  margin: 0 10px;
}
/* line 300, ../sass/main.scss */
#global-menubar ul.menu li:hover {
  border-top: 3px solid #ebb111;
}
/* line 302, ../sass/main.scss */
#global-menubar ul.menu li:hover p, #global-menubar ul.menu li:hover a {
  position: relative;
  top: -3px;
}
/* line 306, ../sass/main.scss */
#global-menubar ul.menu li:hover ul li:hover {
  top: -3px;
}
/* line 308, ../sass/main.scss */
#global-menubar ul.menu li:hover ul li:hover:first-of-type {
  height: 36px;
  border-top: 3px solid #ebb111;
}
/* line 311, ../sass/main.scss */
#global-menubar ul.menu li:hover ul li:hover:first-of-type a, #global-menubar ul.menu li:hover ul li:hover:first-of-type p {
  top: -3px;
}
/* line 317, ../sass/main.scss */
#global-menubar ul.menu li ul {
  top: 30px;
}
/* line 319, ../sass/main.scss */
#global-menubar ul.menu li ul.menu {
  left: -15px;
  padding-bottom: 0px;
}
/* line 322, ../sass/main.scss */
#global-menubar ul.menu li ul.menu li {
  margin: 0px;
}
/* line 326, ../sass/main.scss */
#global-menubar ul.menu li ul li:hover {
  border-top: none;
}
/* line 328, ../sass/main.scss */
#global-menubar ul.menu li ul li:hover p, #global-menubar ul.menu li ul li:hover a {
  top: 0px;
}
/* line 333, ../sass/main.scss */
#global-menubar ul.menu li:first-of-type {
  margin-left: 0px;
}
/* line 335, ../sass/main.scss */
#global-menubar ul.menu li:first-of-type ul.menu {
  left: 0px;
}
/* line 339, ../sass/main.scss */
#global-menubar ul.menu li:last-of-type {
  margin-right: 0px;
}
/* line 341, ../sass/main.scss */
#global-menubar ul.menu li:last-of-type ul.menu {
  left: 0px;
  width: 110px;
}

/* line 348, ../sass/main.scss */
#global-menubar ul.menu li.current, #global-menubar ul.menu li:hover {
  background-image: none;
}

/* line 351, ../sass/main.scss */
#global-menubar, #global-menubar > ul.menu, #global-menubar, #global-menubar > ul.menu li:hover {
  background-image: none;
  padding: 0;
}

/* line 355, ../sass/main.scss */
#global-menubar > ul.menu {
  background-color: transparent;
}

/* line 359, ../sass/main.scss */
#global-menubar ul.menu li > a, #global-menubar ul.menu li > p {
  font-size: 20px;
  font-family: 'PFDinTextPro-regular';
  font-weight: normal;
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
  margin: 0px;
}
/* line 368, ../sass/main.scss */
#global-menubar ul.menu li ul {
  border-top: 3px solid #ebb111;
}
/* line 370, ../sass/main.scss */
#global-menubar ul.menu li ul li a {
  color: #222;
}
/* line 373, ../sass/main.scss */
#global-menubar ul.menu li ul li:hover {
  background-color: #f8f8f8;
}

/* line 378, ../sass/main.scss */
#site-main-content #global-menubar ul.menu li {
  height: 30px;
}

/* line 381, ../sass/main.scss */
#webpage #global-menubar .nav-link {
  height: 30px;
  line-height: 30px;
}

/* ------------------------------------------------------------------------
  forms
------------------------------------------------------------------------ */
/* line 389, ../sass/main.scss */
.productwrapper form #attribute-multi-options-fake {
  display: block;
  float: left;
}

/* line 393, ../sass/main.scss */
.productwrapper form #attribute-multi-options-select {
  width: 240px;
  display: block;
}

/* line 397, ../sass/main.scss */
.productwrapper form div {
  display: inline;
}

/* line 400, ../sass/main.scss */
.integrated #form_container form.appnitro li label.choice {
  width: 390px !important;
}

/* line 403, ../sass/main.scss */
.integrated #form_container form.appnitro li {
  width: 446px !important;
}

/* ------------------------------------------------------------------------
  shop
------------------------------------------------------------------------ */
/* line 410, ../sass/main.scss */
div.billing, div.shipping, div.additional-information, div.accountinfo, div.coupon {
  width: 443px !important;
  padding: 15px;
}

/* line 415, ../sass/main.scss */
div.shop-userregister input, div.user_register input,
div.shop-userregister select, div.user_register select {
  margin: 3px 0 8px;
}

/* line 418, ../sass/main.scss */
#site-main-content .billing_help {
  font-size: 11px;
}

/********************************************************************************
  general styles
********************************************************************************/
/* line 425, ../sass/main.scss */
a.button, a.seeall {
  color: #5c5c5c;
}

/* line 429, ../sass/main.scss */
#site-main-content a.button {
  color: #015186;
}
/* line 432, ../sass/main.scss */
#site-main-content header {
  margin-top: 30px;
}

/* line 437, ../sass/main.scss */
#site-main-content p, #site-main-content ul, #site-main-content ol,
#site-main-content li, #site-main-content a {
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
}

/* line 441, ../sass/main.scss */
#site-main-content h2 a {
  font-size: 25px;
}

/* line 444, ../sass/main.scss */
#site-main-content h3 a, #extrainfo h3 a {
  font-size: 18px;
  font-weight: normal;
}

/* line 448, ../sass/main.scss */
body #extrainfo h3 {
  padding-bottom: 7px;
}

/* line 452, ../sass/main.scss */
#site-main-content h2 a, #site-main-content h3 a, #site-main-content h4 a,
#extrainfo h3 a {
  font-family: 'PFDinTextPro-medium';
}

/* line 455, ../sass/main.scss */
footer .document {
  background-color: #888;
}

/* line 458, ../sass/main.scss */
h3 img {
  float: left;
  margin-right: 7px;
}

/* line 462, ../sass/main.scss */
#site-main-content p a {
  color: #015186;
}

/* line 465, ../sass/main.scss */
.redBold {
  color: #C4122F;
  font-weight: bold;
}

/* line 469, ../sass/main.scss */
.black {
  color: #000;
}

/* line 472, ../sass/main.scss */
.blackBold {
  color: #000;
  font-weight: bold;
}

/* line 476, ../sass/main.scss */
.lightGrey {
  color: #757575;
}

/* line 479, ../sass/main.scss */
#site-main-content .related-content ul a {
  font-family: 'PFDinTextPro-medium';
  color: #03548b;
}

/* line 483, ../sass/main.scss */
#site-main-content .r-articlethumbnail ul {
  margin: 0;
  padding: 0 18px;
}

/* line 487, ../sass/main.scss */
#site-main-content ul {
  font-family: arial, helvetica, sans-serif;
}

/* line 490, ../sass/main.scss */
.module.customtag {
  background-color: #e9e9e9;
  padding: 10px;
}

/* line 494, ../sass/main.scss */
#site-main-content ul.vertical {
  padding: 0;
}

/* line 497, ../sass/main.scss */
#site-main-content ul.vertical li {
  line-height: 18px;
  margin-bottom: 10px;
}

/* line 501, ../sass/main.scss */
#extrainfo .infobox {
  background-color: #ebeded;
  overflow: hidden;
}

/* line 505, ../sass/main.scss */
.extrainfo #extrainfo {
  padding-top: 0;
}

/* line 508, ../sass/main.scss */
#webpage #extrainfo .infobox_ad {
  margin: 0px;
  padding: 0px;
  background: #fff;
}

/* line 513, ../sass/main.scss */
#webpage #extrainfo .infobox_ad .infobox-content {
  padding: 0px;
}

/* line 517, ../sass/main.scss */
.infobox-content #facet-list li ul li.active {
  background: #015186 none repeat scroll 0 0;
  border-radius: 6px;
  padding: 4px;
  position: relative;
  left: -4px;
}
/* line 523, ../sass/main.scss */
.infobox-content #facet-list li ul li.active a {
  color: #fff;
  font-weight: bold;
}
/* line 527, ../sass/main.scss */
.infobox-content #facet-list li ul li.active strong a {
  color: #fff;
}
/* line 531, ../sass/main.scss */
.infobox-content ul {
  padding: 0 10px;
  margin: 0 0 15px 15px;
  line-height: 20px;
}

/* line 537, ../sass/main.scss */
#site-main-content .line-image .column.r-small {
  width: 650px;
}

/* line 540, ../sass/main.scss */
.extrainfo #site-main-content .line-image .column.r-small {
  width: 350px;
}

/* line 543, ../sass/main.scss */
table {
  font-size: 12px;
}

/* line 546, ../sass/main.scss */
#site-main-content.class-enhanced-frontpage {
  padding-top: 15px;
}

/* ------------------------------------------------------------------------
  gold class
------------------------------------------------------------------------ */
/* line 553, ../sass/main.scss */
.gold {
  font-weight: normal;
  padding-bottom: 5px;
  margin-top: 0;
  border-bottom: 8px solid #DAC792;
  margin-bottom: 8px;
}

/* line 560, ../sass/main.scss */
.separator.gold hr {
  display: none;
}

/* line 563, ../sass/main.scss */
#site-main-content h2.gold {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ------------------------------------------------------------------------
  front page zones
------------------------------------------------------------------------ */
/* line 573, ../sass/main.scss */
.top_center_zone, .bottom_center_zone, .top_left_zone, .bottom_left_zone {
  width: 304px;
  padding-right: 10px;
  border-right: 2px solid #555;
  margin-right: 10px;
}

/* line 579, ../sass/main.scss */
.top_right_zone, .bottom_right_zone {
  width: 299px;
}

/* line 582, ../sass/main.scss */
.middle_zone {
  width: 948px;
  margin-top: 15px;
  padding: 10px;
  position: relative;
  left: -10px;
  background-color: #DAC792;
  border: 2px solid #03548b;
  border-left: 10px solid #03548b;
}

/* line 592, ../sass/main.scss */
.middle_zone ul {
  padding: 0px 16px;
  margin: 8px 0;
  display: inline-block;
}

/* line 597, ../sass/main.scss */
.middle_zone li {
  margin-bottom: 0px;
}

/* line 600, ../sass/main.scss */
.homepage #site-main-content .middle_zone p {
  line-height: 14px;
  margin-bottom: 5px;
}

/* line 604, ../sass/main.scss */
.homepage #site-main-content .middle_zone a {
  font-size: 12px;
  color: #333;
  line-height: 14px;
  text-decoration: underline;
}

/* line 610, ../sass/main.scss */
.bottom_left_zone, .bottom_center_zone, .bottom_right_zone {
  padding-top: 20px;
}

/* line 613, ../sass/main.scss */
.top_right_zone p a {
  color: #015186;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
}

/* line 619, ../sass/main.scss */
#site-main-content .top_right_zone p {
  margin: 5px 0;
}

/* line 622, ../sass/main.scss */
#site-main-content .top_right_zone aside {
  margin-bottom: 0;
}

/* line 625, ../sass/main.scss */
.bottom_center_zone p a {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
}

/* ------------------------------------------------------------------------
  headers
------------------------------------------------------------------------ */
/* line 635, ../sass/main.scss */
#site-main-content h1, #site-main-content h2, #site-main-content h3,
#extrainfo h3, #extrainfo h1 {
  font-family: 'PFDinTextPro-medium';
  margin: 0;
  color: #333;
  font-weight: normal;
}

/* line 641, ../sass/main.scss */
.subpage .content-view-full header h1 {
  font-size: 23px;
}

/* line 644, ../sass/main.scss */
#site-main-content h2 {
  margin-bottom: 5px;
}

/* line 647, ../sass/main.scss */
h2 a, h3 a, #extrainfo h1 a {
  color: #03548b;
}

/* line 651, ../sass/main.scss */
footer h2 a, footer h3 a, footer #extrainfo h1 a {
  color: #ffffff;
  display: block;
  line-height: 1.2em;
}
/* line 656, ../sass/main.scss */
footer h2 a {
  font-size: 16px;
}
/* line 658, ../sass/main.scss */
footer h2 a:hover {
  color: #eeb111;
  text-decoration: underline;
}
/* line 663, ../sass/main.scss */
footer ul {
  padding-left: 0px !important;
}
/* line 666, ../sass/main.scss */
footer ul li a {
  font-size: 18px;
  text-decoration: none;
  font-family: "PFDinTextPro-regular";
  font-weight: 400;
  line-height: 1.2em;
}
/* line 672, ../sass/main.scss */
footer ul li a:hover {
  color: #eeb111;
  text-decoration: underline;
}

/* line 680, ../sass/main.scss */
.content-view-full footer h2 {
  margin-bottom: 0px;
}

/* line 683, ../sass/main.scss */
#extrainfo h1 {
  line-height: 25px;
  margin-bottom: 10px;
}

/* line 687, ../sass/main.scss */
.class-enhanced-frontpage header {
  border-bottom: none;
}

/* line 691, ../sass/main.scss */
#site-main-content.class-enhanced-frontpage header h1,
#site-main-content.class-enhanced-frontpage h2, #extrainfo h1 {
  font-size: 25px;
  margin-top: 0;
  text-transform: uppercase;
}

/* line 696, ../sass/main.scss */
#site-main-content.class-enhanced-frontpage header h1 {
  border: none;
}

/* line 699, ../sass/main.scss */
.middle_zone h2 {
  margin-top: 0;
  font-size: 22px;
}

/* line 703, ../sass/main.scss */
.custom-tag-twitterfeed .column.header-text {
  width: 245px;
}

/* line 706, ../sass/main.scss */
.infobox header, .customtag header {
  border-bottom: none;
}

/* line 709, ../sass/main.scss */
.class-enhanced-frontpage h4, #site-main-content.class-enhanced-frontpage h4 a {
  font-family: 'PFDinTextPro-medium';
  text-transform: uppercase;
  font-size: 16px;
  margin: 0 0 2px 0;
  font-weight: normal;
}

/* line 716, ../sass/main.scss */
.content-view-full header h1 {
  font-size: 23px;
  padding: 5px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
}

/* line 723, ../sass/main.scss */
.content-view-full #extrainfo header h1 {
  border: none;
}

/* line 727, ../sass/main.scss */
header.case1, .class-news-item header,
.module.content-view-full.class-issue header {
  margin: 10px 0 20px 0;
}

/* line 730, ../sass/main.scss */
#site-main-content.class-event-calendar header h1 {
  margin-bottom: 10px;
}

/* line 733, ../sass/main.scss */
.content-view-full h2 {
  font-size: 18px;
  margin-bottom: 7px;
  color: #03548B;
}

/* line 738, ../sass/main.scss */
#site-main-content h3 {
  font-size: 16px;
  margin-bottom: 7px;
}

/* line 742, ../sass/main.scss */
#extrainfo h1 a {
  font-size: 20px;
  text-transform: none;
}

/* line 746, ../sass/main.scss */
#extrainfo .content-view-embed.class-article h1 {
  line-height: 24px;
}

/* line 749, ../sass/main.scss */
#site-main-content hgroup h1 {
  margin-bottom: 10px;
}

/* line 752, ../sass/main.scss */
#webpage #global-menubar .nav-link {
  padding: 0 15px;
}

/* line 755, ../sass/main.scss */
#site-main-content .shop h1 {
  margin: 15px 0;
}

/* line 758, ../sass/main.scss */
#site-main-content .one-subhead {
  font-size: 25px;
  text-transform: uppercase;
  padding: 15px 0;
  margin-top: 15px;
  border-top: 1px solid #ccc;
}

/********************************************************************************
  general content
********************************************************************************/
/* line 770, ../sass/main.scss */
.custom-tag-daily-news div {
  display: none;
}

/* line 773, ../sass/main.scss */
.custom-tag-daily-news div.active {
  display: block;
}

/* line 776, ../sass/main.scss */
.custom-tag-daily-news {
  display: inline-block;
}

/* line 779, ../sass/main.scss */
header[role="banner"] .searchblock .cart {
  font-size: 16px;
  font-family: 'PFDinTextPro-medium';
  padding: 7px 8px 6px;
  width: 86px;
  height: 20px;
  bottom: 3px;
}

/* line 787, ../sass/main.scss */
header[role="banner"] .searchblock .cart a {
  position: relative;
  top: -3px;
}

/* line 795, ../sass/main.scss */
#social-media ul {
  list-style: none;
}
/* line 798, ../sass/main.scss */
#social-media ul li {
  display: inline-block;
}
/* line 801, ../sass/main.scss */
#social-media ul.menu li a:hover {
  color: #daddde;
}
/* line 804, ../sass/main.scss */
#social-media .social_media_icons img:last-child {
  display: none;
}
/* line 807, ../sass/main.scss */
#social-media .social_media_icons:hover img:first-child {
  display: none;
}
/* line 810, ../sass/main.scss */
#social-media .social_media_icons:hover img:last-child {
  display: inline-block;
}
/* line 813, ../sass/main.scss */
#social-media .separator, #social-media .feedback {
  color: #fff;
  font-family: "PFDinTextPro-regular",arial,sans-serif;
  font-size: 20px;
  padding: 0px;
  margin-right: 10px;
}
/* line 820, ../sass/main.scss */
#social-media .menu-sep {
  font-size: 24px;
  color: #fff;
  top: -4px;
}
/* line 826, ../sass/main.scss */
#social-media .feedback a {
  color: #fff;
}

/* line 831, ../sass/main.scss */
#social-media .no-display {
  display: none;
}

/* line 834, ../sass/main.scss */
header[role="banner"] .searchblock #social-media {
  bottom: 5px;
  width: 130px;
}

/* line 838, ../sass/main.scss */
#social-media ul.menu {
  display: inline-block;
}

/* line 841, ../sass/main.scss */
#social-media li {
  margin-right: 15px;
  top: 1px;
}

/* line 845, ../sass/main.scss */
#social-media li a img {
  width: 25px;
  height: 25px;
}

/* line 852, ../sass/main.scss */
#webpage .content-view-line.class-user h2 small {
  display: block;
  float: none;
}

/* line 856, ../sass/main.scss */
nav.links .cart a {
  font-size: 85%;
}

/********************************************************************************
  header
********************************************************************************/
/* ------------------------------------------------------------------------
  user pane
------------------------------------------------------------------------ */
/* line 867, ../sass/main.scss */
body header[role="banner"] #user-pane {
  font-size: 13px;
}

/* line 870, ../sass/main.scss */
header[role="banner"] .loginbox {
  height: 24px;
  width: 140px;
  margin-right: 12px;
  padding: 0px 2px;
  background-color: transparent;
  border: none;
}

/* line 878, ../sass/main.scss */
#user-pane #login {
  height: 18px;
  padding: 0;
  width: 136px;
  border: none;
  margin-top: 3px;
}

/* line 885, ../sass/main.scss */
#login input {
  width: 134px;
  vertical-align: top;
  height: 16px;
}

/* line 890, ../sass/main.scss */
header[role="banner"] .loginbox input {
  width: 134px;
  padding: 0;
}

/* line 894, ../sass/main.scss */
header[role="banner"] #user-pane {
  font-family: 'PFDinTextPro-medium';
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 200px;
  margin-top: 10px;
  width: 880px;
}

/* line 902, ../sass/main.scss */
header[role="banner"] #user-pane a {
  color: #fff;
  text-decoration: none;
}

/* line 906, ../sass/main.scss */
#user-pane li {
  padding: 0 5px;
  border-right: 2px solid #DAC792;
}

/* line 910, ../sass/main.scss */
#user-pane li#language-switcher {
  border-right: 0px;
}

/* line 913, ../sass/main.scss */
#user-pane li#language-switcher label span {
  margin: 0;
}

/* line 916, ../sass/main.scss */
#user-pane li li {
  border-right: none;
  padding: 0;
}

/* line 920, ../sass/main.scss */
#user-pane label {
  vertical-align: top;
  margin-right: 5px;
}

/* line 924, ../sass/main.scss */
#user-pane #lang_switch {
  margin-right: 0;
}

/* line 927, ../sass/main.scss */
#user-pane strong {
  font-weight: normal;
}

/* line 930, ../sass/main.scss */
#user-pane .no-display {
  display: none;
}

/* line 933, ../sass/main.scss */
#login_form ul {
  margin: 0px;
  padding: 0px;
}

/* line 937, ../sass/main.scss */
#languages {
  margin-left: 0;
}

/* line 940, ../sass/main.scss */
#user-pane #change-cookie {
  border-right: none;
}

/* line 943, ../sass/main.scss */
.module-view-dashboard #site-main-content h2 a {
  font-size: 20px;
}

/********************************************************************************
  footer
********************************************************************************/
/* line 951, ../sass/main.scss */
footer {
  background: rgba(0, 0, 0, 0) url("../../images/FooterBckgrnd.jpg") no-repeat scroll center center/cover;
  text-align: left;
  padding-left: 5px;
  height: 295px;
  padding-bottom: 0px;
}
/* line 957, ../sass/main.scss */
footer p {
  font-family: "PFDinTextPro-regular";
  font-weight: 400;
  line-height: 1.1em;
  font-size: 18px;
  color: #fff;
}
/* line 964, ../sass/main.scss */
footer h4 {
  text-transform: uppercase;
  font-family: "PFDinTextPro-bold";
  font-weight: normal;
  color: #ebb111;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 0px;
}
/* line 973, ../sass/main.scss */
footer a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

/* line 979, ../sass/main.scss */
#subfooter {
  background-color: #282a2b;
  border-top: 1px solid #4b4c4d;
  padding-bottom: 16px;
  padding-top: 18px;
  color: #8c8989;
}

/* line 986, ../sass/main.scss */
#subfooter p, #subfooter a {
  font-size: 12px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

/* line 991, ../sass/main.scss */
#subfooter a {
  color: #ffffff;
  text-decoration: none;
}

/* line 995, ../sass/main.scss */
#subfooter .subfooter-container {
  width: 980px;
  margin: 0 auto;
}

/********************************************************************************
  navigation
********************************************************************************/
/* ------------------------------------------------------------------------
  global menubar
------------------------------------------------------------------------ */
/* line 1006, ../sass/main.scss */
#global-menubar {
  height: 50px;
  background-color: transparent;
}
/* line 1009, ../sass/main.scss */
#global-menubar ul.menu {
  height: 50px;
  z-index: 10;
}
/* line 1012, ../sass/main.scss */
#global-menubar ul.menu li {
  height: 50px;
}
/* line 1014, ../sass/main.scss */
#global-menubar ul.menu li .nav-link {
  height: 50px;
  line-height: 50px;
}
/* line 1018, ../sass/main.scss */
#global-menubar ul.menu li:hover ul.menu {
  top: 44px;
}
/* line 1021, ../sass/main.scss */
#global-menubar ul.menu li ul.menu {
  background-color: #f2efef;
  border-top: 3px solid #eeb111;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
  font-family: "PT Sans",Arial,Helvetica,sans-serif;
  font-weight: 400;
  height: auto;
  top: 47px;
}
/* line 1029, ../sass/main.scss */
#global-menubar ul.menu li ul.menu li {
  height: auto;
}
/* line 1031, ../sass/main.scss */
#global-menubar ul.menu li ul.menu li a {
  text-transform: none;
  font-family: 'PFDinTextPro-regular', sans-serif;
  padding: 7px 12px;
  border-bottom: 1px solid #dcdadb;
}
/* line 1037, ../sass/main.scss */
#global-menubar ul.menu li ul.menu li:last-of-type a {
  border-bottom: none;
}

/* ------------------------------------------------------------------------
  secondary navigation
------------------------------------------------------------------------ */
/* line 1049, ../sass/main.scss */
#secondary-navigation {
  background-color: #005c81;
  height: 42px;
  display: none;
}

/* line 1054, ../sass/main.scss */
#secondary-navigation a {
  font-family: 'PFDinTextPro-medium';
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  width: 324px;
  padding: 6px 0;
  text-align: center;
  background: #005c81 url("../../images/secondary-nav-bg.png") repeat;
}

/* line 1065, ../sass/main.scss */
#secondary-navigation a:hover {
  color: #c7e5f2;
}

/* ------------------------------------------------------------------------
  site sidebar
------------------------------------------------------------------------ */
/* line 1072, ../sass/main.scss */
#site_sidebar {
  left: 980px;
  top: 200px;
  position: absolute;
  font-family: 'PFDinTextPro-regular';
  font-size: 12px;
}

/* line 1079, ../sass/main.scss */
#site_sidebar .toggle {
  background-color: #faf9f5;
  box-shadow: 0px 0px 3px #888;
  margin-top: 0;
  padding: 5px;
  width: 110px;
  -moz-box-shadow: 0px 0px 3px #888;
  -webkit-box-shadow: 0px 0px 3px #888;
}

/* line 1088, ../sass/main.scss */
#site_sidebar #site_sidebar_toggle {
  background-color: #dadbdb;
  display: block;
  padding: 2px 4px;
  position: absolute;
  right: -15px;
  top: 0;
}

/* line 1096, ../sass/main.scss */
#site_sidebar p {
  margin: 0;
}

/* line 1099, ../sass/main.scss */
#site_sidebar a.redBold {
  font-weight: bold;
}

/* line 1102, ../sass/main.scss */
#site_sidebar .separator {
  margin: 7px 0;
  padding: 0;
}

/* line 1106, ../sass/main.scss */
#site_sidebar .separator hr {
  height: 2px;
  background-color: #333;
}

/* line 1110, ../sass/main.scss */
#site_sidebar li {
  line-height: 14px;
  margin-bottom: 9px;
}

/* line 1114, ../sass/main.scss */
#site_sidebar li a:hover {
  text-decoration: underline;
}

/* line 1117, ../sass/main.scss */
#site_sidebar li .redBold {
  font-weight: normal;
  font-family: "PFDinTextPro-medium";
}

/* ------------------------------------------------------------------------
  sidemenu
------------------------------------------------------------------------ */
/* line 1125, ../sass/main.scss */
#sidebar {
  position: relative;
  left: -10px;
}

/* line 1129, ../sass/main.scss */
#sidemenu {
  border: none;
  background-color: #ebebeb;
  padding: 10px 10px 10px 15px;
}

/* line 1134, ../sass/main.scss */
#sidemenu h2 a {
  color: #333;
}

/* line 1137, ../sass/main.scss */
#sidemenu h2 {
  color: #333;
}

/* line 1140, ../sass/main.scss */
#sidemenu .link_ob_class_nav_divider {
  color: #333;
}

/* line 1143, ../sass/main.scss */
#sidemenu .separator {
  display: none;
}

/* line 1146, ../sass/main.scss */
.previous-link {
  margin-top: 15px;
}

/* ------------------------------------------------------------------------
  footer navigation
------------------------------------------------------------------------ */
/* line 1153, ../sass/main.scss */
.content-view-full footer h2 {
  color: #ffffff;
  font-family: 'PFDinTextPro-bold';
  text-transform: uppercase;
  font-weight: normal;
}

/* line 1159, ../sass/main.scss */
#webpage footer td {
  background: url("../../images/footer-column-bg.png") right 20px no-repeat;
  padding: 0 15px;
}

/* line 1163, ../sass/main.scss */
footer ul {
  list-style-type: none;
  padding: 5px 0 10px 10px;
  margin: 0;
}

/* line 1168, ../sass/main.scss */
footer ul a {
  color: #fff;
  text-decoration: underline;
  font-size: 12px;
}

/* line 1173, ../sass/main.scss */
table[summary="footer copyright"] a {
  font-family: 'PFDinTextPro-medium';
  color: #ffffff;
  text-decoration: underline;
}

/* line 1178, ../sass/main.scss */
footer .body-container table {
  color: #ffffff;
}
/* line 1180, ../sass/main.scss */
footer .body-container table tr td ul {
  margin-bottom: 10px;
  padding-top: 0px;
}
/* line 1185, ../sass/main.scss */
footer .body-container table tr:first-of-type td:first-of-type {
  width: 130px;
}
/* line 1187, ../sass/main.scss */
footer .body-container table tr:first-of-type td:first-of-type .content-view-embed.class-image .attribute-image img {
  width: 118px;
  height: 118px;
  position: relative;
  top: -21px;
}
/* line 1194, ../sass/main.scss */
footer .body-container table tr:first-of-type td:nth-of-type(2) {
  font-size: 18px;
  font-family: "PFDinTextPro-regular";
  width: 350px;
  line-height: 1.2em;
  padding-right: 20px;
  padding-top: 35px;
}
/* line 1201, ../sass/main.scss */
footer .body-container table tr:first-of-type td:nth-of-type(2) a {
  color: #bfbfbf;
}
/* line 1203, ../sass/main.scss */
footer .body-container table tr:first-of-type td:nth-of-type(2) a:hover {
  color: #ebb111;
}
/* line 1209, ../sass/main.scss */
footer .body-container table tr:first-of-type td:nth-of-type(3) ul li a {
  font-family: "PFDinTextPro-medium";
  font-weight: 400;
  line-height: 1.5em;
}
/* line 1214, ../sass/main.scss */
footer .body-container table tr:first-of-type td:nth-of-type(3) p {
  margin-top: 5px;
  color: #8c8989;
}
/* line 1217, ../sass/main.scss */
footer .body-container table tr:first-of-type td:nth-of-type(3) p a {
  color: #fff;
}
/* line 1219, ../sass/main.scss */
footer .body-container table tr:first-of-type td:nth-of-type(3) p a:hover {
  color: #ebb111;
}
/* line 1224, ../sass/main.scss */
footer .body-container table tr:first-of-type td:nth-of-type(3) h4:first-of-type {
  margin-top: 35px;
}
/* line 1229, ../sass/main.scss */
footer .body-container table tr:first-of-type td:nth-of-type(4) h2:first-of-type, footer .body-container table tr:first-of-type td:nth-of-type(4) h2:nth-of-type(2) {
  margin-bottom: 15px !important;
}
/* line 1234, ../sass/main.scss */
footer .body-container table tr:nth-of-type(2) {
  border-top: 1px solid #fff;
}
/* line 1236, ../sass/main.scss */
footer .body-container table tr:nth-of-type(2) td {
  font-size: 18px;
  text-decoration: none;
  font-family: "PFDinTextPro-regular";
  font-weight: 400;
  line-height: 1.2em;
  width: 480px;
  padding-right: 50px;
  padding-top: 20px;
}
/* line 1245, ../sass/main.scss */
footer .body-container table tr:nth-of-type(2) td a {
  margin: 0 10px;
}
/* line 1247, ../sass/main.scss */
footer .body-container table tr:nth-of-type(2) td a:first-of-type {
  margin-left: 0px;
}
/* line 1250, ../sass/main.scss */
footer .body-container table tr:nth-of-type(2) td a:hover {
  color: #ebb111;
}

/********************************************************************************
  user page
********************************************************************************/
/* ------------------------------------------------------------------------
  accept cookies browser bar
------------------------------------------------------------------------ */
/* line 1265, ../sass/main.scss */
#cookie-notice {
  border-bottom: 3px solid #bbb;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 1271, ../sass/main.scss */
#cookie-notice p {
  margin: 8px auto;
  position: relative;
}

/* line 1275, ../sass/main.scss */
#cookie-notice a {
  font-family: 'PFDinTextPro-medium';
  text-transform: uppercase;
}

/********************************************************************************
  custom tags
********************************************************************************/
/* line 1283, ../sass/main.scss */
#site-main-content .customtag h2 {
  font-weight: normal;
  line-height: 20px;
  text-transform: none;
}

/* line 1288, ../sass/main.scss */
#site-main-content .customtag h3 a {
  font-size: 18px;
  text-transform: none;
}

/* ------------------------------------------------------------------------
  featured blog post
------------------------------------------------------------------------ */
/* line 1296, ../sass/main.scss */
#site-main-content.class-enhanced-frontpage .custom-tag-featured_blog_post h3 {
  text-transform: none;
  font-weight: normal;
}

/* line 1300, ../sass/main.scss */
#site-main-content.class-enhanced-frontpage .custom-tag-featured_blog_post h3 a {
  font-size: 18px;
}

/* ------------------------------------------------------------------------
  content tabs
------------------------------------------------------------------------ */
/* line 1307, ../sass/main.scss */
.customtag.custom-tag-tabbox {
  margin: 0;
  padding: 0;
}

/* line 1311, ../sass/main.scss */
.customtag.custom-tag-tabbox .customtag-content .tabs li {
  width: 88%;
}

/* line 1314, ../sass/main.scss */
.customtag-content .tabs a {
  padding: 6px 17px;
  width: 100%;
}

/* ------------------------------------------------------------------------
  daily news
------------------------------------------------------------------------ */
/* line 1322, ../sass/main.scss */
.content-view-listitem.class-news-item h2 {
  font-family: 'PFDinTextPro-regular';
}

/* line 1325, ../sass/main.scss */
.custom-tag-scrollable header span.realmedia_TopRight a {
  margin-top: 34px;
}

/* line 1328, ../sass/main.scss */
.custom-tag-scrollable header {
  padding-bottom: 15px;
}

/* line 1331, ../sass/main.scss */
.custom-tag-daily-news {
  padding: 0;
  margin: 0;
  padding-top: 15px;
}

/* line 1336, ../sass/main.scss */
#site-main-content .custom-tag-daily-news a {
  font-family: 'PFDinTextPro-medium';
  font-size: 14px;
  color: #075387;
  text-decoration: underline;
}

/* line 1342, ../sass/main.scss */
.custom-tag-daily-news h2 {
  margin: 0 0 5px;
}

/* line 1345, ../sass/main.scss */
.custom-tag-daily-news ul {
  list-style-type: none;
  padding: 0;
}

/* line 1349, ../sass/main.scss */
.custom-tag-daily-news .content_selector h2 {
  display: inline-block;
}

/* line 1352, ../sass/main.scss */
.realmedia_TopRight img {
  margin-top: 0;
}

/* line 1355, ../sass/main.scss */
.custom-tag-daily-news .content_selector {
  margin-bottom: 20px;
}

/* line 1358, ../sass/main.scss */
#site-main-content .custom-tag-daily-news .content_selector a.items {
  color: #888;
}

/* line 1361, ../sass/main.scss */
#site-main-content .custom-tag-daily-news .content_selector a.items.news-toggle {
  color: #075387;
}

/* line 1364, ../sass/main.scss */
.custom-tag-daily-news ul.items {
  display: none;
}

/* line 1367, ../sass/main.scss */
.custom-tag-daily-news ul.items.news-toggle {
  display: block;
}

/* ------------------------------------------------------------------------
  latest research
------------------------------------------------------------------------ */
/* line 1374, ../sass/main.scss */
.custom-tag-latest-research {
  background-color: #dadbdd;
  border: none;
  padding: 1px 10px;
}

/* line 1379, ../sass/main.scss */
#site-main-content.class-enhanced-frontpage .custom-tag-latest-research h2 {
  color: #C4122F;
  margin: 0 0 8px;
}

/* line 1383, ../sass/main.scss */
#site-main-content .custom-tag-latest-research ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0;
}

/* line 1388, ../sass/main.scss */
#site-main-content .custom-tag-latest-research li a {
  font-size: 14px;
  color: #015186;
  font-family: 'PFDinTextPro-medium';
}

/* ------------------------------------------------------------------------
  twitter feed
------------------------------------------------------------------------ */
/* line 1397, ../sass/main.scss */
.custom-tag-twitterfeed {
  padding: 0;
  background-color: transparent;
  border: none;
  margin-top: 15px;
}

/* line 1403, ../sass/main.scss */
.column.follow-button {
  margin-right: 5px;
}

/* line 1406, ../sass/main.scss */
.media_feed_post {
  font-size: 14px;
}

/* line 1409, ../sass/main.scss */
.custom-tag-twitterfeed a {
  font-family: 'PFDinTextPro-medium';
  color: #03548b;
  font-size: 18px;
}

/* line 1414, ../sass/main.scss */
#site-main-content .custom-tag-twitterfeed .twitter_user {
  font-size: 18px;
  font-family: "PFDinTextPro-medium";
}

/* line 1418, ../sass/main.scss */
.custom-tag-twitterfeed .column.header-icon {
  display: none;
}

/* line 1421, ../sass/main.scss */
.custom-tag-twitterfeed .feed-item {
  margin: 8px 0;
}

/* line 1424, ../sass/main.scss */
.custom-tag-twitterfeed h2 {
  position: relative;
  top: 5px;
}

/* ------------------------------------------------------------------------
  recent blogpostlist
------------------------------------------------------------------------ */
/* line 1432, ../sass/main.scss */
a.rss {
  display: inline-block;
  margin-top: 10px;
}

/********************************************************************************
  content classes
********************************************************************************/
/* ------------------------------------------------------------------------
  conference
------------------------------------------------------------------------ */
/* line 1445, ../sass/main.scss */
.content-view-embed.class-conference .attribute-image {
  width: 50px;
  float: left;
  margin: 0 10px 0 0;
}

/* line 1450, ../sass/main.scss */
.content-view-line .attribute-image {
  margin-right: 10px;
}

/* line 1453, ../sass/main.scss */
.content-view-embed .attribute-image a {
  text-decoration: none;
}

/* line 1456, ../sass/main.scss */
#site-main-content .content-view-embed.class-conference h2 a {
  display: inline-block;
  margin: 0 0 4px 10px;
  width: 212px;
  text-transform: none;
  font-size: 18px;
}

/* line 1463, ../sass/main.scss */
#site-main-content .content-view-embed.class-conference .attribute-image {
  margin-right: 8px;
}

/* line 1466, ../sass/main.scss */
#site-main-content .content-view-embed.class-conference h3 {
  margin-bottom: 10px;
}

/* line 1469, ../sass/main.scss */
.content-view-embed.class-conference span.location {
  border-top: 1px solid #3a4046;
  color: #3a4046;
  display: block;
  font-family: 'PFDinTextPro-medium';
  font-size: 18px;
}

/* line 1476, ../sass/main.scss */
.content-view-line.class-conference .column {
  width: 345px;
}

/* line 1479, ../sass/main.scss */
.noextrainfo .content-view-line.class-conference .column {
  width: auto;
  max-width: 670px;
}

/* line 1483, ../sass/main.scss */
.content-view-line.class-conference .column.attribute-image {
  width: 80px;
}

/* line 1486, ../sass/main.scss */
.content-view-line.class-conference.featured {
  background-color: #e9e9e9;
  padding: 10px;
}

/* line 1490, ../sass/main.scss */
#site-main-content .content-view-line.class-conference .column h2 a {
  font-size: 22px;
  text-decoration: underline;
}

/* line 1494, ../sass/main.scss */
.class-conference .conference-content {
  padding-top: 20px;
}

/* line 1497, ../sass/main.scss */
#site-main-content.class-conference h3 {
  display: inline-block;
}

/* line 1500, ../sass/main.scss */
#site-main-content.class-conference .location {
  float: right;
  position: relative;
  top: 2px;
}

/*
.class-conference .class-conference-title {
    display: none;
}*/
/* ------------------------------------------------------------------------
  product
------------------------------------------------------------------------ */
/* line 1512, ../sass/main.scss */
.content-view-embed.class-xrow_product h3 {
  text-transform: none;
}

/* line 1515, ../sass/main.scss */
.class-enhanced-frontpage .content-view-embed.class-xrow_product.featured h3 {
  font-size: 16px;
  color: #015186;
  font-family: 'PFDinTextPro-medium';
  font-weight: normal;
}

/* line 1521, ../sass/main.scss */
.class-enhanced-frontpage .content-view-embed.class-xrow_product.featured p {
  color: #333;
}

/* line 1524, ../sass/main.scss */
.class-xrow_product.line-image .product-image.featured {
  width: 55px;
}

/* line 1527, ../sass/main.scss */
div.class-xrow-commerce div.attribute-image {
  border: none;
}

/* ------------------------------------------------------------------------
  article
------------------------------------------------------------------------ */
/* line 1534, ../sass/main.scss */
.button.share, .button.print {
  color: #5c5c5c !important;
}

/* line 1537, ../sass/main.scss */
.content-view-full #article-utility h2 {
  color: #024c73;
}

/* line 1540, ../sass/main.scss */
#site-main-content.content-view-full.class-xrow-product header {
  padding: 10px 0 20px;
}

/* line 1543, ../sass/main.scss */
#site-main-content .content-view-full header {
  padding: 15px 0 5px;
}

/* line 1546, ../sass/main.scss */
#site-main-content.class-article section.advanced.module.related-content header {
  background-color: #f5f5f2;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding: 6px 10px;
}

/* line 1552, ../sass/main.scss */
#site-main-content.class-article section.advanced.module.related-content h1 {
  border: none;
  color: #005187;
  font-family: Arial;
  padding: 0;
  text-transform: uppercase;
}

/* line 1559, ../sass/main.scss */
#site-main-content.class-article .article-content .content-sidebar h2 {
  margin-bottom: 8px;
}

/* line 1562, ../sass/main.scss */
#site-main-content.content-view-full.class-article .article-content .content-sidebar h3 {
  margin: 10px 0;
}

/* line 1565, ../sass/main.scss */
#site-main-content #comments.advanced.module h1 {
  font-weight: normal;
  padding: 10px 0;
}

/* line 1569, ../sass/main.scss */
#site-main-content .related-content ul a {
  font-family: arial;
  font-size: 12px;
  font-weight: normal;
}

/* line 1574, ../sass/main.scss */
.recent-updates header {
  padding: 6px 0 0;
}
/* line 1576, ../sass/main.scss */
.recent-updates header h1 {
  border-bottom: none;
  border-top: none;
}

/* line 1581, ../sass/main.scss */
.recent-updates .column {
  width: 156px;
}

/* ------------------------------------------------------------------------
  blog
------------------------------------------------------------------------- */
/* line 1588, ../sass/main.scss */
 
#site-main-content .attribute-byline .date {
  margin: 4px 0;
}

/* line 1591, ../sass/main.scss */
#site-main-content.content-view-full.class-blog h1 {
  margin-bottom: 10px;
}

/* line 1594, ../sass/main.scss */
#site-main-content.content-view-full.class-blog .related-content {
  margin: 0;
}

/* line 1598, ../sass/main.scss */
#site-main-content.class-enhanced-frontpage.content-view-full
.content-view-embed.class-blog-post {
  margin: 0;
}

/* line 1601, ../sass/main.scss */
#site-main-content.content-view-full .content-view-embed.class-blog-post {
  margin: 15px 0;
}

/* line 1604, ../sass/main.scss */
#site-main-content.content-view-full .content-view-embed.class-blog-post p {
  margin: 5px 0;
  line-height: 18px;
}

/********************************************************************************
  search
********************************************************************************/
/* line 1612, ../sass/main.scss */
.searchtext {
  height: 20px;
  vertical-align: top;
  padding-left: 5px;
}

/* line 1617, ../sass/main.scss */
#site-main-content .content-view-line.class-article.line-image .column.r-articlethumbnail {
  width: 760px;
}

/* line 1620, ../sass/main.scss */
.searchbutton {
  position: relative;
  top: 2px;
}

/* line 1624, ../sass/main.scss */
.module-view-search #savethissearch {
  background-color: #00557a;
  border: none;
  color: #ffffff;
  font-family: 'PFDinTextPro-medium';
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
  padding: 2px 4px;
  position: relative;
  text-transform: uppercase;
  top: 2px;
}

/* line 1637, ../sass/main.scss */
#searchCreationTimeDateFilterLabel {
  position: relative;
  left: 2px;
  top: 2px;
  font-weight: 600;
}

/* line 1643, ../sass/main.scss */
#searchCreationTimeDateFilter {
  position: relative;
  left: 2px;
  top: 2px;
}

/* ------------------------------------------------------------------------
  topic
------------------------------------------------------------------------ */
/* line 1652, ../sass/main.scss */
.content-view-embed.class-topic .content-view-embed.class-topic {
  background-color: #ededed;
  border: 1px solid #ccc;
  width: 315px;
  padding-bottom: 10px;
}

/* line 1658, ../sass/main.scss */
.topic_embed_image {
  height: 49px;
  width: 100%;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
}

/* line 1665, ../sass/main.scss */
.topic_embed_image h2 {
  position: absolute;
  left: 62px;
}

/* line 1669, ../sass/main.scss */
#site-main-content .topic_embed_image h2 {
  margin-top: 11px;
}

/* line 1672, ../sass/main.scss */
#site-main-content .topic_embed_image h2 a {
  color: #00446A;
  font-size: 14px;
  position: relative;
}

/* line 1677, ../sass/main.scss */
#site-main-content .content-view-embed.class-topic .items h2 a {
  padding: 0 0px;
  font-family: arial, helvetica, sans-serif;
  font-weight: normal;
  text-decoration: underline;
  font-size: 12px;
  color: #015186;
}

/* line 1685, ../sass/main.scss */
.topic_embed_image img {
  position: absolute;
}

/* line 1688, ../sass/main.scss */
.content-view-embed.class-topic .top_topic_match_img {
  height: 64px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  display: none;
}

/* line 1696, ../sass/main.scss */
.top_topic_match_img img {
  width: 100%;
  height: auto !important;
}

/* line 1700, ../sass/main.scss */
.content-view-embed.class-topic .items h2 {
  padding: 0 10px;
}

/* line 1704, ../sass/main.scss */
.dashboard-link {
  display: inline;
  position: absolute;
  top: 45px;
  left: 207px;
}

/* line 1710, ../sass/main.scss */
.dashboard-link a {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'PFDinTextPro-medium', sans-serif;
}

/* line 1716, ../sass/main.scss */
.noalign .attribute-image, .align-center .attribute-image {
  width: 100%;
  margin-bottom: 10px;
}

/* line 1720, ../sass/main.scss */
.noalign .infobox .attribute-image, .align-center .infobox .attribute-image {
  width: auto;
}

/* line 1723, ../sass/main.scss */
.align-center .attribute-image a {
  text-align: center;
}

/* fusion helper classes */
/* line 1728, ../sass/main.scss */
.fusion-column-wrapper {
  overflow: hidden;
}

/* line 1731, ../sass/main.scss */
.fusion-layout-column {
  position: relative;
  float: left;
  margin-right: 4%;
  margin-bottom: 20px;
}

/* line 1737, ../sass/main.scss */
.fusion-one-full {
  float: none;
}

/* line 1740, ../sass/main.scss */
.fusion-one-sixth {
  width: 13.3333%;
}

/* line 1743, ../sass/main.scss */
.fusion-five-sixth {
  width: 82.6666%;
}

/* line 1746, ../sass/main.scss */
.fusion-one-fifth {
  width: 16.8%;
}

/* line 1749, ../sass/main.scss */
.fusion-two-fifth {
  width: 37.6%;
}

/* line 1752, ../sass/main.scss */
.fusion-three-fifth {
  width: 58.4%;
}

/* line 1755, ../sass/main.scss */
.fusion-four-fifth {
  width: 79.2%;
}

/* line 1758, ../sass/main.scss */
.fusion-one-fourth {
  width: 22%;
}

/* line 1761, ../sass/main.scss */
.fusion-three-fourth {
  width: 74%;
}

/* line 1764, ../sass/main.scss */
.fusion-one-third {
  width: 30.6666%;
}

/* line 1767, ../sass/main.scss */
.fusion-two-third {
  width: 65.3333%;
}

/* line 1770, ../sass/main.scss */
.fusion-one-half {
  width: 48%;
}

/* line 1773, ../sass/main.scss */
.fusion-column-last {
  margin-left: 0;
  margin-right: 0;
}

/* end fusion grid */
/* line 1779, ../sass/main.scss */
span.title a {
  font-size: 18px;
  font-family: 'PFDinTextPro-medium', sans-serif;
  color: #333333;
}

/*------------Site Header --------------*/
/* line 1787, ../sass/main.scss */
.frm1 {
  display: table;
  margin: 0 0 0 170px;
  width: 345px;
  position: relative;
  top: -35px;
  position: relative;
}
/* line 1794, ../sass/main.scss */
.frm1 .sel_box {
  width: 500px;
}
/* line 1796, ../sass/main.scss */
.frm1 .sel_box select {
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
/* line 1802, ../sass/main.scss */
.frm1 .sel_box select::-ms-expand {
  display: none;
}
/* line 1807, ../sass/main.scss */
.frm1 #region-selector {
  border-radius: 0px;
}

/* line 1811, ../sass/main.scss */
.frm1 > input[type="text"] {
  float: left;
  font-size: 18px;
  padding: 3px 5px 3px 25px;
  width: 200px;
}

/* line 1817, ../sass/main.scss */
.frm1 > input[type="submit"] {
  background-color: #000;
  border: medium none;
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 18px;
  margin: 0;
  padding: 3px 5px;
  width: auto;
  -webkit-appearance: none;
  border-radius: 0px;
}

/* line 1830, ../sass/main.scss */
.frm1 select {
  background: rgba(255, 255, 255, 0.7) url("http://siawebsite.staging.wpengine.com/wp-content/uploads/2015/07/triangle.png") no-repeat scroll left center;
  border: 0 none;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 4px 4px 20px;
  width: 415px;
}

/* Base and example */
/* line 1842, ../sass/main.scss */
body {
  font-size: 88%;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  color: #4e4e4e;
  padding: 0;
}

/* line 1850, ../sass/main.scss */
#overlaylaunch-inAbox {
  text-decoration: none;
  cursor: pointer;
}

/* line 1855, ../sass/main.scss */
#overlay-inAbox .wrapper {
  padding: 10px;
}
/* line 1857, ../sass/main.scss */
#overlay-inAbox .wrapper .toolbar {
  float: right;
}
/* line 1859, ../sass/main.scss */
#overlay-inAbox .wrapper .toolbar .close {
  font-size: 0px;
  background: url("../../images/closebtn.png") no-repeat;
  width: 36px;
  height: 36px;
  position: relative;
  top: -15px;
  left: 25px;
  display: block;
}
/* line 1871, ../sass/main.scss */
#overlay-inAbox .wrapper .user-login form .warning {
  display: none;
}
/* line 1873, ../sass/main.scss */
#overlay-inAbox .wrapper .user-login form .warning.bad-login {
  display: block;
}
/* line 1877, ../sass/main.scss */
#overlay-inAbox .wrapper .user-login form .block input {
  box-shadow: none;
  border: none;
  height: 30px;
  width: 280px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
}
/* line 1886, ../sass/main.scss */
#overlay-inAbox .wrapper .user-login form .block input::-webkit-input-placeholder {
  color: #999999;
}
/* line 1889, ../sass/main.scss */
#overlay-inAbox .wrapper .user-login form .block input:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}
/* line 1892, ../sass/main.scss */
#overlay-inAbox .wrapper .user-login form .block input::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}
/* line 1895, ../sass/main.scss */
#overlay-inAbox .wrapper .user-login form .block input:-ms-input-placeholder {
  color: #999999;
}
/* line 1899, ../sass/main.scss */
#overlay-inAbox .wrapper .user-login form .buttonblock {
  text-align: center;
}
/* line 1901, ../sass/main.scss */
#overlay-inAbox .wrapper .user-login form .buttonblock input {
  font-size: 16px;
  height: 30px;
  line-height: 0.5em;
  padding: 10px;
  border: none;
}
/* line 1908, ../sass/main.scss */
#overlay-inAbox .wrapper .user-login form .buttonblock .forgot input.button {
  background: none;
  border: none;
  color: #fff;
  padding: 0;
  font-size: 14px;
  position: relative;
  top: 5px;
}
/* line 1918, ../sass/main.scss */
#overlay-inAbox .wrapper .user-login form .attribute-header h1 {
  padding-top: 10px;
  margin-bottom: 10px;
}

/* line 1925, ../sass/main.scss */
.invisible {
  display: none !important;
}

/* More important stuff */
/* line 1933, ../sass/main.scss */
.overlay,
#overlay-shade {
  display: none;
}

/* line 1937, ../sass/main.scss */
#overlay-shade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #000;
}

/* line 1947, ../sass/main.scss */
.overlay {
  position: absolute;
  top: -300px;
  left: 0;
  width: 450px;
  min-height: 200px;
  z-index: 10000;
  background-color: #7D7D7D;
  border: 10px solid #CFCFCF;
  color: #fff;
  box-shadow: 0 0 16px #000;
}

/* line 1958, ../sass/main.scss */
.ie7 .overlay {
  height: 200px;
}

/* line 1960, ../sass/main.scss */
.overlay .wrapper {
  padding: 15px 30px 30px;
}

/* line 1965, ../sass/main.scss */
.overlay .toolbar {
  padding: 8px;
  line-height: 1;
  text-align: right;
  overflow: hidden;
}

/* line 1970, ../sass/main.scss */
.overlay .toolbar a.close {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0 8px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  line-height: 18px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  color: #999999;
  background-color: #515151;
}

/* line 1985, ../sass/main.scss */
.overlay .toolbar a.close span {
  color: #818181;
}

/* line 1988, ../sass/main.scss */
.overlay .toolbar a.close:hover,
.overlay .toolbar a.close:hover span {
  background-color: #b90900;
  color: #fff;
}

/* line 1993, ../sass/main.scss */
#overlay-inAbox {
  display: none;
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
/* line 2000, ../sass/main.scss */
#overlay-inAbox .wrapper {
  margin: 0 auto;
  width: 300px;
  background: #47555e;
  margin-top: 40px;
  padding: 0 10px 1px 10px;
}
/* line 2006, ../sass/main.scss */
#overlay-inAbox .wrapper form .attribute-header h1 {
  color: #fff;
}

/* line 2011, ../sass/main.scss */
.scr_overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: -1;
}

/* comments */
/* line 2024, ../sass/main.scss */
#ezcom-comment-list .class-comment h2 {
  margin-left: 10px;
}
/* line 2027, ../sass/main.scss */
#ezcom-comment-list .class-comment .author-name {
  color: #015186;
  margin-right: 5px;
  font-family: 'PFDinTextPro-medium', sans-serif;
}
/* line 2032, ../sass/main.scss */
#ezcom-comment-list .class-comment .author {
  width: 100%;
  margin-top: 0px;
  position: relative;
  left: 10px;
  margin-bottom: 5px;
}

/* line 2041, ../sass/main.scss */
#site-columns .document #path {
  display: none;
}
