<header><h2>Oops! We’re sorry, the page you have requested cannot be found.</h2></header>
<p>Please check the URL and try again or use the links below to continue.</p>
<ul>
	<li><a href='/'>Homepage</a></li>
	<li><a href='/content/view/sitemap/2'>Sitemap</a></li>
	<li><a href='/content/search'>Search</a></li>
</ul>
{if $embed_content}{$embed_content}{/if}