{* <apldoc>
Shows the cybersource transaction confirmation.
</apldoc> *}

<h2>Billing Form not available</h2>

{if eq($customer_status, 'NEW')}


Your account is in process of validation, soon you will be notificated to  <b>{$customer_data.Profile.EmailAddress} </b>  for proceeding with your registration process

{elseif eq($customer_status, 'ACTIVE')}

You have already completed the registration process

{else}

You are not allowed to do a registration payment, contact us for more details

{/if}


