.column{
	display:inline-block;
	vertical-align:top;
	zoom:1;
}

form#website-users .block{
	border-bottom:1px dashed #cccccc;
	margin-bottom:10px;
	padding-bottom:4px;
	text-align:right;
}

form#website-users .block .attribute-label{
	float:left;
	width:50%;
}

form#website-users .buttonblock{
	border-width:0;
}

form#website-users .headings{
	height:20px;
}

form#website-users .block h2{
	float:right;
	margin:0;
	padding-right:20px;
}
form#website-users .block h2.first{
	float:left;
	padding-left:20px;
}
form#website-users label{
	display:inline-block;
	float:left;
	margin-right:20px;
	zoom:1;
}