ul.tabs a{
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
body .tooltip{
	border: 1px solid #333333;
	border-radius:10px;
	box-shadow:1px 1px 10px #000000;

	/*
	background:-moz-linear-gradient(#476f91 0%, #476f91 25%, #6198c7 100%);
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#476f91), to(#6198c7), color-stop(0.25,#476f91));
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px;
	*/
	-moz-border-radius:10px;
	-moz-box-shadow: 1px 1px 10px #000000;
	-webkit-border-radius:10px;
	-webkit-box-shadow: 1px 1px 10px #000000;
	-webkit-border-radius:10px;

	/*-pie-background:linear-gradient(#476f91 0%, #476f91 25%, #6198c7 100%);*/
	behavior:url(/extension/site/design/framework/stylesheets/pie.htc);
}