/* FORM ELEMENTS */

#editform form
{
    margin: 0;
    padding: 0;
}

#editform label
{
    font-weight: bold;
    padding-right: 0.5em;
    display: block;
    white-space: nowrap;
}

#editform input, select
{
    font-family: Arial, Helvetica, sans-serif; /* Needs to be set for some browsers, to prevent other default font from being used */
}

#editform input.box, input.halfbox
{
    font-size: 1em;
}

#editform textarea
{
    font-family: Arial, Helvetica, sans-serif; /* Usually defaulted to monospaced font; so it needs to be set if to change */
    font-size: 1em; /* Needs to be specified for IE */
}

#editform optgroup
{
    font-weight: bold;
    font-style: normal;
}

#editform input.button, button, input.defaultbutton
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8em;
    color: #343434;
}

#editform input.box, textarea.box
{
    width: 100%;
    border: 1px solid #A5ACB2;
    font-size: 1em;
}

#editform input.halfbox, textarea.halfbox
{
    width: 48%;
}

#editform div.input, div.textarea
{
    margin: 0.5em 0 0.5em 0;
    padding: 0 0.25em 0 0.25em;
    border: 1px solid;
    border-color: #808080 #e0e0e0 #e0e0e0 #808080;
}

#editform div.textarea
{
    padding-right: 0;
}

#editform div.input input, div.textarea textarea
{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

#editform fieldset
{
    border: 1px solid #ccccc3;
    padding: 0.5em;
}

#editform legend
{
    font-weight: bold;
    color: #000000;
    padding: 0 0.25em 0 0.25em;
}

#editform fieldset label
{
    color: #000000;
}

#editform fieldset input.button
{
    margin-top: 0.5em;
}


/* POSITION CONTROL */

#editform div.block /* Used around groups of objects which are connected in some way, and requires extra margins to the surroundings */
{
    margin: 0.5em 0 0.5em 0;
    padding: 0;
    clear: both;
}

#editform div.block div.element /* Used if several objects are to be stacked horizontally within the same block */
{
    padding-right: 1em;
    float: left;
}

#editform div.block div.left /* Floats elements to the left in a block */
{
    width: 48%;
    float: left;
    clear: left;
}

#editform div.block div.right /* Floats elements to the right in a block */
{
    width: 48%;
    float: right;
    clear: right;
}

#editform div.object-left /* Used for floating images and other content elements to the left inside other content */
{
    margin: 0.25em 0.25em 0.25em 0;
    float: left;
    clear: left;
}

#editform div.object-right /* Used for floating images and other content elements to the right inside other content */
{
    margin: 0.25em 0 0.25em 0.25em;
    float: right;
    clear: right;
}

#editform .float-break
{
    height: 1%; /* Fix for IE */
}

#editform .float-break:after /* Terminate floating elements flow */
{
    content: "-";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

#editform div.break /* Old method for terminating floating elements flow; kept for backwards compatibility */
{
    clear: both;
    font-size: 1px; /* Fix for IE */
    height: 1px;
    margin-bottom: -1px;
}