/*********************
  layout
*********************/
#site-main-content{
    background-color:transparent;
    border-width:0;
    padding:0;
    word-wrap:break-word;
}
.extrainfo #extrainfo{
    width:300px;
}
.sidebar #sidebar{
    width:180px;
}
.sidebar.extrainfo #site-main-content{
    width:476px;
}
.noextrainfo.sidebar #site-main-content{
    margin-left:8px;
    width:786px;
}
.nosidebar.extrainfo #site-main-content{
    margin-right:8px;
    width:668px;
}
.module-view-search.sidebar #sidebar{
    font-family:Arial;
    width:275px;
}
.module-view-search.noextrainfo.sidebar #site-main-content{
    width:693px;
}

#facet-list ul,
#facet-list li {
    margin: 3px 0;
}
#extrainfo .infobox .infobox-content .custom-tag-daily-news {
    background-color:#e9e9e9;
}
#extrainfo .infobox .infobox-content .custom-tag-daily-news .content_selector {
	font-family: 'PFDinTextPro-medium';
	font-size: 14px;
	margin-bottom:10px;
}
#extrainfo .infobox .infobox-content .custom-tag-daily-news .content_selector .items {
    color:#888;
}
#extrainfo .infobox .infobox-content .custom-tag-daily-news .content_selector .items.news-toggle {
    color:#075387;
}
#extrainfo .infobox .infobox-content .custom-tag-daily-news .customtag-content ul.items {
    margin:0;
}
#extrainfo .infobox .infobox-content .custom-tag-daily-news .customtag-content ul li {
    font-family: 'PFDinTextPro-medium';
    font-size: 14px;
    margin-bottom: 5px;
}
#extrainfo .infobox .infobox-content .custom-tag-daily-news header h2 {
	font-family: 'PFDinTextPro-bold';
	font-size:25px;
	text-transform: capitalize;
	padding-top:5px;
	color:#333;
	padding-bottom:10px;
}
/*********************
  modules
*********************/
#extrainfo .infobox,#extrainfo .customtag{
    padding-bottom:12px;
}
#extrainfo .infobox {
    background:white url(../images/vignetting-bkgnd.png) no-repeat 50% 0;
}
.module{
    border-color:#ecebdf;
    border-radius:0;
}
#extrainfo .infobox .module{
    background-color:transparent;
    border-width:0;
}
.column .customtag-content{
    padding:0;
}
.infobox.lock header,.customtag.lock header{
    min-height:36px;
}
.custom-tag-scrollable.lock header{
    min-height:20px;
}
.custom-tag-listsubitems.advanced{
    background:transparent url(../images/vignetting-wide-bkgnd.png) repeat-x 50% 0;
    padding:8px;
}
.content-sidebar .ads {
    background-color: transparent;
}

.customtag-content .tabs a {
    font-size: 12px;
}

/*********************
  main styles
*********************/
.cufon-loading body {
    visibility: hidden;
}

a{
    color:#c4122f;
}

a.button,a.seeall {
  background-color: #faf9f5;
  border: 1px solid #dcdcdc;
  color: #df8b19;
  display: block;
  font: bold 12px Arial;
  margin: 0 auto;
  padding: 6px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;

/* Mark:  a.seeall can you change width to auto instead of 175px */

}
#site-main-content header a.lock,.search-results a.lock{
    float:right;
}
body{
    background-color:#fbfbf9;
    color:#45545f;
    font-family:Arial;
}
dl,multicol,p,li{
    line-height:1.5;
}
#site-main-content li {
    margin-bottom: 5px;
}
h1,h2,h3,h4,h5,h6{
    color:#000000;
    font-family:Arial;
    word-wrap:break-word;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
    text-decoration: none;
}
iframe{
    border-width:0;
}
#extrainfo{
    font-family:Arial;
}
#site-columns{
    background-color:transparent;
}
#site-columns{
    padding:0;
}
#path{
    font-family:Arial;
    margin-top:20px;
}
#path a{
    color:#c4122f;
}

/*********************
  general table
*********************/
td[valign="top"] {
        vertical-align: top;
}
td[valign="top"] h3, td[valign="top"] h2 {
        margin-top: 0px;
}
td.text-center {
    text-align: center;
}

/* Plain Table Design */
table.plain {
    margin-left: 10px;
}
table.plain th, table.plain tr, table.plain td {
    background-color: none;
    border: 1px solid #000000;
    color: #000000;
}
table.plain td {
    padding: 5px;
}
table.plain {
    width: auto;
}

/*********************
  content
*********************/
#site-main-content .content-view-line h2{
    margin-top:0;
}
#site-main-content p, #site-main-content ul, #site-main-content ol {
    font-family:Georgia;
}
#site-main-content .line-image .column.articlethumbnail {
    width:180px;
}
#site-main-content .line-image .column.r-articlethumbnail   {
    width:370px;
}
#site-main-content .line-image .column.small    {
    width:110px;
}
#site-main-content .line-image .column.r-small  {
    width:350px;
}
#site-main-content .line-image .column.r-small h2   {
    margin-top:0;
}
#site-main-content .line-image .column.search_result    {
    width:110px;
}
#site-main-content .line-image .column.r-search_result  {
    width:556px;
}
.sidebar.extrainfo #site-main-content .line-image .column.r-search_result   {
    width:340px;
}
#extrainfo .line-image .column.message, #site-main-content .line-image .column.message  {
    width:76px;
}
#extrainfo .line-image .column.r-message, #site-main-content .line-image .column.r-message  {
    width:194px;
}
#extrainfo .line-image .column.r-message h1, #site-main-content .line-image .column.r-message h1    {
    padding: 0 0 8px;
}
.current-node-id-213 .content-view-full .column{
    width: 241px;
}
.content-view-gridview{
    height:200px;
}
th h2{
    margin:0;
}
/*
.customtag header h1{
    color:#00543d;
    font-size:20px;
}
*/
#site-main-content.content-view-full.class-forum-topic .menu .separator{
    padding:10px 5px;
}
.customtag header h1,.infobox header h1{
    color:#005187;
    font-size:20px;
    line-height:20px;
    position:static;
    text-transform:uppercase;
}
.customtag header h2,.infobox header h2{
    color:#45545f;
    font-size:18px;
    font-weight:normal;
    text-transform:uppercase;
}
.content-view-line{
    margin:6px 0;
}
.content-view-line h2{
    margin:0;
}
.content-view-children{
    clear:both;
    margin-top:20px;
}
.content-view-children .content-view-line.line-image,.search_results .content-view-line.line-image{
    min-height:100px;
}
.content-view-line.class-article .author_label  {
    display: inline-block;
    width: auto;
    height: 20px;
    vertical-align: top;
}
.content-view-line.class-article .authors   {
    display: inline-block;
    width: auto;
}
.content-view-full.class-article .author    {
    padding-left: 8px;
}
#site-main-content .content-view-line.class-article.line-image .column.r-articlethumbnail   {
    width:788px;
}
#topics #site-main-content .content-view-line.class-article.line-image .column.r-articlethumbnail   {
    width:550px;
}
.sidebar.extrainfo #site-main-content .content-view-line.class-article.line-image .column.r-articlethumbnail    {
    width:288px;
}

.sidebar.noextrainfo #site-main-content .content-view-line.class-article.line-image .column.r-articlethumbnail  {
    width:600px;
}
.content-view-line h3.date{
    color:#000000;
    font-size:1em;
    margin:0;
    padding-bottom:10px;
}
.content-view-embed.class-article h1{
    line-height:1.2;
    margin:0;
}
.content-view-embed.class-article h1 a{
    color:#45545f;
    font-weight:normal;
    text-decoration:none;
}
.content-view-embed.class-article h1 .parent{
    color:#df8b19;
    font-weight:bold;
    text-transform:uppercase;
}
.content-view-embed.class-issue .date{
    color:#afbc21;
    font-weight:normal;
    margin:0;
    text-transform:uppercase;
}
#site-main-content .content-view-embed.class-issue.line-image .column.r-small   {
    width:180px;
}

.content-view-embed.class-issue .date small{
    font-size:1em;
}
.content-view-embed.class-issue h2{
    margin-bottom:10px;
}
.content-view-embed.class-issue h2 a{
    color:#45545f;
    font-size:18px;
    text-decoration:none;
}
.content-view-full.class-issue .content-view-children   {
    padding-top: 10px;
}
.content-view-line.class-event h2 a{
    color:#45545f;
    font-size:15px;
    text-decoration:none;
}
.content-view-line.class-event h3{
    color:#00928f;
    font-size:12px;
    margin:0;
}
.content-view-listitem.class-news-item h2 a{
    color:#c4122f;
    font-size:13px;
    text-decoration:none;
    line-height: 1;
}
.content-view-listitem.class-news-item .date{
    color:#959595;
    font-size:10px;
}
.content-view-listitem.class-news-item p{
    color:#45545f;
    font-size:1em;
    line-height:1.2;
}
.content-view-listitem.class-event{
    margin:10px 0;
}
.content-view-listitem.class-event h2{
    font-size:1em;
    font-weight:normal;
    margin:0;
}
.content-view-listitem.class-event h2 a{
    color:#005187;
    text-decoration:none;
}
.content-view-listitem.class-event .date{
    font-weight:bold;
}
.custom-tag-listsubitems.lock header h1{
    color:#afbc21;
    font-size:24px;
}
.content-view-listitem.class-blog-post h1{
    line-height:14px;
    margin:0;
    padding:8px 0;
}
.content-view-listitem.class-blog-post h1 a{
    color:#154966;
    font-size:14px;
    text-decoration:none;
}
.content-view-listitem.class-blog-post .author {float:none; margin-left:4px;}
.class-blog-post .author{
    color:#b8b8b8;
    font-weight:normal;
    float:right;
    font-size:12px;
}
.content-view-line .class-blog  {
    margin: 20px 0px 10px;
}
.content-view-list.class-blog-post  {
    margin: 8px 0px 24px;
}
.custom-tag-recent_blogpostlist h2  {
    font-size:12px;
}
.content-view-list.class-blog-post h3   {
    margin-bottom: 2px;
    color: inherit;
}
.content-view-list.class-blog-post .date {
    font-size: 0.95em;
    font-weight: bold;
}
.separator hr{
    background-color:#d6d4bb;
    border-width:0;
    height:1px;
    color:#d6d4bb;
}
.advertisment .caption{
    font-family:sans-serif;
    font-size:80%;
    text-transform:uppercase;
}
.box{
    width:100%;
}
.content-action{
    margin:10px 0;
}

.class-user .attribute-image,.content-view-line.class-user h2 small{
    float:right;
}
nav#sidemenu .current a {
    background-color:#dedede;
}

.attribute-image.ml2 {
    float:left;
    margin-right:7px;
}

.class-landing-page #path {
    display: none;
}
.content-view-embed.class-botr{
    width:370px;
}
body.class-splash-page {
	background: none;
}
.class-splash-page {
	margin: 0 auto;
	margin-top: 100px;
	width: 750px;
}
.class-splash-page .content-view-full h2 {
	font-size: 22px;
}

/***********************
    ShareThis Styles
***********************/
.sharethis{
    float:right;
    padding:0 10px 0 0;
}
.stButton{
    margin:0 !important;
}
.stButton .facebook, .stButton .twitter, .stButton .linkedin {
    overflow:hidden;
    padding:0 0 0 16px !important;
    width:1px !important;
}
.st_plusone div{
    vertical-align:top !important;
    margin-right:1px !important;
}
body.class-splash-page {
    background: none;
}
.class-splash-page {
    margin: 0 auto;
    margin-top: 100px;
    width: 750px;
}
.class-splash-page .content-view-full h2 {
    font-size: 22px;
}

.st_email > span {
    top: -4px;
}
/*********************
  navigation
*********************/
.pagenavigator{
    font-family:Arial;
}
.pagenavigator li.current a{
    color:#000000;
}
.pagenavigator a{
    text-decoration:none;
}
.pagenavigator span.other span.disabled{
    display:none;
}

/*********************
  search results
*********************/
.search-results .content-view-line{
    background:#f1f2ed url(../images/search-bkgnd.png) repeat-y 0 0;
    border:1px solid #ecebdf;
    min-height:74px;
    padding:10px;
}
.search-results div.bgdark{
    background-color:#dfdfd3;
}
.search-results .content-view-line .search_result_date  {
    font-size: .75em;
}

/*********************
  alerts
*********************/
.content-view-embed.class-alert{
    background-color:#ffffff;
    border:1px solid #ecebdf;
    clear:both;
    font-family:Arial;
    margin-bottom:12px;
    position:relative;
}
.content-view-embed.class-alert .close{
    display:none;
    position:absolute;
    right:8px;
    top:8px;
}
.content-view-embed.class-alert h2{
    font-size:16px;
}
.content-view-embed.class-alert .attribute-image{
    float:left;
    margin:10px !important;
}
/*********************
  machforms
*********************/
#form_container {
    margin-top: 10px;
}
.integrated #form_container form.appnitro li    {
    width: 472px !important;
}
.integrated #form_container form.appnitro li input.radio    {
    width: 13px !important;
}
.integrated #form_container form.appnitro li label.choice   {
    width: 420px !important;
}
#form_container h1  {
    display: none;
}
#form_container h3  {
    color: #45545F;
    font-family:Georgia;
    font-weight: normal;
}
#form_container .appnitro   {
    font-family:Georgia !important;
}
#form_container .appnitro h2    {
    display: none;
}
#form_container .appnitro .form_description {
    margin: 2px 8px !important;
}
#form_container .appnitro ul    {
    list-style-type: none !important;
    padding: 0 10px !important;
}
#form_container .appnitro input.checkbox    {
    display: inline-block !important;
    width: 30px !important;
    margin: 10px 2px 0 2px  !important;
}
#form_container .appnitro input.radio   {
    display: inline-block !important;
    margin-top: 14px !important;
    width: 26px !important;
}
#form_container .appnitro label.choice  {
    padding-right: 8px !important;
    display: inline-block !important;
    margin: 6px 2px 2px 2px !important;
    width: 390px !important;
    vertical-align: top !important;
}
#form_container .appnitro input.text    {
    display: inline-block !important;
    margin-bottom: 4px !important;
}
#extrainfo #form_container .appnitro input.text {
    width: 185px !important;
}
#extrainfo #form_container .appnitro textarea   {
    width: 210px !important;
}
#form_container .appnitro .buttons  {
    margin-top: 8px !important;
}
#machform_footer    {
    display: none !important;
}

.emailsubscribeform label   {
    min-width: 120px;
    max-width: 440px;
    display: inline-block;
    font-size: 1.2em;
    margin-top: 4px;
}
/*
.emailsubscribeform br  {
    display: none;
}
*/
.emailsubscribeform input[type=text]	{
	width: 280px;
	margin-right: 110px;
	margin-bottom: 12px;
}
.emailsubscribeform select	{
	width: 280px;
	margin-right: 110px;
	margin-top: 6px;
	margin-bottom: 12px;
}
.emailsubscribeform input[type=checkbox] {
	display: inline-block;
	vertical-align: top;
	margin-top: 6px;
	margin-bottom: 12px;
	margin-left: 12px;
}
.emailsubscribeform input[type=submit] {
	margin-top: 18px;
	margin-left: 12px;
	height: 28px;
	padding: 4px;
}

#subForm label	{
	min-width: 120px;
	max-width: 440px;
	display: inline-block;
	font-size: 1.2em;
	margin-top: 4px;
}
/*
#subForm br {
    display: none;
}
*/
#subForm input[type=text]	{
	width: 280px;
	margin-right: 110px;
	margin-bottom: 12px;
}
#subForm select	{
	width: 280px;
	margin-right: 110px;
	margin-top: 6px;
	margin-bottom: 12px;
}
#subForm input[type=checkbox] {
	display: inline-block;
	vertical-align: top;
	margin-top: 6px;
	margin-bottom: 12px;
	margin-left: 12px;
}
#subForm input[type=submit] {
	margin-top: 18px;
	margin-left: 12px;
	height: 28px;
	padding: 4px;
}

/*********************
  scollable
*********************/
#extrainfo .vertical .scrollable,#extrainfo .vertical .scrollable .items>div{
    display:block;
    height:320px;
    width:270px;
}
.class-folder #extrainfo .vertical .scrollable,#extrainfo .vertical .scrollable .items>div{
    height:370px;
}
#extrainfo .vertical .scrollable .items .content-view-listitem{
    height:80px;
    width:270px;
}
.nosidebar.extrainfo #site-main-content .horizontal .scrollable{
    min-height:250px;
    width:556px;
}
.nosidebar.extrainfo #site-main-content .horizontal .scrollable .items .content-view-embed{
    height:250px;
    width:556px;
}
.navi{
    height:24px;
    margin-left:36px;
}
.navi a{
    background-image:url(../images/featured-controls.png);
    height:14px;
    width:14px;
}
.navi a:hover {
    background-position:0 -14px;
}
.navi a.active {
    background-position:0 -28px;
}
a.browse{
    display:none;
}
.custom-tag-scrollable a.browse{
    background-image:url(../images/scrollable-controls.png);
    height:32px;
    width:36px;
}
.custom-tag-scrollable.vertical a.browse{
    background-image:url(../images/small-scrollable-controls.png);
    height:14px;
    position:relative;
    width:14px;
    z-index:1;
}
.custom-tag-scrollable a.right:hover{
    background-position:-36px -32px;
}
.custom-tag-scrollable a.right:active{
    background-position:-72px -32px;
}
.custom-tag-scrollable a.left:hover{
    background-position:-36px 0;
}
.custom-tag-scrollable a.left:active{
    background-position:-72px 0;
}
.custom-tag-scrollable a.up{
    background-position: 0 -28px;
}
.custom-tag-scrollable a.up:hover{
    background-position:-14px -28px;
}
.custom-tag-scrollable a.up:active{
    background-position:-28px -28px;
}
.custom-tag-scrollable a.down{
    background-position:0 -42px;
}
.custom-tag-scrollable a.down:hover{
    background-position:-14px -42px;
}
.custom-tag-scrollable a.down:active{
    background-position:-28px -42px;
}
.vertical hr.line,.vertical hr.line{
    margin-bottom:12px;
    margin-top:-18px;
    position:relative;
    z-index:0;
}
footer .custom-tag-scrollable h1{
    display:inline-block;
    color:#a9a37f;
    font-size:16px;
    margin:0;
    vertical-align:middle;
    width:275px;
}
footer .content-view-listitem.class-event h2{
    font-size:12px;
    font-weight:normal;
    margin:0;
}
footer .content-view-listitem.class-event h2 a{
    color:#00928f;
}
footer  .content-view-listitem.class-event .date{
    color:#45545F;
}
footer .custom-tag-scrollable .display{
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    width:80px;
}
footer .custom-tag-scrollable a.browse{
    background-image:url(../images/small-scrollable-controls.png);
    height:14px;
    position:relative;
    width:14px;
    z-index:1;
}
footer .scrollable{
    display:block;
    width:395px;
    height: 198px;
}
footer .items > div{
    width:395px;
}
footer .custom-tag-scrollable a.right{
    background-position: 0 -14px;
}
footer .custom-tag-scrollable a.right:hover{
    background-position:-14px -14px;
}
footer .custom-tag-scrollable a.right:active{
    background-position:-28px -14px;
}
footer .custom-tag-scrollable a.left:hover{
    background-position:-14px 0;
}
footer .custom-tag-scrollable a.left:active{
    background-position:-28px 0;
}
.custom-tag-scrollable a.right{
    background-position: 0 -32px;
}
.custom-tag-scrollable.lock.featured-articles header{
    min-height:0;
}
#extrainfo h2{
   margin-top:0;
}


/*********************
  tabs
*********************/
ul.tabs{
    border-color:#ebebdf;
}
ul.tabs a{
    background:transparent url(../images/tab-bkgnd.png) repeat-x 0 100%;
    border-radius:0;
    color:#45545f;
    font:bold 18px Arial;
    margin-top:-2px;
    padding-bottom:7px;
}
ul.tabs a:hover {
    background-color:#F7F7F7;
    color:#45545f;
}
ul.tabs a.current{
    background:transparent none;
    border-bottom-color:#ffffff;
    color:#45545f;
}
ul.tabs a,.panes div.pane-item{
    background-color:#ffffff;
    border-color:#ebebdf;
}
.panes div.pane-item{
    padding:10px;
}

/*********************
  sections
*********************/
section.advanced.module{
    border-width:1px 0 0 0;
    clear:both;
    margin-top:10px;
}
section.advanced.module ul {
    padding-bottom:15px;
    line-height:1.5em;
}
#site-main-content section.advanced.module header{
    background-color:#e8e9e3;
    margin:8px 0;
    padding:10px;
}
#site-main-content section.advanced.module h1{
    color:#000000;
    font-size:22px;
    font-weight:bold;
    margin:0;
    text-transform:uppercase;
}

/*********************
  comments
*********************/
#comments{
    position:relative;
}
#comments a.button{
    background-color:transparent;
    border-color:#c4c4b8;
    color:#c4122f;
    font-size:14px;
    font-weight:normal;
    padding:6px 8px;
    position:absolute;
    right:10px;
    text-decoration:underline;
    text-transform:none;
    top:18px;
    width:auto;
}
#comments form{
    border-bottom:1px solid #e8e9e3;
    display:none;
    font-family:Arial;
    margin-bottom:10px;
    padding-bottom:10px;
}
div.ezcom-function-title{
    display:none;
}
div.ezcom-field label{
    display:block;
}

/*********************
  user-control-panel
*********************/
#user-control-panel{
    background:#2d3841 url(../images/gradients/user-control-panel.jpg) repeat-x 0 0
    color:#ffffff;
    font-family:Arial;
    min-height:30px;
    padding:0;
    position:relative;
}
#user-control-panel a.close{
    background-color:#45535e;
    color:#ffffff;
    font-family:Arial;
    left:50%;
    margin-left:385px;
    padding:3px 8px;
    position:absolute;
    text-decoration:none;
    top:39px;
    z-index:10;
}
#user-control-panel-inner{
    background:#2d3841 url(../images/gradients/user-control-panel.jpg) repeat-x 0 0;
    color:#ffffff;
    font-family:Arial;
    min-height:30px;
    padding:4px 0;
    position:relative;
}
#user-control-panel-inner li strong{
    padding-top:3px;
    color:#afbc21;
}
#user-control-panel-inner li strong img{
    margin-right:3px;
}
#user-control-panel-inner li small{
    color:#82929d;
    font-size:70%;
    text-decoration:underline;
}
#user-control-panel-inner a,#user-control-panel-inner a strong{
    color:#ffffff;
    text-decoration:none;
}
#user-control-panel-inner .delimiter{
    margin:0 6px;
}
#user-control-panel-inner img{
    vertical-align:middle;
}
#user-panel{
    display:inline;
    left:50%;
    line-height:29px;
    margin-left:-480px;
    position:absolute;
}
#user-panel li.first{
    display:none;
}
#utility{
    left:50%;
    margin-left:340px;
    right:0;
    text-align:left;
}
#language-switcher a strong{
    display:inline-block;
}
#languages{
    color:#ffffff;
    display:inline-block;
    margin-left: 20px;
}
#languages li{
    padding:0 8px;
}
#languages li:not(:last-child){
    border-bottom:1px solid #9999aa;
}
#languages a{
    color:#ffffff;
    display:inline;
    font-weight:bold;
    padding:2px 0;
    vertical-align:middle;
}
#languages a:hover,#languages li.current-siteaccess a{
    color:#afbc21;
}
#languages a img{
    margin-right:4px;
    vertical-align:middle;
}
#languages ul.menu{
    display:block;
    position:static;
}

/*********************
  header
*********************/
header[role=banner]{
    background:transparent url(../images/header-bkgnd.jpg) repeat-x 50% 50%;
    height:145px;
}
header[role=banner] .document {
    background-color:transparent;
}
header[role=banner] #user-pane {
    margin-left:200px;
}
header[role=banner] .loginbox {
    height:20px;
    width:140px;
    margin-right:12px;
    background-color:#DAC792;
}
header[role=banner] #login {
    position: absolute;
    top: 20px;
    left: 0;
    border: 1px solid #DAC792;
    background-color:#cccccc;
    height: 120px;
    width: 300px;
    z-index:1000;
}
header[role=banner] #login.no-display {
    display: none;
}
header[role=banner] #login.display {
    display:block;
}
header[role=banner] .searchblock {
    padding:12px;
    position: absolute;
    top:30px;
    right:0;
    width:200px;
    height: 75px;
}
header[role=banner] .searchblock #search .searchtext {
    width:166px;
}
header[role=banner] .searchblock .cart {
    position: absolute;
    bottom:6px;
    right:10px;
    width: 56px;
    height:30px;
    background-color:#DAC792;
    padding: 12px 10px 0;
}
#logo{
    left:10px;
    top:-55px;
    z-index:20;
}
#search{
    background-color:transparent;
    right:0;
    top:38px;
}
#social-media iframe{
    border:none;
}
#user-links{
    color:#ffffff;
    font-family:Arial;
    line-height:1.4;
    position:absolute;
    right:118px;
    top:75px;
}
#user-links a{
    color:#ffffff;
    text-decoration:underline;
}
#user-links a img{
    margin-left:-24px;
    margin-right:6px;
    vertical-align:baseline;
}
#event-scrollable-demo{
    left:220px;
    position:absolute;
    top:118px;
    z-index:1000000;
}
#event-scrollable{
    background-image:url(../images/temp/event-scroller-bkgnd.png);
    font-family:Arial;
    left:224px;
    position:absolute;
    top:28px;
}
#event-scrollable .scrollable{
    height:90px;
    width:486px;
}
#event-scrollable .items > div{
    padding:10px 15px;
    width:450px;
}
#event-scrollable a.browse{
    background-image:url(../images/small-scrollable-controls.png);
    height:14px;
    position:relative;
    width:14px;
    z-index:1;
}
#event-scrollable a.left{
    margin-left:-8px;
    top:35px;
}
#event-scrollable a.right{
    background-position: 0 -14px;
    margin-top:-50px;
    right:-5px;
}
#event-scrollable a.right:hover{
    background-position:-14px -14px;
}
#event-scrollable a.right:active{
    background-position:-28px -14px;
}
#event-scrollable a.left:hover{
    background-position:-14px 0;
}
#event-scrollable a.left:active{
    background-position:-28px 0;
}

#event-scrollable h2{
    margin:0;
    font-size: 16px;
}
#event-scrollable h2 a{
    color:#005187;
}
#event-scrollable p{
    margin:0;
    color:#303940;
}
.content-view-embed.class-folder .column.image{
    width:100px;
    position:relative;
    right:5px;
    bottom:2px;
}
.content-view-embed.class-folder .column.description{
    width:340px;
    margin-left:5px;
    position:relative;
    bottom:4px;
}
.content-view-embed.class-folder img{
    border:1px solid #747470;
}

#utility a{
    background:transparent url(../images/gradients/utility-item.jpg) repeat-x 0 0;
    display:block;
    line-height:29px;
    margin:0 4px;
    padding:0 10px;
}


/*********************
  global menubar
*********************/
#global-menubar{
    background:#b42e23 url(../images/gradients/navitem.jpg) repeat-x 0 0;
    height:42px;
    padding-top:1px;
    min-width:981px;
}
#global-menubar>ul.menu{
    background:#b42e23 url(../images/gradients/navitem.jpg) repeat-x 0 0;
}
#global-menubar ul.menu li{
    color:#ffffff;
}
#global-menubar ul.menu li.current,#global-menubar ul.menu li:hover{
    background-image:url(../images/gradients/navitem-active.jpg);
}
#global-menubar ul.menu li a{
    color:#ffffff;
    display:inline-block;
    font-size:14px;
    font-weight:bold;
    line-height:42px;
    padding:0 10px;
    vertical-align:middle;
}
#global-menubar ul.menu li ul{
    background-color: #b42e23;
    padding-bottom:6px;
    top:42px;
}
#global-menubar ul.menu li.last ul{
    right:0;
}
#global-menubar ul.menu li ul li{
    background-position:100%;
}
#global-menubar ul.menu li ul li a{
    display: block;
    font-size:12px;
    line-height:2;
    padding: 0 8px;
}


/*********************
  footer
*********************/
footer{
    background:#f6f7f1 url(../images/gradients/footer-gradient.jpg) repeat-x 50% 0;
    font-family:Arial;
    height:225px;
    padding:20px 0;
    text-align: center;
}
footer .separator{
    display:inline;
}
footer div.column{
    text-align: left;
    padding:0 24px;
}
footer div.column:last-child{
    text-align:right;
}
footer nav a{
    color:#a9a37f;
    font-size:0.9em;
    text-decoration:underline;
}
#copyright{
    color:#45545f;
    font-size:10px;
    padding:0;
    width: 280px;
    text-align: right;
}


/*********************
  user/register
*********************/
.user-register form {
    width: 680px;
    margin: 0 auto;
}
.user-register .title,
.user-register .image,
.user-register .bio {
    display: none;
}
.user-register label,
.user-register input[type=text],
.user-register input[type=password] {
    width: 330px;
    display: inline-block;
    float: left;
}
.user-register .buttonblock {
    clear: left;
}
.user-login .forgot {
    text-decoration: none;
}
.user-login .button {
    margin-right: 4px;
}

.user_register .block, .user_register .break {
    clear: both;
}


/*********************
  user/forgotpassword
*********************/

.user-forgotpassword p {
    font-size: 125%;
}


/*********************
  xrowecommerce
*********************/
div.accountinfo label{
    font-size:0.9em;
}
div.billing, div.shipping, div.additional-information, div.accountinfo, div.coupon{
    width:468px !important;
}
div.block label{
    display:block;
}
.content-view-line.class-xrow-product.productline div.productcategory-img {
    width: 110px !important;
}
.content-view-line.class-xrow-product.productline div.productline-text-wimage   {
    width: 100% !important;
}
#site-main-content.content-view-full.class-xrow-product header h1   {
    padding-bottom: 0px;
}
#site-main-content.content-view-full.class-xrow-product .description-wrap   {
    margin-top: -8px;
}
#site-main-content div.class-xrow-commerce div.attribute-image {
    margin: 0 18px 0 12px;
}
#confirmorder caption {
    font-size: 150%;
    margin-bottom: 1em;
    text-align: left;
    text-transform: capitalize;
}

/*********************
  dashboard
*********************/

.content-dashboard .class-article li {
    list-style-position: inside;
}
.content-dashboard .left {
    width: 70%;
    float: left;
}
.content-dashboard .right {
    width: 30%;
    float: left;
}

.content-dashboard .context-title {
    display: none;
}

.content-dashboard a.seeall {
    margin-top: 12px;
}

.content-dasboard .content-view-line .attribute-image, .content-view-listitem .attribute-image, .content-view-embed:not(.class-image) .attribute-image {
    margin: 5px 10px 5px 0;
}

.ui-widget-overlay {
    z-index: 1001 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #aaaaaa;
    opacity: .30;
    filter:Alpha(Opacity=30);
}

.ui-dialog.ui-widget-content {
    border: 1px solid #ECEBDF;
    background: #ffffff;
    padding: 20px;
    z-index: 10000 !important;
}

.module-view-dashboard #sidebar {
    margin-top: 3px;
}

.module-view-dashboard #site-main-content {
    margin-left: 0 !important;
}

.dashboard-menu {
    border: 1px solid #ECEBDF;
    background-color: white;
    padding: 0 15px 15px 15px;
    margin-bottom: 15px;
}

.dashboard-menu h1, .dashboard-customize-window h1 {
    color:#005187;
    font-size:20px;
    line-height:20px;
    position:static;
    text-transform:uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
}

.dashboard-customize-window td {
    border-bottom: 1px solid #ecebdf;
    padding: 6px 0px;
    width: 33%;
    vertical-align: top;
}
.dashboard-customize-window td input[type="checkbox"] {
    width: 15px;
    height: 15px;
    padding: 0;
    margin:0;
    float: left;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
.dashboard-customize-window td label {
    float: left;
    padding-left: 15px;
    width: 80%;
}
.dashboard-customize-window p.dashhelp {
    font-size: 1.3em;
}

.dashboard-menu h2 {
    margin: 0;
    font-size: 15px;
}

.dashboard-menu ul {
    margin: 0 5px 0 20px;
}
.dashboard-menu ul li {
    font-size: 90%;
    list-style: disc outside;
    margin: 4px 0;
}

.dashboard-customize-window {
    display: none;
}

.dashboard-customize-window input#limit {
    width: 2em;
}

.block-controls {
    background: white;
    border-color: #ECEBDF;
    border-width: 1px 1px 0;
    border-style: solid;
    text-align: right;
    padding: 2px 4px 0 0;
}

.block-controls.permanent .ui-icon-closethick {
    display: none;
}

.module-view-dashboard .customtag {
    border-width: 0 1px 1px;
}

.block-controls a.ui-dialog-titlebar-close {
    float: right;
}

.module-view-dashboard .customtag h2 {
    cursor: auto;
}

.module-view-dashboard .customtag h1 {
    cursor: move;
}


.dashboard-menu .subuser-disabled {
    text-decoration: line-through;
}

.dashboard-menu ul ul {
    margin: 0px;
    padding: 0 0 0 12px;
}

form.addattendee label {
    display: inline-block;
    width: 12em;
}

form.addattendee input[type=submit] {
    margin-top: 1em;
}
.hidden {
    display: none !important;
}

/*********************
  xrow
*********************/

#site-columns div.class-xrow-commerce h1 {
    padding: 0px;
}

#add_attendees_input {
    width: 295px;
}

.xrow-feature-list, .xrow-product-features {
    display: none;
}

div.productline div.product_title {
    border-top: 0px;
}
div.productline-text {
    width: 100% !important;
}
div.productline-text-wimage {
    width: 75% !important;
}
div.productline-text p {
    text-align: left;
}
div.productline-text ul {
    padding: 0 24px;
}

div.productcategory-img {
    width: 25% !important;
}

.productwrapper form div {
    clear: both;
}

.productwrapper form div input[type=text] {
    width: 2em;
}

.Middle2 img {
    height: 63px;
}
.recent-updates .recent-update-image    {
    min-height: 102px;
}
.recent-updates .column {
    width: 160px;
    padding: 10px 0px 30px 0px;
}
.custom-tag-recent_blogpostlist .class-blog-post .author    {
    float: none;
    display: inline-block;
    margin-left: 12px;
}
.content-view-full.class-article .attribute-byline .date    {
    width: 24%;
    vertical-align: top;
}
.content-view-full.class-article .attribute-byline .tags {
    vertical-align: top;
    display: inline-block;
    width: 73%;
    text-align: right;
}
.article-content {
    padding-left: 12px;
    padding-top:20px;
}
.article-file-download {
    padding: 10px;
    background: #E8E9E3;
    border: 1px solid #C4C4B8;
    margin: 16px 8px 8px 12px;
    width: 7em;
}
.current-node-id-213 #site-main-content header  {
    display: none;
}
#topics header  {
    padding: 4px 0;
}
#topics header.page_header h1   {
    color: #005187;
    font-weight: normal;
    margin: 8px 0;
}
#topics .content-view-line.class-article h2 a{
    color:#005187;
    font-size:22px;
    font-weight:normal;
    text-decoration:none;
}

#topics .content-view-topicview {
    background-color: #f6f6f6;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-bottom: 2px inset #cccccc;
    border-top: 1px solid #e9e9e9;
    margin-bottom: 12px;
    padding: 0 4px;
}
#topics .article_list   {
    background-color: #FBFBF9;
    padding-bottom: 12px;
    margin-top: 12px;
}
#topics .column {
    width: 476px;
}
#topics .column.left    {
    margin-right: 12px;
    margin-left: 0;
}
#topics .column.right   {
    margin-left: 12px;
    margin-right: 0;
}
#topics .content-view-topicview .track_link {
    display: inline-block;
    float: right;
    margin-right: 8px;
    margin-top: 2px;
    font-size: 75%;
}
#topics h2#buyer_topic_header,
#topics h2#staffing_topic_header    {
    margin-bottom: 12px;
    padding: 8px 0 1px;
    border-bottom: 1px solid #974440;
}
#topics h2.topic_link_header    {
    margin-top: -36px;
    margin-left: 152px;
}
#topics h2  {
    color: #974440;
}
#topics h2 a    {
    color: #974440;
    font-weight: normal;
    margin-top: 3px;
}
#topics h2 a.topic_link {
    padding-left: 20px;
}
#topics  label.block    {
    display: block;
    margin-top: 12px;
}
#topics h3  {
    margin: 0;
}
#topics h3.recent_articles  {
    text-align: center;
    color: #6f6f6f;
    padding: 5px 8px;
    background-color: #ededed;
    font-size: .85em;
    text-transform: uppercase;
    margin: 0 -4px;
}
#topics h4.recent_article_heading   {
    margin-bottom: 0;
}
#topics h4.recent_article_heading a {
    color: #1a5076;
}
#topics .recent_article{
    padding: 2px 4px;
}
#topics .recent_article p, #topics .recent_article div  {
    margin-top: 0;
}
#topics .search-feedback    {
    display: inline-block;
    width: 800px;
    margin: 8px 0;
 }
#topics #searchbar  {
    display: inline-block;
    width: 100px;
 }
#topics #search-controls    {
    margin-top: 31px;
}
#topics #search_help    {
    display: inline-block;
    width: 315px;
    float: right;
}
#topics #search_help p  {
    margin: 6px;
}
#topics .search-topics  {
    padding: 12px 20px 12px 80px;
    margin: -8px 0 12px;
}
#topics .search-topics .submit_button,
#topics #savethissearch	{
	height: 30px;
	width: 85px;
	color: #565751;
	font-weight: bold;
	margin: 2px 5px;
	padding: 4px;
	background-color: #f6f6f6;
	border: 1px solid #aeb09e;
	vertical-align: top;
}
#topics #savethissearch	{
	margin: -6px 5px;
	width: 161px;
}
#topics #sidebar	{
	width: 216px;
}
#topics #site-main-content	{
	width: 750px;
}
#topics #facet-list ul	{
	padding: 2px;
	margin-top: -6px;
 }
#topics #facet-list ul li	{
	padding: 2px 4px;
 }
.search-topics-form label {
	margin-left: 10px;
	font-size: 20px;
	font-family: 'PFDinTextPro-bold';
}
.search-topics	{
	padding: 12px 80px;
	margin: 20px 0;
	background-image: url(../images/mag-glass.png);
	background-repeat: no-repeat;
	background-position: 20px 30px;
	background-color: #ededed;
	border-top: 1px solid #aeb09e;
	border-bottom: 1px solid #aeb09e;
}
.search-topics #search-controls	{
	margin-top: 23px;
}
.search-topics input	{
	height: 20px;
	width: 500px;
	color: #aeb09e;
	font-weight: bold;
	margin: 8px 0;
	padding: 4px;
	background-color: #f6f6f6;
	border: 1px solid #aeb09e;
}
.search-topics select	{
	height: 30px;
	width: 200px;
	color: #565751;
	font-weight: bold;
	margin: 10px 0;
	padding: 4px;
	background-color: #f6f6f6;
	border: 1px solid #aeb09e;
}
.search-topics #SearchText,
.search-topics select.select_category   {
    color: #000000;
    width: 158px;
    margin-left: 6px;
    margin-top: 2px;
}
.search-topics #SearchText  {
    width: 161px;
}
.search-topics #SearchWord  {
    vertical-align: top;
    margin-top: 2px;
}
.search-topics select option    {
    height: 20px;
    color: #565751;
    font-weight: bold;
    padding: 4px;
    background-color: #f6f6f6;
}
.search-topics .submit_button{
    height: 30px;
    width: 140px;
    color: #565751;
    font-weight: bold;
    margin: 10px 0 0 74px;
    padding: 4px;
    background-color: #f6f6f6;
    border: 1px solid #aeb09e;
    vertical-align: top;
}

#delete-button {
    margin-left: 17px;
}

.ccform input, .ccform select {
    margin-bottom: 10px;
}

#buy table p{
    margin: 0px;
}

#site-main-content th.price, td.price {
    width: 70px;
}

.realmedia_Right{
    display:block;
    margin-bottom:10px;
}

.product-image-unavialable{
    float:left;
}

.notification-settings fieldset {
    margin: 8px;
    padding: 6px;
    border: 1px solid #e0e0e0;
    width: 80%;
}
.notification-settings fieldset legend  {
    padding: 6px;
}
.notification-settings fieldset td  {
    padding: 4px;
}
.notification-settings fieldset table   {
    margin-bottom: 8px;
}
.notification-settings input    {
    margin: 2px 3px 4px 6px;
}
.content-view-full.class-blog-post .attribute-image{
    position:static;
}

.search-topics #search_help h3 {
    padding-left: 4px;
}
#site-main-content .search-topics #search_help p,
#site-main-content .search-topics #search_help p a {
    font-size: 11px;
    line-height: 18px;
}

.search-topics h3 {
    padding-left: 7px;
}

.nonode #path {
    display: none;
}

#searchbar form {
    float: left;
}

img[src=//imagec10.247realmedia.com/RealMedia/ads/Creatives/default/empty.gif] {
    border:none;
}

.realmedia_Top {
    float: right;
}

.realmedia_TopRight img {
    margin-top: 24px;
}

tr.bogo-total td {
    border-top: 1px solid black;
    font-weight: bold;
}

.billing {
    position: relative;
}
.billing_help {
    font-size: 90%;
    margin: 0 1em 0 12em;
    position: absolute;
    right: 0;
    top:6px;
    width:260px;
}

#site-columns .link_ob_class_nav_divider {
    color: #005187;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;

    margin-top: 13px;
}

nav.module ul.menu li.next_is_divider a {
    border: none;
}

.embeded_node header {
    display: none;
}

/*********************
  research agenda request form
*********************/

.current-node-id-41107 #extrainfo #form_container .appnitro input#element_3_1,.current-node-id-41107 #extrainfo #form_container .appnitro input#element_3_2 {
    width:31px !important;
    padding-right: 5px;
}

.current-node-id-41107 #extrainfo #form_container .appnitro input#element_3_3 {
    width:75px !important;
}

.current-node-id-41107 #main_body form li div.right {
    float:none !important;
}
.current-node-id-41107 #extrainfo #form_container .appnitro #li_1 span  {
    clear: left;
}
.current-node-id-41107 #extrainfo #form_container .appnitro #li_4   {
    width: 260px !important;
}
.current-node-id-41107 #extrainfo #form_container .appnitro #li_4_div_5 {
    margin-top:10px;
}
.current-node-id-41107 #extrainfo #form_container .appnitro #element_4_6 {
    width:188px !important;
}


/*********************
  staffing users
*********************/
.staffing-users #extrainfo .infobox{
    padding:12px 0;
}
.staffing-users .infobox-content, .customtag-content{
    padding:0;
}
#site-main-content .content-view-line.class-staffing-user h2{
    margin-bottom:0;
}
.content-view-line.class-staffing-user h3{
	color:#000000;
	font-family:'PFDinTextPro-bold';
	font-size:16px;
}
.content-view-line.class-staffing-user span{
    font-size:12px;
    font-weight:bold;
}
#site-main-content .content-view-line .attribute-bio{
    clear:both;
    display:block;
}
.content-view-full.class-staffing-user .attribute-image{
    float:left;
    margin-right:8px;
}
.content-view-full.class-staffing-user h1{
    position:relative;
}
.content-view-full.class-staffing-user .print.button{
    display:inline-block;
    position:absolute;
    right:0;
    width:120px;
}
.content-view-full.class-staffing-user #site-main-content h2, .content-view-full.class-staffing-user #site-main-content h3 {
    margin-bottom:0;
}
.content-view-full.class-staffing-user #site-main-content.content-view-full p{
    margin: 20px 0;
}
#analysts_widget p {
    padding-bottom: 10px;
}
.analyst-image {
    margin: 0 0 10px 10px;
}
.joinnow {
    position: absolute;
    left: 393px;
    top:59px;
}

/***********************
    HoneyPot v1.0
***********************/
div.block2 {
    display: none;
}

div.block2 > .box {
    display:none;
}
