/*********************
  content
*********************/

.attribute-byline .date {
  display: inline-block;
  width: 100%;
  font-size: 1em;
  margin: 0 8px;
}

.attribute-byline {
  background-color: #f5f5f2;
  padding: 4px;
  font-size: 12px;
}

.comments {
  background-color: #e9e9e4;
  padding: 4px;
}

.comments section .attribute-byline .comment-author {
  display: inline-block;
  width: 50%;
}

.content-sidebar {
  float: right;
  font-family: Arial;
  padding: 0px 0px 10px 10px;
  width: 40%;
  margin-top: 10px;
}

.content-sidebar section {
  background-color: #f5f5f2;
  padding: 10px;
}

.content-sidebar section a img {
  float: right;
  margin-left: 6px;
}

.content-sidebar li {
	margin-bottom: 5px;
}
.content-sidebar section:not(.attribute-star-rating) ul {
  margin-top: 0;
  padding: 0 15px;
}

.content-view-full.class-article .article-content .content-sidebar h2 {
  border-bottom: 1px solid #e2e3de;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0px 0px 8px 0px;
  color: #005187;
}

.content-view-full.class-article .article-content .content-sidebar hgroup h3 {
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  margin-top: 0;
}

.content-view-full ol {
  padding: 0;
  padding-left: 25px;
}

/*********************
  text rules
*********************/

.customtag-content .class-article section h2 {
  color: #AFBC21;
  font-size: 16px;
}

.customtag-content .class-article .content-sidebar h2 {
  color: #005187;
  font-size: 22px;
}

.customtag-content .class-article .content-sidebar ul li {
  font-family: Arial, sans-serif;
  color: #45545f;
}

/* Do not alter this selector */

.module-view-edit .content-edit header h1,
.subpage .content-view-full header h1 {
  font-size: 32px;
  color: #005187;
  font-weight: normal;
  margin: 8px 0;
}

/*********************
  article rules
*********************/

.content-view-full.class-article {

}

.content-view-full.class-article #article-utility, .content-view-full.class-news-item #article-utility {
  position: relative;
  height: 34px;
  background-color: #f5f5f2;
  padding: 4px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-transform: uppercase;
}

.content-view-full.class-article a.button, .content-view-full.class-news-item a.button {
  color: #AFBC21;
}

.content-view-full h2 {
  color: #AFBC21;
  font-size: 16px;
  margin: 1em 0 0;
}

.content-view-full #article-utility h2 {
  color: #DF8B19;
  font-size: 22px;
  margin: 6px;
}

#site-main-content.content-view-full.class-article header {
  clear: both;
  margin: 8px;
}

.content-view-full.class-article #article-utility .button.share, .content-view-full #article-utility .button.viewnews {
  position: absolute;
  width: 100px;
  top: 6px;
  right: 6px;
}

.content-view-full #article-utility .button.viewnews {
  width: 140px;
}

.content-view-full.class-article #article-utility .button.print {
  position: absolute;
  width: 100px;
  top: 6px;
  right: 15px;
}

/*
.content-view-full.class-article .article-content .content-sidebar 	{
	width: 200px;
}
*/

.content-view-full.class-article .article-content .content-sidebar section {
  margin-bottom: 10px;
}

.content-view-full.class-article .article-content .content-sidebar h3 {
  color: #45545f;
  font-weight: normal;
  margin: 10px 0;
}

.content-view-full.class-article .article-content .content-sidebar .attribute-image {
  text-align: center;
}

.content-view-line.class-product .attribute-price {
  font-weight: bold;
  margin: 8px 0;
}

.content-view-full.class-issue .attribute-image {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.content-view-full.class-issue #extrainfo .attribute-image {
	float:none;
}
.content-view-listitem.class-event h3 {
  margin: 0;
  color: #00928F;
  font-size: 12px;
}

.content-view-listitem.class-event h2 {
  margin: 0;
  margin-bottom: 4px;
  color: #000000;
  font-weight: bold;
  font-size: 1.5em;
}

.content-view-listitem.class-event h2 a {
  color: #45545F;
  font-size: 15px;
}

.content-view-line.class-news-item .date {
  display: inline-block;
  margin: 5px 0;
}

.attribute-image img {
/*  border: 1px solid #d0d4cf;*/
}

.attribute-image.noborder img {
  border: none;
}

.inline-ad {
  height: 90px;
}

.inline-ad img {
  padding: 2px;
}

.related-content header {
  margin-bottom: 10px;
}

.related-content .column {
  font-family: Arial;
  width: 167px;
}
/*	text-align: center;  */
}

.recent-updates .column {
  width: 148px;
  padding: 6px;
}

.recent-updates a {
  font-family: Arial;
}

.recent-updates header {
  position: relative;
  height: 34px;
  background-color: #f5f5f2;
  padding: 4px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.recent-updates header .viewall {
  position: absolute;
  top: 12px;
  right: 24px;
}

.recent-updates h1 {
  color: #005187;
  text-transform: uppercase;
  margin: 4px;
}

.recent-updates h2 {
  color: #005187;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.32em;
  padding: 4px 0;
}

.recent-updates a:hover {
  text-decoration: underline;
}

/*********************
  product rules
*********************/

div.class-xrow-commerce h1 {
  padding:  none;
}
.content-view-full.class-product {

}

.content-view-full.class-product #site-main-content  h2 {
  color: #AFBC21;
  font-size: 16px;
  margin: 1em 0 -0.6em;
}

.content-view-full.class-product .attribute-multi-options {
  margin-top: 12px;
}

.content-view-full.class-product .attribute-multi-options .block {
  margin-top: 6px;
}

.content-view-full.class-product .attribute-multi-options label {
  padding-right: 6px;
}

.content-view-full.class-product .content-action {
  margin-top: 12px;
}

/*********************
  tooltips
*********************/

.tooltip {
  background-color: #141414;
  background-image: none;
  color: #fff;
  font-size: 12px;
  font-family: Arial, sans-serif;
  height: auto;
  position: relative;
  width: auto;
  max-width: 275px;
  padding: 10px 15px;
}

.tooltip a {
  color: #AFBC21;
}

.tooltip .tip {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #141414;
  border-top: 0;
  height: 0;
  left: 50%;
  margin-left: -20px;
  top: -20px;
  position: absolute;
  width: 0;
}
.tooltip h2{
	margin-bottom:10px;
}
.tooltip h2 small{
	color:#ffffff;
	margin-left:10px;
}
.tooltip p{
	margin-top:0;
}
.tooltip .attribute-image{
	float:left;
	margin-right:4px;
}
.tooltip p.see-articles{
	clear:both;
}
.tooltip p.see-articles a{
	color:#ffffff;
}

#site-columns ul#active-facets-list {
	margin-left: 0px;
}