aside, #global-menubar, footer,#path, .recent-updates, #user-control-panel, #toolbar, #extrainfo, .related-content, .share, .print, #debug, #search, #event-scrollable, #user-links, #social-media, #comments, .article-content h3, #article-utility a, #site_sidebar, #secondary-navigation, header[role="banner"] #user-pane, .searchblock, #site-tagline, .sharethis, .pagenavigator span.other span.disabled, .pagenavigator{
	display: none !important;
}
body	{
	height: auto  !important;
	width: 100% !important;
}
#site-columns *	{
	background: none !important;
	float: none !important;
	overflow: visible !important;
	overflow-y: visible !important;
	position: relative !important;
}
#site-columns .article-content	{
	background: none !important;
	float: none !important;
	overflow: visible !important;
	overflow-y: visible !important;
	position: relative !important;
}
#site-columns #site-main-content {
	width: 90%;
	font-size: 120%;
}
#logo img{
	border:none;
}