/********************************************************************************
* Website Design Styles
*
* Table of Contents
    explicit overrides
    general styles
        front page zones
        headers
    general content
    header
    footer
    navigation
        global menubar
        secondary navigation
        site sidebar
        sidemenu
        footer navigation
    custom tags
        daily news
        latest research
        twitter feed
        recent blogpostlist
    widgets
    content classes
        conference
        product
        article
    module view edit
    search
*
********************************************************************************/


/********************************************************************************
  explicit overrides
********************************************************************************/
.body-container, #site-columns {
    width: 980px;
    margin: 0 auto;
}

#site-main-content #path a, #site-main-content #path li{
    font-size:10px;
}
#site-main-content #path{
    margin-top:10px;
}
.sidebar.extrainfo #site-main-content {
    width: 475px;
    margin: 0 8px 0 0;
}
.nosidebar.extrainfo #site-main-content {
    width: 648px;
}
#site-columns {
    background-color: #fbfbf9;
}
.noextrainfo.sidebar #site-columns #site-main-content {
    width: 767px;
}
.noextrainfo.sidebar #site-main-content {
    margin: 0;
    width: 100%;
}
.noextrainfo.sidebar.module-view-search #site-columns #site-main-content{
    width:708px;
}
.module-view-search.sidebar #sidebar{
    width:250px;
}
.module-view-search.sidebar #sidebar .infobox{
    padding:6px 0 6px 6px;
}
nav.module ul.menu li a, .previous-link {
    border: none;
    font-family: 'PFDinTextPro-medium';
    text-decoration: underline;
    font-size: 14px;
}
nav.module ul.menu li {
    line-height: 18px;
}
.sidebar.noextrainfo #site-main-content
.content-view-line.class-article.line-image .column.r-articlethumbnail {
    width: 580px;
}
.sidebar.extrainfo #site-main-content
.content-view-line.class-article.line-image .column.r-articlethumbnail {
    width: 278px;
}
.delimiter img {
    height: 30px;
}
.cart a {
    color: #333;
}
.cart a img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 6px;
}
.extrainfo #extrainfo {
    width: 300px;
}
#site-main-content p {
    font-size: 14px;
    line-height: 19px;
    margin-top: 2px;
}
#extrainfo p {
    font-size: 12px;
    line-height: 18px;
}
#extrainfo ul {
    font-size: 12px;
}
#site-main-content.content-view-full p {
    line-height: 24px;
    margin: 20px 8px;
}
#site-main-content.content-view-full.class-folder p,
#site-main-content.content-view-full .r-articlethumbnail p,
#site-main-content .content-view-line.class-event p {
    margin: 7px 0;
}
#site-main-content.content-view-full.class-enhanced-frontpage p {
    margin: 7px 0;
    line-height: 19px;
}
#topics{
    margin-top:20px;
}
#topics .search-topics {
    overflow: hidden;
}
#topics .topic_embed_image {
    height: 60px !important;
}
#topics .default tr td .topic_embed_image h2 a {
    /*font-size: 60px;*/
    display: block;
    height: 65px;
    width: 210px;
    line-height: 1.3em;
    /*color: rgba(0, 68, 106, 0.0);*/
    /* For IE8 - selectivizr.js allows :nth-child */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
a.button {
    color: #015186;
}
.content-view-full.class-article a.button,
.content-view-full.class-news-item a.button {
    color: #024C73;
}
.content-view-line.class-event h2 a {
    color: #03548B;
}
.content-view-embed.class-image {
    margin-bottom: 10px;
}
.dashboard-menu h1, .dashboard-customize-window h1 {
    white-space: nowrap;
}

/* ------------------------------------------------------------------------
  header
------------------------------------------------------------------------ */
header[role="banner"] {
    height: 200px;
    margin-top: 0!important;
    background: rgba(0, 0, 0, 0) url("../images/SIA_HeaderBckgrnd2.jpg") no-repeat scroll center center / 100% 100% !important;
}
header[role="banner"] {
    background: none;
}
header[role="banner"] .searchblock {
    position: relative;
    float: right;
}
header[role="banner"] .searchblock #search .tips {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    top: -4px;
    padding: 3px 7px;
    border: 2px solid #e7b60c;
    background: #455661;
    text-decoration: none;
}
header[role="banner"] .searchblock #search form {
    position: relative;
    top: 4px;
}
header[role="banner"] #site-tagline {
    color: #000000;
    font-size: 34px;
    font-family: 'dinregular', arial, sans-serif;
    top: -20px;
    left: 20px;
    width: 550px;
    display: inline-block;
    position: relative;
}
header[role="banner"] #site-tagline p {
    line-height: 1.2em;
    font-style: italic;
    letter-spacing: -1px;
    margin: 0px;
}
header[role="banner"] #user-pane a, header[role="banner"] #user-pane #login_form ul li a,
header[role="banner"] #user-pane  #language-switcher #languages #lang_switch label {
    font-size: 96%;
}
/*header[role="banner"] #user-pane li {
    height: 56px;
}*/
header[role="banner"] #lang_switch label:last-child {
    display: inline-block;
    max-width: 140px;
}
/*header[role="banner"] #lang_switch label span {
    display: block;
}*/
#secondary-header {
    background-color: #dac792;
    height: 45px;
}
#secondary-header #social-media {
    float: right;
    margin-top: 5px;
}
a {
    color: #015186;
}
#logo {
    position: relative;
    display: inline-block;
}
#webpage {
    padding: 0;
    width: 980px;
    position: relative;
}
#site_sidebar {
    display: none;
}
#site-main-content .content-view-embed.class-issue.line-image
.column.r-small {
    width: 165px;
}
.document {
    display:inline-block;
    padding: .5px 0 10px 10px;
    width: auto;
    background-color: #fbfbf9;
}
.nosidebar.noextrainfo .document {
    padding: .5px 10px 10px;
    width: 960px;
}
.module {
    border: none;
    background-color: transparent;
    border-radius: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
}

/* ------------------------------------------------------------------------
  global menubar
------------------------------------------------------------------------ */
#global-menubar {
    margin-bottom: 0;
}
#global-menubar ul.menu li ul {
    top: 30px;
}
#global-menubar ul.menu li.current, #global-menubar ul.menu li:hover {
    background-image: none;
    background-color: #9f9562;
}
#global-menubar, #global-menubar > ul.menu, #global-menubar, #global-menubar > ul.menu li:hover {
    background-image: none;
    padding: 0;
}
#global-menubar > ul.menu {
    background-color: transparent;
}
#global-menubar ul.menu li ul {
    background-color: #c6a019;
}
#global-menubar ul.menu li a {
    color: #222;
    font-size: 14px;
    font-family: 'PFDinTextPro-medium';
    font-weight: normal;
}
#site-main-content #global-menubar ul.menu li {
    height: 30px;
}
#webpage #global-menubar .nav-link {
    height: 30px;
    line-height: 30px;
}

/* ------------------------------------------------------------------------
  forms
------------------------------------------------------------------------ */
.productwrapper form #attribute-multi-options-fake {
    display: block;
    float: left;
}
.productwrapper form #attribute-multi-options-select {
    width: 240px;
    display: block;
}
.productwrapper form div {
    display: inline;
}
.integrated #form_container form.appnitro li label.choice {
    width: 390px!important;
}
.integrated #form_container form.appnitro li {
    width: 446px!important;
}

/* ------------------------------------------------------------------------
  shop
------------------------------------------------------------------------ */
div.billing, div.shipping, div.additional-information, div.accountinfo, div.coupon {
    width: 443px !important;
    padding: 15px;
}
div.shop-userregister input, div.user_register input,
div.shop-userregister select, div.user_register select {
    margin: 3px 0 8px;
}
#site-main-content .billing_help {
    font-size: 11px;
}

/********************************************************************************
  general styles
********************************************************************************/
a.button, a.seeall {
    color:#5c5c5c;
}
#site-main-content a.button {
    color: #015186;
}
#site-main-content p, #site-main-content ul, #site-main-content ol,
#site-main-content li, #site-main-content a {
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
}
#site-main-content h2 a {
    font-size: 25px;
}
#site-main-content h3 a, #extrainfo h3 a {
    font-size: 18px;
    font-weight: normal;
}
body #extrainfo h3 {
    padding-bottom: 7px;
}
#site-main-content h2 a, #site-main-content h3 a, #site-main-content h4 a,
#extrainfo h3 a {
    font-family: 'PFDinTextPro-medium';
}
footer .document {
    background-color: #888;
}
h3 img {
    float: left;
    margin-right: 7px;
}
#site-main-content p a {
    color: #015186;
}
.redBold {
    color: #C4122F;
    font-weight: bold;
}
.black {
    color: #000;
}
.blackBold {
    color: #000;
    font-weight: bold;
}
.lightGrey {
    color: #757575;
}
#site-main-content .related-content ul a {
    font-family: 'PFDinTextPro-medium';
    color: #03548b;
}
#site-main-content .r-articlethumbnail ul {
    margin: 0;
    padding: 0 18px;
}
#site-main-content ul {
    font-family: arial, helvetica, sans-serif;
}
.module.customtag {
    background-color: #e9e9e9;
    padding: 10px;
}
#site-main-content ul.vertical {
    padding: 0;
}
#site-main-content ul.vertical li {
    line-height: 18px;
    margin-bottom: 10px;
}
#extrainfo .infobox{
    background-color:#ebeded;
    overflow: hidden;
}
.extrainfo #extrainfo{
    padding-top: 0;
}
#webpage #extrainfo .infobox_ad {
    margin: 0px;
    padding: 0px;
    background: #fff;
}
#webpage #extrainfo .infobox_ad  .infobox-content {
    padding: 0px;
}
.infobox-content ul {
    padding: 0 10px;
    margin: 0 0 15px 15px;
    line-height: 20px;
}
#site-main-content .line-image .column.r-small {
    width: 650px;
}
.extrainfo #site-main-content .line-image .column.r-small {
    width: 350px;
}
table {
    font-size: 12px;
}
#site-main-content.class-enhanced-frontpage {
    padding-top: 15px;
}

/* ------------------------------------------------------------------------
  gold class
------------------------------------------------------------------------ */
.gold {
    font-weight: normal;
    padding-bottom: 5px;
    margin-top: 0;
    border-bottom: 8px solid #DAC792;
    margin-bottom: 8px;
}
.separator.gold hr {
    display: none;
}
#site-main-content h2.gold {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* ------------------------------------------------------------------------
  front page zones
------------------------------------------------------------------------ */
.top_center_zone, .bottom_center_zone, .top_left_zone, .bottom_left_zone {
    width: 305px;
    padding-right: 10px;
    border-right: 2px solid #555;
    margin-right: 10px;
}
.top_right_zone, .bottom_right_zone {
    width: 299px;
}
.middle_zone {
    width: 948px;
    margin-top: 15px;
    padding: 10px;
    position: relative;
    left: -10px;
    background-color: #DAC792;
    border: 2px solid #03548b;
    border-left: 10px solid #03548b;
}
.middle_zone ul {
    padding: 0px 16px;
    margin: 8px 0;
    display: inline-block;
}
.middle_zone li {
    margin-bottom: 0px;
}
.homepage #site-main-content .middle_zone p {
    line-height: 14px;
    margin-bottom:5px;
}
.homepage #site-main-content .middle_zone a {
    font-size: 12px;
    color: #333;
    line-height: 14px;
    text-decoration: underline;
}
.bottom_left_zone, .bottom_center_zone, .bottom_right_zone {
    padding-top: 20px;
}
.top_right_zone p a {
    color: #015186;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
}
#site-main-content .top_right_zone p {
    margin: 5px 0;
}
#site-main-content .top_right_zone aside {
    margin-bottom: 0;
}
.bottom_center_zone p a {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}


/* ------------------------------------------------------------------------
  headers
------------------------------------------------------------------------ */
#site-main-content h1, #site-main-content h2, #site-main-content h3,
#extrainfo h3, #extrainfo h1 {
    font-family: 'PFDinTextPro-medium';
    margin: 0;
    color: #333;
    font-weight: normal;
}
.subpage .content-view-full header h1 {
    font-size: 23px;
}
#site-main-content h2 {
    margin-bottom: 5px;
}
h2 a, h3 a, #extrainfo h1 a {
    color: #03548b;
}
#extrainfo h1 {
    line-height: 25px;
    margin-bottom: 10px;
}
.class-enhanced-frontpage header {
    border-bottom: none;
}
#site-main-content.class-enhanced-frontpage header h1,
#site-main-content.class-enhanced-frontpage h2, #extrainfo h1 {
    font-size: 25px;
    margin-top: 0;
    text-transform: uppercase;
}
#site-main-content.class-enhanced-frontpage header h1{
    border:none;
}
.middle_zone h2 {
    margin-top: 0;
    font-size: 22px;
}
.custom-tag-twitterfeed .column.header-text {
    width: 245px;
}
.infobox header, .customtag header {
    border-bottom: none;
}
.class-enhanced-frontpage h4, #site-main-content.class-enhanced-frontpage h4 a {
    font-family: 'PFDinTextPro-medium';
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 2px 0;
    font-weight: normal;
}
.content-view-full header h1 {
    font-size: 23px;
    padding: 5px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
}
.content-view-full #extrainfo header h1 {
    border: none;
}
header.case1, .class-news-item header,
.module.content-view-full.class-issue header {
    margin: 10px 0 20px 0;
}
#site-main-content.class-event-calendar header h1 {
    margin-bottom: 10px;
}
.content-view-full h2 {
    font-size: 18px;
    margin-bottom: 7px;
    color: #03548B;
}
#site-main-content h3 {
    font-size: 16px;
    margin-bottom: 7px;
}
#extrainfo h1 a {
    font-size: 20px;
    text-transform: none;
}
#extrainfo .content-view-embed.class-article h1 {
    line-height: 24px;
}
#site-main-content hgroup h1 {
    margin-bottom: 10px
}
#webpage #global-menubar .nav-link {
    padding: 0 15px;
}
#site-main-content .shop h1 {
    margin: 15px 0;
}
#site-main-content .one-subhead {
    font-size: 25px;
    text-transform: uppercase;
    padding: 15px 0;
    margin-top: 15px;
    border-top: 1px solid #ccc;
}


/********************************************************************************
  general content
********************************************************************************/
.custom-tag-daily-news div {
    display: none;
}
.custom-tag-daily-news div.active {
    display: block;
}
header[role="banner"] .searchblock .cart {
    font-size: 16px;
    font-family: 'PFDinTextPro-medium';
    padding: 7px 8px 6px;
    width: 86px;
    height: 20px;
    bottom: 3px;
}
header[role="banner"] .searchblock .cart a {
    position: relative;
    top: -3px;
}
#social-media .no-display {
    display: none;
}
header[role="banner"] .searchblock #social-media {
    bottom: 5px;
    width: 130px;
}
#social-media li {
    margin-right: 10px;
    top: 1px;
}
#social-media li a img {
    width: 30px;
    height:30px;
}
#webpage .content-view-line.class-user h2 small {
    display:block;
    float: none;
}
nav.links .cart a {
    font-size: 85%;
}

/********************************************************************************
  header
********************************************************************************/

/* ------------------------------------------------------------------------
  user pane
------------------------------------------------------------------------ */
body header[role="banner"] #user-pane {
    font-size: 13px;
}
header[role="banner"] .loginbox {
    height: 24px;
    width: 140px;
    margin-right: 12px;
    padding: 0px 2px;
    background-color: transparent;
    border: none;
}
#user-pane #login {
    height: 18px;
    padding: 0;
    width: 136px;
    border: none;
    margin-top: 3px;
}
#login input {
    width: 134px;
    vertical-align: top;
    height: 16px;
}
header[role="banner"] .loginbox input {
    width: 134px;
    padding: 0;
}
header[role="banner"] #user-pane {
    font-family: 'PFDinTextPro-medium';
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 200px;
    margin-top: 10px;
    width: 880px;
}
header[role="banner"] #user-pane a {
    color: #fff;
    text-decoration: none;
}
#user-pane li {
    padding: 0 5px;
    border-right: 2px solid #DAC792;
}
#user-pane li#language-switcher {
    border-right: 0px;
}
#user-pane li#language-switcher label span {
    margin: 0;
}
#user-pane li li {
    border-right: none;
    padding: 0;
}
#user-pane label {
    vertical-align: top;
    margin-right: 5px;
}
#user-pane #lang_switch {
    margin-right: 0;
}
#user-pane strong {
    font-weight: normal;
}
#user-pane .no-display {
    display: none;
}
#login_form ul {
    margin: 0px;
    padding: 0px;
}
#languages {
    margin-left: 0;
}
#user-pane #change-cookie {
    border-right: none;
}
.module-view-dashboard #site-main-content h2 a{
    font-size:20px;
}


/********************************************************************************
  footer
********************************************************************************/
footer {
    background: rgba(0, 0, 0, 0) url("../images/FooterBckgrnd.png") no-repeat scroll center center / cover;
    text-align: left;
    padding-left: 5px;
    height: 255px;
}
footer table {
    margin-bottom: 20px;
}
footer p {
    font-size: 10px;
    width: 200px;
    color: #fff;
}
footer h2 a {
    text-decoration: underline;
}
#subfooter {
    background-color: #282a2b;
    border-top: 1px solid #4b4c4d;
    padding-bottom: 16px;
    padding-top: 18px;
    color: #8c8989;
}
#subfooter p, #subfooter a {
    font-size: 12px;
}
#subfooter a {
    color: #bfbfbf;
}
#subfooter a:hover {
    color: #eeb111;
}
#subfooter .subfooter-container {
    width: 980px;
    margin: 0 auto;
}
/********************************************************************************
  navigation
********************************************************************************/

/* ------------------------------------------------------------------------
  global menubar
------------------------------------------------------------------------ */
#global-menubar {
    height: 50px;
    background-color: #ebdfc2;
}

/* ------------------------------------------------------------------------
  secondary navigation
------------------------------------------------------------------------ */
#secondary-navigation {
    background-color: #005c81;
    height: 42px;
    display: none;
}
#secondary-navigation a {
    font-family: 'PFDinTextPro-medium';
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    width: 324px;
    padding: 6px 0;
    text-align: center;
    background: #005c81 url(../images/secondary-nav-bg.png) repeat;
}
#secondary-navigation a:hover {
    color: #c7e5f2;
}

/* ------------------------------------------------------------------------
  site sidebar
------------------------------------------------------------------------ */
#site_sidebar {
    left: 980px;
    top: 200px;
    position: absolute;
    font-family: 'PFDinTextPro-regular';
    font-size: 12px;
}
#site_sidebar .toggle {
    background-color: #faf9f5;
    box-shadow: 0px 0px 3px #888;
    margin-top: 0;
    padding: 5px;
    width: 110px;
    -moz-box-shadow: 0px 0px 3px #888;
    -webkit-box-shadow: 0px 0px 3px #888;
}
#site_sidebar #site_sidebar_toggle {
    background-color: #dadbdb;
    display: block;
    padding: 2px 4px;
    position: absolute;
    right: -15px;
    top: 0;
}
#site_sidebar p {
    margin: 0;
}
#site_sidebar a.redBold {
    font-weight: bold;
}
#site_sidebar .separator {
    margin: 7px 0;
    padding: 0;
}
#site_sidebar .separator hr {
    height: 2px;
    background-color: #333;
}
#site_sidebar li {
    line-height: 14px;
    margin-bottom: 9px;
}
#site_sidebar li a:hover {
    text-decoration: underline;
}
#site_sidebar li .redBold {
    font-weight: normal;
    font-family: 'PFDinTextPro-medium'
}

/* ------------------------------------------------------------------------
  sidemenu
------------------------------------------------------------------------ */
#sidebar {
    position: relative;
        left: -10px;
}
#sidemenu {
    border: none;
    background-color: #ebebeb;
    padding: 10px 10px 10px 15px;
}
#sidemenu h2 a {
    color: #333;
}
#sidemenu h2 {
    color: #333;
}
#sidemenu .link_ob_class_nav_divider {
    color: #333;
}
#sidemenu .separator {
    display: none;
}
.previous-link {
    margin-top: 15px;
}

/* ------------------------------------------------------------------------
  footer navigation
------------------------------------------------------------------------ */
.content-view-full footer h2 {
    color: #03548b;
    font-family: 'PFDinTextPro-medium';
    text-transform: uppercase;
    font-weight: normal;
}
#webpage footer td {
    background: url(../images/footer-column-bg.png) right 20px no-repeat;
    padding: 0 15px;
}
footer ul {
    list-style-type: none;
    padding: 5px 0 10px 10px;
    margin: 0;
}
footer ul a {
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
}
table[summary="footer copyright"] a {
    font-family: 'PFDinTextPro-medium';
    color: #03548b;
    text-decoration: underline;
}


/********************************************************************************
  user page
********************************************************************************/

/* ------------------------------------------------------------------------
  accept cookies browser bar
------------------------------------------------------------------------ */
#cookie-notice {
    border-bottom: 3px solid #bbb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
#cookie-notice p {
    margin: 8px auto;
    position:relative;
}
#cookie-notice a {
    font-family: 'PFDinTextPro-medium';
    text-transform: uppercase;
}

/********************************************************************************
  custom tags
********************************************************************************/
#site-main-content .customtag h2 {
    font-weight: normal;
    line-height: 20px;
    text-transform: none;
}
#site-main-content .customtag h3 a {
    font-size: 18px;
    text-transform: none;
}

/* ------------------------------------------------------------------------
  featured blog post
------------------------------------------------------------------------ */
#site-main-content.class-enhanced-frontpage .custom-tag-featured_blog_post h3 {
    text-transform: none;
    font-weight: normal;
}
#site-main-content.class-enhanced-frontpage .custom-tag-featured_blog_post h3 a {
    font-size: 18px;
}

/* ------------------------------------------------------------------------
  content tabs
------------------------------------------------------------------------ */
.customtag.custom-tag-tabbox {
    margin: 0;
    padding: 0;
}
.customtag.custom-tag-tabbox .customtag-content .tabs li {
    width: 88%;
}
.customtag-content .tabs a {
    padding: 6px 17px;
    width: 100%;
}

/* ------------------------------------------------------------------------
  daily news
------------------------------------------------------------------------ */
.content-view-listitem.class-news-item h2 {
    font-family: 'PFDinTextPro-regular';
}
.custom-tag-scrollable header span.realmedia_TopRight a {
    margin-top:34px;
}
.custom-tag-scrollable header {
    padding-bottom: 15px;
}
.custom-tag-daily-news {
    padding: 0;
    margin: 0;
    padding-top: 15px;
}
#site-main-content .custom-tag-daily-news a {
    font-family: 'PFDinTextPro-medium';
    font-size: 14px;
    color: #075387;
    text-decoration: underline;
}
.custom-tag-daily-news h2 {
    margin: 0 0 5px;
}
.custom-tag-daily-news ul {
    list-style-type: none;
    padding: 0;
}
.custom-tag-daily-news .content_selector h2 {
    display: inline-block;
}
.realmedia_TopRight img {
    margin-top: 0;
}
.custom-tag-daily-news .content_selector {
    margin-bottom: 20px;
}
#site-main-content .custom-tag-daily-news .content_selector a.items {
    color: #888;
}
#site-main-content .custom-tag-daily-news .content_selector a.items.news-toggle {
    color: #075387;
}
.custom-tag-daily-news ul.items {
    display: none;
}
.custom-tag-daily-news ul.items.news-toggle {
    display: block;
}

/* ------------------------------------------------------------------------
  latest research
------------------------------------------------------------------------ */
.custom-tag-latest-research {
    background-color: #dadbdd;
    border: none;
    padding: 1px 10px;
}
#site-main-content.class-enhanced-frontpage .custom-tag-latest-research h2 {
    color: #C4122F;
    margin: 0 0 8px;
}
#site-main-content .custom-tag-latest-research ul {
    list-style-type:none;
    padding:0;
    margin:0 0 10px 0;
}
#site-main-content .custom-tag-latest-research li a {
    font-size: 14px;
    color: #015186;
    font-family: 'PFDinTextPro-medium';
}

/* ------------------------------------------------------------------------
  twitter feed
------------------------------------------------------------------------ */
.custom-tag-twitterfeed {
    padding: 0;
    background-color: transparent;
    border: none;
    margin-top: 15px;
}
.column.follow-button {
    margin-right: 5px;
}
.media_feed_post {
    font-size: 14px;
}
.custom-tag-twitterfeed a {
    font-family: 'PFDinTextPro-medium';
    color: #03548b;
    font-size: 18px;
}
#site-main-content .custom-tag-twitterfeed .twitter_user {
    font-size: 18px;
    font-family: 'PFDinTextPro-medium'
}
.custom-tag-twitterfeed .column.header-icon {
    display: none;
}
.custom-tag-twitterfeed .feed-item {
    margin: 8px 0;
}
.custom-tag-twitterfeed h2 {
    position: relative;
    top: 5px;
}

/* ------------------------------------------------------------------------
  recent blogpostlist
------------------------------------------------------------------------ */
a.rss{
    display:inline-block;
    margin-top:10px;
}


/********************************************************************************
  content classes
********************************************************************************/

/* ------------------------------------------------------------------------
  conference
------------------------------------------------------------------------ */
.content-view-embed.class-conference .attribute-image {
    width: 50px;
    float: left;
    margin: 0 10px 0 0;
}
.content-view-line .attribute-image {
    margin-right: 10px;
}
.content-view-embed .attribute-image a {
    text-decoration: none;
}
#site-main-content .content-view-embed.class-conference h2 a {
    display: inline-block;
    margin: 0 0 4px 10px;
    width: 212px;
    text-transform: none;
    font-size: 18px;
}
#site-main-content .content-view-embed.class-conference .attribute-image {
    margin-right: 8px;
}
#site-main-content .content-view-embed.class-conference h3 {
    margin-bottom: 10px;
}
.content-view-embed.class-conference span.location {
    border-top: 1px solid #3a4046;
    color: #3a4046;
    display: block;
    font-family: 'PFDinTextPro-medium';
    font-size: 18px;
}
.content-view-line.class-conference .column{
    width:345px;
}
.noextrainfo .content-view-line.class-conference .column {
    width: auto;
    max-width: 670px;
}
.content-view-line.class-conference .column.attribute-image{
    width:80px;
}
.content-view-line.class-conference.featured {
    background-color: #e9e9e9;
    padding: 10px;
}
#site-main-content .content-view-line.class-conference .column h2 a {
    font-size: 22px;
    text-decoration: underline;
}
.class-conference .conference-content{
    padding-top:20px;
}
#site-main-content.class-conference h3{
    display:inline-block;
}
#site-main-content.class-conference .location{
    float:right;
    position:relative;
    top:2px;
}
/*
.class-conference .class-conference-title {
    display: none;
}*/
/* ------------------------------------------------------------------------
  product
------------------------------------------------------------------------ */
.content-view-embed.class-xrow_product h3 {
    text-transform: none;
}
.class-enhanced-frontpage .content-view-embed.class-xrow_product.featured h3 {
    font-size: 16px;
    color: #015186;
    font-family: 'PFDinTextPro-medium';
    font-weight: normal;
}
.class-enhanced-frontpage .content-view-embed.class-xrow_product.featured p {
    color: #333;
}
.class-xrow_product.line-image .product-image.featured {
    width: 55px;
}
div.class-xrow-commerce div.attribute-image {
    border: none;
}

/* ------------------------------------------------------------------------
  article
------------------------------------------------------------------------ */
.button.share, .button.print {
    color: #5c5c5c !important;
}
.content-view-full #article-utility h2 {
    color: #024c73;
}
#site-main-content.content-view-full.class-xrow-product header {
    padding:10px 0 20px;
}
#site-main-content .content-view-full header {
    padding:15px 0 5px;
}
#site-main-content.class-article section.advanced.module.related-content header{
    background-color:#f5f5f2;
    border-bottom:1px solid #dddddd;
    border-top:1px solid #dddddd;
    padding:6px 10px;
}
#site-main-content.class-article section.advanced.module.related-content h1{
    border:none;
    color:#005187;
    font-family:Arial;
    padding:0;
    text-transform:uppercase;
}
#site-main-content.class-article .article-content .content-sidebar h2{
    margin-bottom:8px;
}
#site-main-content.content-view-full.class-article .article-content .content-sidebar h3{
    margin:10px 0;
}
#site-main-content #comments.advanced.module h1{
    font-weight:normal;
    padding:10px 0;
}
#site-main-content .related-content ul a{
    font-family:arial;
    font-size:12px;
    font-weight:normal;
}
.recent-updates header{
    padding:6px 0 0;
}
.recent-updates .column{
    width:156px;
}

/* ------------------------------------------------------------------------
  blog
------------------------------------------------------------------------- */ 
#site-main-content .attribute-byline .date{
    margin:4px 0;
}
#site-main-content.content-view-full.class-blog h1{
    margin-bottom:10px;
}
#site-main-content.content-view-full.class-blog .related-content{
    margin:0;
}
#site-main-content.class-enhanced-frontpage.content-view-full
.content-view-embed.class-blog-post {
    margin: 0;
}
#site-main-content.content-view-full .content-view-embed.class-blog-post {
    margin: 15px 0;
}
#site-main-content.content-view-full .content-view-embed.class-blog-post p {
    margin: 5px 0;
    line-height: 18px;
}

/********************************************************************************
  search
********************************************************************************/
.searchtext {
    height: 20px;
    vertical-align: top;
    padding-left: 5px;
}
#site-main-content .content-view-line.class-article.line-image .column.r-articlethumbnail{
    width:760px;
}
.searchbutton {
    position:relative;
    top:2px;
}
.module-view-search #savethissearch{
    background-color:#00557a;
    border:none;
    color:#ffffff;
    font-family:'PFDinTextPro-medium';
    font-size:12px;
    font-weight:500;
    margin-left:10px;
    padding:2px 4px;
    position:relative;
    text-transform:uppercase;
    top:2px;
}
#searchCreationTimeDateFilterLabel {
        position:relative;
        left: 2px;
        top: 2px;
        font-weight: 600;
}
#searchCreationTimeDateFilter {
        position:relative;
        left: 2px;
        top: 2px;
}

/* ------------------------------------------------------------------------
  topic
------------------------------------------------------------------------ */
.content-view-embed.class-topic .content-view-embed.class-topic {
    background-color: #ededed;
    border: 1px solid #ccc;
    width: 315px;
    padding-bottom: 10px;
}
.topic_embed_image {
    height: 49px;
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
}
.topic_embed_image h2 {
    position: absolute;
    left: 62px;
}
#site-main-content .topic_embed_image h2 {
    margin-top: 11px;
}
#site-main-content .topic_embed_image h2 a{
    color: #00446A;
    font-size: 14px;
    position: relative;
}
#site-main-content .content-view-embed.class-topic .items h2 a {
    padding: 0 0px;
    font-family: arial, helvetica, sans-serif;
    font-weight: normal;
    text-decoration: underline;
    font-size: 12px;
    color: #015186;
}
.topic_embed_image img {
    position: absolute;
}
.content-view-embed.class-topic .top_topic_match_img {
    height: 64px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    display: none;
}
.top_topic_match_img img {
    width: 100%;
    height: auto!important;
}
.content-view-embed.class-topic .items h2 {
    padding: 0 10px;
}

.dashboard-link {
    display: inline;
    position: absolute;
    top: 45px;
    left: 207px;
}
.dashboard-link a {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'PFDinTextPro-medium', sans-serif;
}

.noalign .attribute-image, .align-center .attribute-image {
    width: 100%;
    margin-bottom: 10px;
}
.noalign .infobox .attribute-image, .align-center .infobox .attribute-image {
    width: auto;
}
.align-center .attribute-image a {
    text-align: center;
}

/* comments */
#ezcom-comment-list .class-comment h2 {
  margin-left: 10px;
}

#ezcom-comment-list .class-comment .author-name {
  color: #015186;
  margin-right: 5px;
  font-family: 'PFDinTextPro-medium', sans-serif;
}

#ezcom-comment-list .class-comment .author {
  width: 100%;
  margin-top: 0px;
  position: relative;
  left: 10px;
  margin-bottom: 5px;
}
