.ezsr-star-rating li a
{
    cursor: default;
}
.ezsr-star-rating-enabled li a
{
    cursor: pointer;
}
.ezsr-star-rating,
.ezsr-star-rating a:hover,
.ezsr-star-rating a:active,
.ezsr-star-rating a:focus,
.ezsr-star-rating .ezsr-current-rating
{
	background: url(../images/star-rating.png) left -1000px repeat-x;
}
.ezsr-star-rating
{
  position: relative;
  width: 190px;
  height: 28px;
  overflow: hidden;
  list-style: none;
  margin: 0 0 10px 28px;
  padding: 0;
  background-position: left top;
}
.ezsr-star-rating li
{
  display: inline;
  margin: 0;
  padding: 0;
}
.ezsr-star-rating a, 
.ezsr-star-rating .ezsr-current-rating
{
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -1000em;
	height: 28px;
	line-height: 28px;
	outline: none;
	overflow: hidden;
	border: none;
}
.ezsr-star-rating-enabled a:hover,
.ezsr-star-rating-enabled a:active,
.ezsr-star-rating-enabled a:focus
{
	background-position: left bottom;
}
.ezsr-star-rating a.ezsr-stars-1
{
	width: 20%;
	z-index: 6;
}
.ezsr-star-rating a.ezsr-stars-2
{
	width: 40%;
	z-index: 5;
}
.ezsr-star-rating a.ezsr-stars-3
{
	width: 60%;
	z-index: 4;
}
.ezsr-star-rating a.ezsr-stars-4
{
	width: 80%;
	z-index: 3;
}
.ezsr-star-rating a.ezsr-stars-5
{
	width: 100%;
	z-index: 2;
}
.ezsr-star-rating .ezsr-current-rating
{
	z-index: 1;
	background-position: left center;
}
span.ezsr_average_rating
{
	font-weight: bold;
}

/* this is usually declared in core.css, but we redeclare it here in case the user does not include that file */
.hide
{
    display: none;
}
