.content-view-embed.class-file img{
	margin-right: 4px;
	vertical-align: middle;
}
.spamfilter{
	display:none;
}
.content-view-line .attribute-image,.content-view-listitem .attribute-image,.content-view-embed:not(.class-image) .attribute-image{
	float:left;
	margin-right:10px;
}
.separator{
	clear:both;
	padding:10px 0;
}
.content-view-embed.class-image{
	margin-bottom:12px;
}

.content-view-full.class-blog-post{
	position:relative;
}
.content-view-full.class-blog-post .attribute-image{
	position:absolute;
	right:20px;
	top:20px;
}
.content-view-line.class-blog-post .attribute-byline{
	margin:2px 0 6px;
}

table{
	font-size:1em; /* Fix for size "loss" in tables in IE; redundant for most other browsers */
	margin:0;
	padding:0;
}

th,td{
	padding:0;
}

th.tight,td.tight{
	width:1%;
}

td.nowrap{
	white-space:nowrap;
}

td.number{
	text-align:right;
}

table.default th,table.default td{
	padding:2px;
}

table.list{
	border:none;
	margin:1em 0 1em 0;
	width:100%;
}

table.list th,table.list td{
	border-right:1px solid #ffffff;
	border-bottom:none;
	padding:0.5em;
	vertical-align:top;
}

table.list th{
	background-color:#dfdfdf;
	color:#525345;
	font-weight:bold;
	text-align:left;
	white-space:nowrap;
}

table.list td{
	border-top:1px solid #f8f8f8;
	font-weight:normal;
}

table.list th:first-child,table.list td:first-child{
	border-left:1px solid #ffffff;
}

table.list tr.bglight{
	background-color:#f1f1ed;
}

table.list tr.bgdark{
	background-color:#eae9e1;
}

table.list tr.bglight:hover,table.list tr.bgdark:hover{
	background-color:#ffffff;
}

table.list tr.bglight:hover td,table.list tr.bgdark:hover td{
	border-color:#ffffff;
}

table.list a{
	border-bottom-color:#eae9e1;
}

table.list img{
	vertical-align:middle;
}

table.cols{
	border:none;
	margin:1em 0 1em 0;
	width:100%;
}

table.cols th,table.cols td{
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	padding:0.5em;
	vertical-align:top;
}

table.cols th{
	background-color:#dfdfdf;
	color:#525345;
	font-weight:bold;
	text-align:left;
	white-space:nowrap;
}

table.cols td{
	font-weight:normal;
}

table.cols th:first-child,table.cols td:first-child{
	border-left:1px solid #ffffff;
}

table.cols col.bglight,div.bglight,table.cols tr.bglight:hover td,table.cols tr.bgdark:hover td{
	background-color:#f1f1ed;
}

table.cols col.bgdark,div.bgdark,table.cols tr.bglight:hover,table.cols tr.bgdark:hover{
	background-color:#eae9e1;
}

table.cols a{
	border-bottom-color:#eae9e1;
}

table.comparison{
	border:none;
	margin:1em 0 1em 0;
	width:100%;
}

table.comparison th,table.comparison td{
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	padding:0.5em;
	vertical-align:top;
}

table.comparison th{
	background-color:#dfdfdf;
	color:#525345;
	font-weight:bold;
	text-align:left;
	white-space:nowrap;
}

table.comparison td{
	font-weight:normal;
}

table.comparison th:first-child,table.comparison td:first-child{
	border-left:1px solid #ffffff;
}

table.comparison col.bglight,div.bglight,table.comparison tr.bglight:hover,table.comparison tr.bgdark:hover{
	background-color:#f1f1ed;
}

table.comparison col.bgdark,div.bgdark{
	background-color:#dfdfdf;
	color:#525345;
	text-align:left;
}

table.comparison tr.bglight:hover td,table.comparison tr.bgdark:hover td{
	background-color:#eae9e1;
}

table.comparison a{
	border-bottom-color:#eae9e1;
}










table.renderedtable{
	border:none;
	margin:1em 0;
	width:100%;
}

table.renderedtable th,table.renderedtable td{
	padding:0.5em;
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	vertical-align:top;
}

table.renderedtable th{
	background-color:#dfdfdf;
	color:#525345;
	font-weight:bold;
	text-align:left;
	white-space:nowrap;
}

table.renderedtable th:first-child,table.renderedtable td:first-child{
	border-left:1px solid #ffffff;
}

table.renderedtable tr.bglight,div.bglight,table.renderedtable tr.bglight:hover td,table.renderedtable tr.bgdark:hover td{
	background-color:#f1f1ed;
}

table.renderedtable tr.bgdark,div.bgdark,table.renderedtable tr.bglight:hover,table.renderedtable tr.bgdark:hover{
	background-color:#eae9e1;
}

table.renderedtable a{
	border-bottom-color:#eae9e1;
}


table.calendar caption{
	font-weight:bold;
	padding:2px 0;
}

table.calendar caption a{
	font-size:1.2em;
}

table.calendar caption span{
	display:inline-block;
	vertical-align:middle;
	width:75%;
}

table.calendar td{
	text-align:center;
}

table.calendar td.current{
	background-color:#e0e0e0;
	color:#d02020;
	font-weight:bold;
}

table.calendar td.selected{
	background-color:#ffffaa;
}
