/*
 Core Styles based on FireFox resource://gre/res/html.css
 Defined after reset StyleSheet
*/

/* Some browsers may display a border around a linked image without this attribute set to _none_. */
a img{
	border:none;
}

address{
	font-style:italic;
}

abbr[title], acronym[title]{
	border-bottom:dotted 1px;
}

blockquote{
	margin:1em 40px;
}

blockquote[type=cite]{
	border:thin solid blue;
	margin:1em 0px;
	padding:1em;
}

blockquote:before, q:before{
	content:open-quote;
}

blockquote:after, q:after{
	content:close-quote;
}

body{
	font-size:14px;
}

code, pre{
	font-family: "Courier New", Courier, monospace; /* Usually defaulted to monospaced font anyway, but browwsers may vary which one is used, so giving exact alternatives helps visual consistenct */
	font-size: 1em; /* Setting this exact size may also help visual consistency */
}

h1{
	font-size:2em;
	margin:0.67em 0;
}

h2{
	font-size:1.5em;
	margin:0.83em 0;
}

h3{
	font-size:1.17em;
	margin:1em 0;
}

h4{
	margin:1.33em 0;
}

h5{
	font-size:0.83em;
	margin:1.67em 0;
}

h6{
	font-size:0.67em;
	margin:2.33em 0;
}

/* General formatting for all horizontal rulers */
hr{
	border:none; /* All borders must be removed as they are default for Opera */
	border-top:1px solid #e0e0e0; /* This single top border is the one replacing the default look of the ruler */
	color:#ffffff; /* Color must be set to the same as the background color to hide default formatting in IE */
	height:1px;
	margin:0.35em 0 0.35em 0; /* Be aware that these margins may not be calculated consistently across browsers */
}

iframe{
	border:2px inset;
}

pre{
	background-color: #f8f8f8;
	border:1px solid #e0e0e0;
	margin:1em 0;
}

small{
	font-size:smaller;
}

sub{
	vertical-align:sub;
	font-size:smaller;
	line-height:normal;
}

sup{
	vertical-align:super;
	font-size:smaller;
	line-height:normal;
}

table{
	font-size: 1em; /* Fix for size "loss" in tables in IE; redundant for most other browsers */
/*
	border-collapse:separate;
	border-spacing:2px;
*/
}

table>tr, tbody, thead, tfoot{
	vertical-align:middle;
}

tr{
	vertical-align:inherit;
}

td{
	vertical-align:inherit;
	padding:1px;
}

th{
	vertical-align:inherit;
	padding:1px;
}

dd{
	margin:40px;
}

dl, multicol, p{
	margin:1em 0;
	line-height:1.4;
}

ol{
	list-style-type:decimal;
	margin:1em 0;
	padding:40px;
}

ul, menu, dir{
	list-style-type:disc;
	margin:1em 0;
	padding:0 40px;
}


/* nested lists have no top/bottom margins */
ul ul, ul ol, ul dir, ul menu, ul dl,
ol ul, ol ol, ol dir, ol menu, ol dl,
dir ul,  dir ol,  dir dir,  dir menu,  dir dl,
menu ul, menu ol, menu dir, menu menu, menu dl,
dl ul, dl ol, dl dir, dl menu, dl dl{
	margin-top:0;
	margin-bottom:0;
}

/* 2 deep unordered lists use a circle */
ol ul, ul ul, menu ul, dir ul,
ol menu, ul menu, menu menu, dir menu,
ol dir,  ul dir,  menu dir,  dir dir{
	list-style-type:circle;
}

/* 3 deep (or more) unordered lists use a square */
ol ol ul, ol ul ul, ol menu ul, ol dir ul,
ol ol menu, ol ul menu, ol menu menu, ol dir menu,
ol ol dir,  ol ul dir,  ol menu dir,  ol dir dir,
ul ol ul, ul ul ul, ul menu ul, ul dir ul,
ul ol menu, ul ul menu, ul menu menu, ul dir menu,
ul ol dir,  ul ul dir,  ul menu dir,  ul dir dir,
menu ol ul, menu ul ul, menu menu ul, menu dir ul,
menu ol menu, menu ul menu, menu menu menu, menu dir menu,
menu ol dir,  menu ul dir,  menu menu dir,  menu dir dir,
dir ol ul,  dir ul ul,  dir menu ul,  dir dir ul,
dir ol menu,  dir ul menu,  dir menu menu,  dir dir menu,
dir ol dir, dir ul dir, dir menu dir, dir dir dir{
	list-style-type:square;
}
