/* Debug stylesheets */

div#debug{
	background:#ffffff;
	clear:both;
	font-size:0.75em;
	margin:10px auto;
	position:relative;
	text-align:left;
	width:1000px;
}

div#debug a{
	color:#0000ff;
}

div#debug label{
	display:block;
}

div#debug table{
	border-collapse:separate;
	width:100%;
}

div#debug table+h2, table+h3{
	margin-top:1em;
}

div#debug th{
	text-align:left;
}

div.debug-toolbar label{
	font-weight:normal;
}

div#debug table td, div#debug table th{
/*	border-top:solid 1px #ddd;
	border-right:solid 1px #eee;*/
	padding:4px;
}

div#debug pre{
	white-space:pre-wrap;
}

table#templateusage, table#timeaccumulators, table#timingpoints{
	font-size:1.1em;
}

table#templateusage th+th, table#templateusage td+td, table#timeaccumulators th+th, table#timeaccumulators td+td, table#timingpoints th+th, table#timingpoints td+td{
	padding:0.25em 0.5em 0.25em 0.5em;
}

p.comment /* Class to be used during development for quick comments that someone should notice easily */{
	background-color:#ffff00;
	border:2px dashed;
	display:block; /* Set this attribute to "none" to hide the comments */
	font-weight:bold;
	margin:4px;
	padding:4px;
}

pre.debugtransaction{
	background-color:#f8f6d8;
}

td.debugheader{
	background-color:#eeeeee;
	border-bottom:1px solid #444488;
	border-top:1px solid #444488;
	font-size:0.9em;
	font-family:Arial, Helvetica, sans-serif;
}

td.timingpoint1{
	background-color:#ffffff;
	border-top:1px solid #444488;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
}

td.timingpoint2{
	background-color:#eeeeee;
	border-top:1px solid #444488;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
}

/* eZSetup stuff */
td.ezsetup_header{
	background-color:#eeeeee;
	border-bottom:1px solid #444488;
	border-top:1px solid #444488;
	font-family:Arial, Helvetica, sans-serif;
	font-size:120%;
}

td.ezsetup_req{
	font-family:Arial, Helvetica, sans-serif;
	font-size:80%;
}

.ezsetup_critical{
	background-color:#eeeeee;
	border-bottom:1px solid #444488;
	border-top:1px solid #444488;
	color:#FF0000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:120%;
	font-weight:bold;
}

.ezsetup_uncritical{
	background-color:#eeeeee;
	border-bottom:1px solid #444488;
	border-top:1px solid #444488;
	/*color:#E8E800;*/
	color:#E2A31D;
	font-family:Arial, Helvetica, sans-serif;
	font-size:120%;
}

.ezsetup_pass{
	background-color:#eeeeee;
	border-bottom:1px solid #444488;
	border-top:1px solid #444488;
	color:#00B500;
	font-family:Arial, Helvetica, sans-serif;
	font-size:120%;
}

/* used templates statistics */
td.used_templates_stats1{
	background-color:#ffffff;
	border-top:1px solid #444488;
	font-family:Arial, Helvetica, sans-serif;
}

td.used_templates_stats2{
	background-color:#eeeeee;
	border-top:1px solid #444488;
	font-family:Arial, Helvetica, sans-serif;
}

