.content-edit{
	font-family:Arial;
}
.content-edit .module{
	margin:10px 0;
	padding:10px;
}
.content-edit .element{
	display:inline-block;
}
.content-edit .element img{
	vertical-align:middle;
}
.content-edit .buttonblock{
	margin:10px 0;
	text-align:center;
}
.content-edit .ezcca-edit-datatype-ezdatetime .date,.content-edit .ezcca-edit-datatype-ezdatetime .time{
	display:inline;
}
div.context-information,span.classattribute-description{
	color:#333333;
	font-size:0.8em;
	font-weight:normal;
}
div.context-information{
	margin-bottom:2em;
	background-color:#f8f8f8;
	border:1px solid #ccc;
	padding:0 0.5em;
}