/*********************
  core layout
*********************/
article, aside, canvas, footer, header, hgroup, nav, section{
	clear:both;
	display:block;
}

/*********************
  navigation
*********************/
nav a{
	text-decoration:none;
}

nav.module{
	margin-bottom:6px;
	padding:6px;
}

nav.module ul.menu li a{
	display:block;
	padding:4px 0;
}

nav ul.menu li.last a, nav.module ul.menu li.last a{
	border-width:0;
}

/*********************
  sections layout
*********************/
header[role=banner]{
	height:90px;
	position:relative;
}
header[role=banner] .document{
	position:relative;
}
footer{
	height:64px;
	position:relative;
}


/*********************
  content
*********************/
.content-view-full header h1{
	margin-top:0;
}

.content-view-full .content-view-line h2{
	margin-bottom:4px;
}

.content-view-full .content-view-line p{
	margin-top:0;
}

