/*********************
  core layout
*********************/
#document,#webpage,.document{
	font-size:0.9em;
	line-height:1.2;
	margin:0 auto;
	width:980px;
}

#site-columns{
	background-color:#ffffff;
	padding-bottom:20px;
}

#site-main-content,#sidebar,#extrainfo{
	vertical-align:top;
}

#site-main-content{
	margin:0 auto;
	padding:20px;
}

.noextrainfo #extrainfo,.nosidebar #sidebar{
	display:none;
}

.extrainfo #extrainfo,.sidebar #sidebar{
	display:inline-block;
	width:224px;
}

.sidebar.extrainfo #site-main-content{
	display:inline-block;
	margin:0 8px;
	width:466px;
}

.noextrainfo.sidebar #site-main-content{
	display:inline-block;
	margin-left:8px;
	width:702px;
}

.nosidebar.extrainfo #site-main-content{
	display:inline-block;
	margin-right:8px;
	width:702px;
}

.homepage.nosidebar.extrainfo #site-main-content,.homepage.sidebar.noextrainfo #site-main-content{
	padding:0;
	width:742px;
}

/*********************
  menu core
*********************/
ul.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.menu li{
	list-style-type: none;
}
ul.menu li.last a{
	border-width:0;
}
ul.submenu{
	display: none;
	padding: 0;
	margin: 0;
}
ul.horizontal{
	clear: left;
	display: inline-block;
/*	float: left;*/
	position: relative;
}
ul.horizontal li{
	float:left;
	display:inline;
	margin:0;
	position:relative;
	white-space:nowrap;
}
ul.horizontal li .delimiter img {
	vertical-align:middle;
}
ul.horizontal li ul.submenu{
	position: absolute;
	z-index: 100;
}
ul.vertical li{
	display: list-item;
	float: none;
	margin: 0;
}
ul.vertical .delimiter{
	display:none;
}
ul.menu ul.menu{
	display:none;
	position:absolute;
	text-align:left;
}
nav.module ul.menu li a{
	border-bottom:1px solid #000000;
}
nav ul.menu li.last a,nav.module ul.menu li.last a{
	border-width:0;
}
nav#sidemenu h2{
	margin:0;
}
nav#sidemenu .previous-link{
	background:transparent url(/extension/framework/design/framework/images/uparrow.gif) no-repeat 0 50%;
	padding-left:16px;
}
nav#sidemenu .separator{
	padding:2px 0;
}
nav#sidemenu .current a{
	background-color:#cccccc;
}

/*********************
  sections layout
*********************/
#banners{
	margin:6px 0;
	box-shadow:3px 3px 6px #666666;
}

#banners img{
	vertical-align:middle;
}

#copyright{
	color:#000000;
	padding:8px 12px;
	text-align:center;
}

#logo{
	left:16px;
	position:absolute;
	top:16px;
}

#site-header{
	height:90px;
	position:relative;
}

#site-header .document{
	position:relative;
}

#site-footer{
	height:64px;
	position:relative;
}

#search{
	background-color:#FFFFFF;
	border-radius:6px;
	padding:4px;
	position:absolute;
	right:0;
	top:60px;
}

#utility {
	position:absolute;
	right:20px;
	text-align:center;
}

.searchbutton{
	vertical-align:middle;
}

/*********************
  navigation
*********************/
#global-menubar{
	font-weight:bold;
	margin-bottom:10px;
	text-align:center;
}
#global-menubar ul.menu{
	margin:0 auto;
	z-index: 10000;
}
#global-menubar ul.menu li a{
	padding:2px 8px;
}
#path{
	font-size:0.9em;
	margin-bottom:4px;
}
#path a{
	color:#000000;
}
#path .delimiter{
	margin:0 4px;
}
.pagenavigator{
	text-align:center;
}
.pagenavigator ul{
	vertical-align:middle;
}
.pagenavigator li.current a{
	color:#000000;
}
.pagenavigator a{
	padding:0 6px;
	vertical-align:middle;
}

/*********************
  modules/infoboxes
*********************/
.module{
	background-color:#ffffff;
	border-radius:3px;
	border:1px solid #808080;
	clear:both;
}

.infobox,.customtag{
	margin-bottom:12px;
	padding:6px;
}

.infobox header,.customtag header{
	border-bottom:1px solid #999999;
	min-height:28px;
	position:relative;
}

.infobox header h1,.customtag header h1,.infobox header h2,.customtag header h2,.infobox header h3,.customtag header h3{
	color:#808080;
	font-size:14px;
	line-height:14px;
	margin:0 0 4px;
}

.infobox header h1,.customtag header h1{
	position:absolute;
	top:6px;
}

.infobox header a,.customtag header a{
	color:#808080;
	position:absolute;
	right:0;
	text-decoration:none;
	top:0;
}

.infobox-content,.customtag-content{
	padding:6px;
}

.infobox-content h2,.customtag-content h2{
	font-size:1em;
	margin:0;
}

.infobox-content p,.customtag-content p{
	margin-top:0;
}

/*********************
  content
*********************/
.attribute-image img{
	vertical-align:middle;
}
.column{
	display:inline-block;
	vertical-align:top;
}
.content-view-full section{
	clear:none;
}
.text-align-left{
	text-align:left;
}
.text-align-center{
	text-align:center;
}
.text-align-right{
	text-align:right;
}
/*********************
  embed
*********************/
.align-center{
	margin:0 auto;
	text-align:center;
}

.align-left{
	clear:left;
	float:left;
	margin-right:6px;
}

.align-right{
	clear:right;
	float:right;
	margin-left:6px;
}

.content-view-embed.class-image img,.content-view-embed.class-banner img{
	vertical-align:middle;
}


