<span class="close"><img alt="" src="/extension/site/design/site/images/close.png" width="14" height="14" /></span>
{*
<div class="attribute-image">
{if $object.data_map.image.has_content}{attribute_view_gui attribute=$object.data_map.image image_class='message'}{/if}
</div>
*}
{if $object.data_map.ml_image.content}
	<div class="attribute-image">{attribute_view_gui attribute=$object.data_map.ml_image.content.data_map.image image_class='message'}</div>
{elseif $object.data_map.image.content}
	<div class="attribute-image">{attribute_view_gui attribute=$object.data_map.image image_class='message'}</div>
{/if}

{attribute_view_gui attribute=$object.data_map.text}