@import 'variables';

/********************************************************************************
  explicit overrides
********************************************************************************/
.body-container, #site-columns {
    width: 980px;
    margin: 0 auto;
}

#site-main-content #path a, #site-main-content #path li{
    font-size:10px;
}
#site-main-content #path{
    margin-top:10px;
    display: none !important;
}
.sidebar.extrainfo #site-main-content {
    width: 474px;
    margin: 0 8px 0 0;
}
.nosidebar.extrainfo #site-main-content {
    width: 648px;
}
#site-columns {
    background-color: #fbfbf9;
}
.noextrainfo.sidebar #site-columns #site-main-content {
    width: 767px;
}
.noextrainfo.sidebar #site-main-content {
    margin: 0;
    width: 100%;
}
.noextrainfo.sidebar.module-view-search #site-columns #site-main-content{
    width:708px;
}
.module-view-search.sidebar #sidebar{
    width:250px;
}
.module-view-search.sidebar #sidebar .infobox{
    padding:6px 0 6px 6px;
}
nav.module ul.menu li a, .previous-link {
    border: none;
    font-family: 'PFDinTextPro-medium';
    text-decoration: underline;
    font-size: 14px;
}
nav.module ul.menu li {
    line-height: 18px;
}
.sidebar.noextrainfo #site-main-content
.content-view-line.class-article.line-image .column.r-articlethumbnail {
    width: 580px;
}
.sidebar.extrainfo #site-main-content
.content-view-line.class-article.line-image .column.r-articlethumbnail {
    width: 278px;
}
.delimiter img {
    height: 30px;
}
.cart a {
    color: #333;
}
.cart a img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 6px;
}
.extrainfo #extrainfo {
    width: 300px;
}
#site-main-content p {
    font-size: 14px;
    line-height: 19px;
    margin-top: 2px;
}
#extrainfo p {
    font-size: 12px;
    line-height: 18px;
}
#extrainfo ul {
    font-size: 12px;
}
#site-main-content.content-view-full p {
    line-height: 24px;
    margin: 20px 8px;
}
#site-main-content.content-view-full.class-folder p,
#site-main-content.content-view-full .r-articlethumbnail p,
#site-main-content .content-view-line.class-event p {
    margin: 7px 0;
}
#site-main-content.content-view-full.class-enhanced-frontpage p {
    margin: 7px 0;
    line-height: 19px;
}
#topics{
    margin-top:20px;
}
#topics .search-topics {
    overflow: hidden;
}
#topics .topic_embed_image {
    height: 60px !important;
}
#topics .default tr td .topic_embed_image h2 a {
    /*font-size: 60px;*/
    display: block;
    height: 65px;
    width: 210px;
    line-height: 1.3em;
    /*color: rgba(0, 68, 106, 0.0);*/
    /* For IE8 - selectivizr.js allows :nth-child */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
a.button {
    color: #015186;
}
.content-view-full.class-article a.button,
.content-view-full.class-news-item a.button {
    color: #024C73;
}
.content-view-line.class-event h2 a {
    color: #03548B;
}
.content-view-embed.class-image {
    margin-bottom: 10px;
}
.dashboard-menu h1, .dashboard-customize-window h1 {
    white-space: nowrap;
}
#dashboard {
    display: block;
    margin-left: 6px;
    a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-family: 'PFDinTextPro-medium', sans-serif;
        &:hover {
            color: #ebb111;
        }
    }
}

/* ------------------------------------------------------------------------
  header
------------------------------------------------------------------------ */
header[role="banner"] {
    height: 200px;
    margin-top: 0!important;
    background: rgba(0, 0, 0, 0) url("../../images/SIA_HeaderBckgrnd2.jpg") no-repeat scroll center center / 100% 100% !important;
    clear: left;

    .body-container {
        height: 149px;
    }

    .searchblock {
        position: relative;
        float: right;
        border-left: 1px solid #000000;
        height: 95px;
        top: 15px;

        #search {
            top: 75px;

            .tips {
                text-transform: uppercase;
                color: #ffffff;
                font-weight: bold;
                position: relative;
                top: -4px;
                padding: 3px 7px;
                border: 2px solid #e7b60c;
                background: #455661;
                text-decoration: none;
            }
            form {
                position: relative;
                top: 4px;
            }
        }

        .login_form {
            width: 350px;

            #overlaylaunch-inAbox, a.logoutbtn {
                color: #fff;
                background: #000;
                font-family: 'PFDinTextPro-medium', sans-serif;
                font-size: 18px;
                padding: 5px 10px;
                position: relative;
                left: 5px;
                top: -5px;
                pointer: cursor;
                text-decoration: none;
                text-align: center;
                display: inline-block;
                width: auto;
                min-width: 80px;
                max-width: 185px;
            }
        }
    }
    #site-tagline {
        color: #000000;
        font-size: 31px;
        font-family: 'PFDinTextPro-light_italic', arial, sans-serif;
        top: -45px;
        left: 45px;
        width: 440px;
        display: inline-block;
        position: relative;
        p {
            line-height: 1.2em;
            letter-spacing: -1px;
            margin: 0px;
            color: #fff;
        }
    }
}
header[role="banner"] #user-pane a, header[role="banner"] #user-pane #login_form ul li a,
header[role="banner"] #user-pane  #language-switcher #languages #lang_switch label {
    font-size: 96%;
}
/*header[role="banner"] #user-pane li {
    height: 56px;
}*/
header[role="banner"] #lang_switch label:last-child {
    display: inline-block;
    max-width: 140px;
}
/*header[role="banner"] #lang_switch label span {
    display: block;
}*/
#secondary-header {
    background-color: $header-grey;
    height: 45px;
}
#secondary-header #social-media {
    float: right;
    margin-top: 5px;
    width: 980px;
    text-align: right;
}
a {
    color: #015186;
}
#logo {
    position: relative;
    display: inline-block;
}
#webpage {
    padding: 0;
    width: 980px;
    position: relative;
}
#site_sidebar {
    display: none;
}
#site-main-content .content-view-embed.class-issue.line-image
.column.r-small {
    width: 165px;
}
.document {
    display:inline-block;
    padding: .5px 0 10px 10px;
    width: auto;
    background-color: #fbfbf9;
}
.nosidebar.noextrainfo .document {
    padding: .5px 10px 10px;
    width: 960px;
}
.module {
    border: none;
    background-color: transparent;
    border-radius: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
}

/* ------------------------------------------------------------------------
  global menubar
------------------------------------------------------------------------ */
nav#global-menubar {
    margin-bottom: 0;
}
#global-menubar ul.menu {
    border-top: 1px solid #222;
    li {
        margin: 0 10px;
        &:hover {
            border-top: 3px solid $yellow;
            p, a {
                position: relative;
                top: -3px;
            }
            ul li:hover {
                top: -3px;
                &:first-of-type {
                    height: 36px;
                    border-top: 3px solid $yellow;
                    a, p {
                        top: -3px;
                    }
                }
            }
        }
        ul {
            top: 30px;
            &.menu {
                left: -15px;
                padding-bottom: 0px;
                li {
                    margin: 0px;
                }
            }
            li:hover {
                border-top: none;
                p, a {
                    top: 0px;
                }
            }
        }
        &:first-of-type {
            margin-left: 0px;
            ul.menu {
                left: 0px;
            }
        }
        &:last-of-type {
            margin-right: 0px;
            ul.menu {
                left: 0px;
                width: 110px;
            }
        }
    }
}
#global-menubar ul.menu li.current, #global-menubar ul.menu li:hover {
    background-image: none;
}
#global-menubar, #global-menubar > ul.menu, #global-menubar, #global-menubar > ul.menu li:hover {
    background-image: none;
    padding: 0;
}
#global-menubar > ul.menu {
    background-color: transparent;
}
#global-menubar ul.menu li {
    > a, > p {
        font-size: 20px;
        font-family: 'PFDinTextPro-regular';
        font-weight: normal;
        display: inline-block;
        padding: 0 10px;
        vertical-align: middle;
        margin: 0px;
    }
    ul {
        border-top: 3px solid $yellow;
        li a {
            color: #222;
        }
        li:hover {
            background-color: #f8f8f8;
        }
    }
}
#site-main-content #global-menubar ul.menu li {
    height: 30px;
}
#webpage #global-menubar .nav-link {
    height: 30px;
    line-height: 30px;
}

/* ------------------------------------------------------------------------
  forms
------------------------------------------------------------------------ */
.productwrapper form #attribute-multi-options-fake {
    display: block;
    float: left;
}
.productwrapper form #attribute-multi-options-select {
    width: 240px;
    display: block;
}
.productwrapper form div {
    display: inline;
}
.integrated #form_container form.appnitro li label.choice {
    width: 390px!important;
}
.integrated #form_container form.appnitro li {
    width: 446px!important;
}

/* ------------------------------------------------------------------------
  shop
------------------------------------------------------------------------ */
div.billing, div.shipping, div.additional-information, div.accountinfo, div.coupon {
    width: 443px !important;
    padding: 15px;
}
div.shop-userregister input, div.user_register input,
div.shop-userregister select, div.user_register select {
    margin: 3px 0 8px;
}
#site-main-content .billing_help {
    font-size: 11px;
}

/********************************************************************************
  general styles
********************************************************************************/
a.button, a.seeall {
    color:#5c5c5c;
}
#site-main-content {
    a.button {
        color: #015186;
    }
    header {
        margin-top: 30px;
    }
}
#site-main-content p, #site-main-content ul, #site-main-content ol,
#site-main-content li, #site-main-content a {
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
}
#site-main-content h2 a {
    font-size: 25px;
}
#site-main-content h3 a, #extrainfo h3 a {
    font-size: 18px;
    font-weight: normal;
}
body #extrainfo h3 {
    padding-bottom: 7px;
}
#site-main-content h2 a, #site-main-content h3 a, #site-main-content h4 a,
#extrainfo h3 a {
    font-family: 'PFDinTextPro-medium';
}
footer .document {
    background-color: #888;
}
h3 img {
    float: left;
    margin-right: 7px;
}
#site-main-content p a {
    color: #015186;
}
.redBold {
    color: #C4122F;
    font-weight: bold;
}
.black {
    color: #000;
}
.blackBold {
    color: #000;
    font-weight: bold;
}
.lightGrey {
    color: #757575;
}
#site-main-content .related-content ul a {
    font-family: 'PFDinTextPro-medium';
    color: #03548b;
}
#site-main-content .r-articlethumbnail ul {
    margin: 0;
    padding: 0 18px;
}
#site-main-content ul {
    font-family: arial, helvetica, sans-serif;
}
.module.customtag {
    background-color: #e9e9e9;
    padding: 10px;
}
#site-main-content ul.vertical {
    padding: 0;
}
#site-main-content ul.vertical li {
    line-height: 18px;
    margin-bottom: 10px;
}
#extrainfo .infobox{
    background-color:#ebeded;
    overflow: hidden;
}
.extrainfo #extrainfo{
    padding-top: 0;
}
#webpage #extrainfo .infobox_ad {
    margin: 0px;
    padding: 0px;
    background: #fff;
}
#webpage #extrainfo .infobox_ad  .infobox-content {
    padding: 0px;
}
.infobox-content {
    #facet-list li ul li.active {
        background: #015186 none repeat scroll 0 0;
        border-radius: 6px;
        padding: 4px;
        position: relative;
        left: -4px;
        a {
            color: #fff;
            font-weight: bold;
        }
        strong a {
            color: #fff;
        }
    }
    ul {
        padding: 0 10px;
        margin: 0 0 15px 15px;
        line-height: 20px;
    }
}
#site-main-content .line-image .column.r-small {
    width: 650px;
}
.extrainfo #site-main-content .line-image .column.r-small {
    width: 350px;
}
table {
    font-size: 12px;
}
#site-main-content.class-enhanced-frontpage {
    padding-top: 15px;
}

/* ------------------------------------------------------------------------
  gold class
------------------------------------------------------------------------ */
.gold {
    font-weight: normal;
    padding-bottom: 5px;
    margin-top: 0;
    border-bottom: 8px solid #DAC792;
    margin-bottom: 8px;
}
.separator.gold hr {
    display: none;
}
#site-main-content h2.gold {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* ------------------------------------------------------------------------
  front page zones
------------------------------------------------------------------------ */
.top_center_zone, .bottom_center_zone, .top_left_zone, .bottom_left_zone {
    width: 304px;
    padding-right: 10px;
    border-right: 2px solid #555;
    margin-right: 10px;
}
.top_right_zone, .bottom_right_zone {
    width: 299px;
}
.middle_zone {
    width: 948px;
    margin-top: 15px;
    padding: 10px;
    position: relative;
    left: -10px;
    background-color: #DAC792;
    border: 2px solid #03548b;
    border-left: 10px solid #03548b;
}
.middle_zone ul {
    padding: 0px 16px;
    margin: 8px 0;
    display: inline-block;
}
.middle_zone li {
    margin-bottom: 0px;
}
.homepage #site-main-content .middle_zone p {
    line-height: 14px;
    margin-bottom:5px;
}
.homepage #site-main-content .middle_zone a {
    font-size: 12px;
    color: #333;
    line-height: 14px;
    text-decoration: underline;
}
.bottom_left_zone, .bottom_center_zone, .bottom_right_zone {
    padding-top: 20px;
}
.top_right_zone p a {
    color: #015186;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
}
#site-main-content .top_right_zone p {
    margin: 5px 0;
}
#site-main-content .top_right_zone aside {
    margin-bottom: 0;
}
.bottom_center_zone p a {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}


/* ------------------------------------------------------------------------
  headers
------------------------------------------------------------------------ */
#site-main-content h1, #site-main-content h2, #site-main-content h3,
#extrainfo h3, #extrainfo h1 {
    font-family: 'PFDinTextPro-medium';
    margin: 0;
    color: #333;
    font-weight: normal;
}
.subpage .content-view-full header h1 {
    font-size: 23px;
}
#site-main-content h2 {
    margin-bottom: 5px;
}
h2 a, h3 a, #extrainfo h1 a {
    color: #03548b;
}
footer {
    h2 a, h3 a, #extrainfo h1 a {
        color: #ffffff;
        display: block;
        line-height: 1.2em;
    }
    h2 a {
        font-size: 16px;
        &:hover {
            color: #eeb111;
            text-decoration: underline;
        }
    }
    ul {
        padding-left: 0px !important;
        li {
            a {
                font-size: 18px;
                text-decoration: none;
                font-family: "PFDinTextPro-regular";
                font-weight: 400;
                line-height: 1.2em;
                &:hover {
                    color: #eeb111;
                    text-decoration: underline;
                }
            }
        }
    }
}
.content-view-full footer h2 {
    margin-bottom: 0px;
}
#extrainfo h1 {
    line-height: 25px;
    margin-bottom: 10px;
}
.class-enhanced-frontpage header {
    border-bottom: none;
}
#site-main-content.class-enhanced-frontpage header h1,
#site-main-content.class-enhanced-frontpage h2, #extrainfo h1 {
    font-size: 25px;
    margin-top: 0;
    text-transform: uppercase;
}
#site-main-content.class-enhanced-frontpage header h1{
    border:none;
}
.middle_zone h2 {
    margin-top: 0;
    font-size: 22px;
}
.custom-tag-twitterfeed .column.header-text {
    width: 245px;
}
.infobox header, .customtag header {
    border-bottom: none;
}
.class-enhanced-frontpage h4, #site-main-content.class-enhanced-frontpage h4 a {
    font-family: 'PFDinTextPro-medium';
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 2px 0;
    font-weight: normal;
}
.content-view-full header h1 {
    font-size: 23px;
    padding: 5px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
}
.content-view-full #extrainfo header h1 {
    border: none;
}
header.case1, .class-news-item header,
.module.content-view-full.class-issue header {
    margin: 10px 0 20px 0;
}
#site-main-content.class-event-calendar header h1 {
    margin-bottom: 10px;
}
.content-view-full h2 {
    font-size: 18px;
    margin-bottom: 7px;
    color: #03548B;
}
#site-main-content h3 {
    font-size: 16px;
    margin-bottom: 7px;
}
#extrainfo h1 a {
    font-size: 20px;
    text-transform: none;
}
#extrainfo .content-view-embed.class-article h1 {
    line-height: 24px;
}
#site-main-content hgroup h1 {
    margin-bottom: 10px
}
#webpage #global-menubar .nav-link {
    padding: 0 15px;
}
#site-main-content .shop h1 {
    margin: 15px 0;
}
#site-main-content .one-subhead {
    font-size: 25px;
    text-transform: uppercase;
    padding: 15px 0;
    margin-top: 15px;
    border-top: 1px solid #ccc;
}


/********************************************************************************
  general content
********************************************************************************/
.custom-tag-daily-news div {
    display: none;
}
.custom-tag-daily-news div.active {
    display: block;
}
.custom-tag-daily-news {
    display: inline-block;
}
header[role="banner"] .searchblock .cart {
    font-size: 16px;
    font-family: 'PFDinTextPro-medium';
    padding: 7px 8px 6px;
    width: 86px;
    height: 20px;
    bottom: 3px;
}
header[role="banner"] .searchblock .cart a {
    position: relative;
    top: -3px;
}
////////////////////////////////////
// Social Media Buttons in Header //
////////////////////////////////////
#social-media {
    ul {
        list-style: none;
    }
    ul li {
        display: inline-block;
    }
    ul.menu li a:hover {
        color: #daddde;
    }
    .social_media_icons img:last-child {
        display: none;
    }
    .social_media_icons:hover img:first-child {
        display: none;
    }
    .social_media_icons:hover img:last-child {
        display: inline-block;
    }
    .separator, .feedback {
        color: #fff;
        font-family: "PFDinTextPro-regular",arial,sans-serif;
        font-size: 20px;
        padding: 0px;
        margin-right: 10px;
    }
    .menu-sep {
        font-size: 24px;
        color: #fff;
        top: -4px;
    }
    .feedback {
        a {
            color: #fff;
        }
    }
}
#social-media .no-display {
    display: none;
}
header[role="banner"] .searchblock #social-media {
    bottom: 5px;
    width: 130px;
}
#social-media ul.menu {
    display: inline-block;
}
#social-media li {
    margin-right: 15px;
    top: 1px;
}
#social-media li a img {
    width: 25px;
    height:25px;
}
////////////////////////////////////
////////////////////////////////////

#webpage .content-view-line.class-user h2 small {
    display:block;
    float: none;
}
nav.links .cart a {
    font-size: 85%;
}

/********************************************************************************
  header
********************************************************************************/

/* ------------------------------------------------------------------------
  user pane
------------------------------------------------------------------------ */
body header[role="banner"] #user-pane {
    font-size: 13px;
}
header[role="banner"] .loginbox {
    height: 24px;
    width: 140px;
    margin-right: 12px;
    padding: 0px 2px;
    background-color: transparent;
    border: none;
}
#user-pane #login {
    height: 18px;
    padding: 0;
    width: 136px;
    border: none;
    margin-top: 3px;
}
#login input {
    width: 134px;
    vertical-align: top;
    height: 16px;
}
header[role="banner"] .loginbox input {
    width: 134px;
    padding: 0;
}
header[role="banner"] #user-pane {
    font-family: 'PFDinTextPro-medium';
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 200px;
    margin-top: 10px;
    width: 880px;
}
header[role="banner"] #user-pane a {
    color: #fff;
    text-decoration: none;
}
#user-pane li {
    padding: 0 5px;
    border-right: 2px solid #DAC792;
}
#user-pane li#language-switcher {
    border-right: 0px;
}
#user-pane li#language-switcher label span {
    margin: 0;
}
#user-pane li li {
    border-right: none;
    padding: 0;
}
#user-pane label {
    vertical-align: top;
    margin-right: 5px;
}
#user-pane #lang_switch {
    margin-right: 0;
}
#user-pane strong {
    font-weight: normal;
}
#user-pane .no-display {
    display: none;
}
#login_form ul {
    margin: 0px;
    padding: 0px;
}
#languages {
    margin-left: 0;
}
#user-pane #change-cookie {
    border-right: none;
}
.module-view-dashboard #site-main-content h2 a{
    font-size:20px;
}


/********************************************************************************
  footer
********************************************************************************/
footer {
    background: rgba(0, 0, 0, 0) url("../../images/FooterBckgrnd.jpg") no-repeat scroll center center / cover;
    text-align: left;
    padding-left: 5px;
    height: 295px;
    padding-bottom: 0px;
    p {
        font-family: "PFDinTextPro-regular";
        font-weight: 400;
        line-height: 1.1em;
        font-size: 18px;
        color: #fff;
    }
    h4 {
        text-transform: uppercase;
        font-family: "PFDinTextPro-bold";
        font-weight: normal;
        color: $yellow;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0px;
    }
    a {
        color: #fff;
        font-size: 18px;
        text-decoration: none;
    }
}
#subfooter {
    background-color: #282a2b;
    border-top: 1px solid #4b4c4d;
    padding-bottom: 16px;
    padding-top: 18px;
    color: #8c8989;
}
#subfooter p, #subfooter a {
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
#subfooter a {
    color: #ffffff;
    text-decoration: none;
}
#subfooter .subfooter-container {
    width: 980px;
    margin: 0 auto;
}
/********************************************************************************
  navigation
********************************************************************************/

/* ------------------------------------------------------------------------
  global menubar
------------------------------------------------------------------------ */
#global-menubar {
    height: 50px;
    background-color: transparent;
    ul.menu {
        height: 50px;
        z-index: 10;
        li {
            height: 50px;
            .nav-link {
                height: 50px;
                line-height: 50px;
            }
            &:hover ul.menu {
                top: 44px;
            }
            ul.menu {
                background-color: #f2efef;
                border-top: 3px solid #eeb111;
                box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
                font-family: "PT Sans",Arial,Helvetica,sans-serif;
                font-weight: 400;
                height: auto;
                top: 47px;
                li {
                    height: auto;
                    a {
                        text-transform: none;
                        font-family: 'PFDinTextPro-regular', sans-serif;
                        padding: 7px 12px;
                        border-bottom: 1px solid #dcdadb;
                    }
                    &:last-of-type a {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

/* ------------------------------------------------------------------------
  secondary navigation
------------------------------------------------------------------------ */
#secondary-navigation {
    background-color: #005c81;
    height: 42px;
    display: none;
}
#secondary-navigation a {
    font-family: 'PFDinTextPro-medium';
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    width: 324px;
    padding: 6px 0;
    text-align: center;
    background: #005c81 url("../../images/secondary-nav-bg.png") repeat;
}
#secondary-navigation a:hover {
    color: #c7e5f2;
}

/* ------------------------------------------------------------------------
  site sidebar
------------------------------------------------------------------------ */
#site_sidebar {
    left: 980px;
    top: 200px;
    position: absolute;
    font-family: 'PFDinTextPro-regular';
    font-size: 12px;
}
#site_sidebar .toggle {
    background-color: #faf9f5;
    box-shadow: 0px 0px 3px #888;
    margin-top: 0;
    padding: 5px;
    width: 110px;
    -moz-box-shadow: 0px 0px 3px #888;
    -webkit-box-shadow: 0px 0px 3px #888;
}
#site_sidebar #site_sidebar_toggle {
    background-color: #dadbdb;
    display: block;
    padding: 2px 4px;
    position: absolute;
    right: -15px;
    top: 0;
}
#site_sidebar p {
    margin: 0;
}
#site_sidebar a.redBold {
    font-weight: bold;
}
#site_sidebar .separator {
    margin: 7px 0;
    padding: 0;
}
#site_sidebar .separator hr {
    height: 2px;
    background-color: #333;
}
#site_sidebar li {
    line-height: 14px;
    margin-bottom: 9px;
}
#site_sidebar li a:hover {
    text-decoration: underline;
}
#site_sidebar li .redBold {
    font-weight: normal;
    font-family: 'PFDinTextPro-medium'
}

/* ------------------------------------------------------------------------
  sidemenu
------------------------------------------------------------------------ */
#sidebar {
    position: relative;
        left: -10px;
}
#sidemenu {
    border: none;
    background-color: #ebebeb;
    padding: 10px 10px 10px 15px;
}
#sidemenu h2 a {
    color: #333;
}
#sidemenu h2 {
    color: #333;
}
#sidemenu .link_ob_class_nav_divider {
    color: #333;
}
#sidemenu .separator {
    display: none;
}
.previous-link {
    margin-top: 15px;
}

/* ------------------------------------------------------------------------
  footer navigation
------------------------------------------------------------------------ */
.content-view-full footer h2 {
    color: #ffffff;
    font-family: 'PFDinTextPro-bold';
    text-transform: uppercase;
    font-weight: normal;
}
#webpage footer td {
    background: url("../../images/footer-column-bg.png") right 20px no-repeat;
    padding: 0 15px;
}
footer ul {
    list-style-type: none;
    padding: 5px 0 10px 10px;
    margin: 0;
}
footer ul a {
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
}
table[summary="footer copyright"] a {
    font-family: 'PFDinTextPro-medium';
    color: #ffffff;
    text-decoration: underline;
}
footer .body-container table {
    color: #ffffff;
    tr td ul {
        margin-bottom: 10px;
        padding-top: 0px;
    }
    tr:first-of-type {
        td:first-of-type {
            width: 130px;
            .content-view-embed.class-image .attribute-image img {
                width: 118px;
                height: 118px;
                position: relative;
                top: -21px;
            }
        }
        td:nth-of-type(2) {
            font-size: 18px;
            font-family: "PFDinTextPro-regular";
            width: 350px;
            line-height: 1.2em;
            padding-right: 20px;
            padding-top: 35px;
            a {
                color: $footer-grey-light;
                &:hover {
                    color: $yellow;
                }
            }
        }
        td:nth-of-type(3) {
            ul li a {
                font-family: "PFDinTextPro-medium";
                font-weight: 400;
                line-height: 1.5em;
            }
            p {
                margin-top: 5px;
                color: $footer-grey;
                a {
                    color: #fff;
                    &:hover {
                        color: $yellow;
                    }
                }
            }
            h4:first-of-type {
                margin-top: 35px;
            }
        }
        td:nth-of-type(4) {
            h2:first-of-type, h2:nth-of-type(2) {
                margin-bottom: 15px !important;
            }
        }
    }
    tr:nth-of-type(2) {
        border-top: 1px solid #fff;
        td {
            font-size: 18px;
            text-decoration: none;
            font-family: "PFDinTextPro-regular";
            font-weight: 400;
            line-height: 1.2em;
            width: 480px;
            padding-right: 50px;
            padding-top: 20px;
            a {
                margin: 0 10px;
                &:first-of-type {
                    margin-left: 0px;
                }
                &:hover {
                    color: $yellow;
                }
            }
        }
    }
}

/********************************************************************************
  user page
********************************************************************************/

/* ------------------------------------------------------------------------
  accept cookies browser bar
------------------------------------------------------------------------ */
#cookie-notice {
    border-bottom: 3px solid #bbb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
#cookie-notice p {
    margin: 8px auto;
    position:relative;
}
#cookie-notice a {
    font-family: 'PFDinTextPro-medium';
    text-transform: uppercase;
}

/********************************************************************************
  custom tags
********************************************************************************/
#site-main-content .customtag h2 {
    font-weight: normal;
    line-height: 20px;
    text-transform: none;
}
#site-main-content .customtag h3 a {
    font-size: 18px;
    text-transform: none;
}

/* ------------------------------------------------------------------------
  featured blog post
------------------------------------------------------------------------ */
#site-main-content.class-enhanced-frontpage .custom-tag-featured_blog_post h3 {
    text-transform: none;
    font-weight: normal;
}
#site-main-content.class-enhanced-frontpage .custom-tag-featured_blog_post h3 a {
    font-size: 18px;
}

/* ------------------------------------------------------------------------
  content tabs
------------------------------------------------------------------------ */
.customtag.custom-tag-tabbox {
    margin: 0;
    padding: 0;
}
.customtag.custom-tag-tabbox .customtag-content .tabs li {
    width: 88%;
}
.customtag-content .tabs a {
    padding: 6px 17px;
    width: 100%;
}

/* ------------------------------------------------------------------------
  daily news
------------------------------------------------------------------------ */
.content-view-listitem.class-news-item h2 {
    font-family: 'PFDinTextPro-regular';
}
.custom-tag-scrollable header span.realmedia_TopRight a {
    margin-top:34px;
}
.custom-tag-scrollable header {
    padding-bottom: 15px;
}
.custom-tag-daily-news {
    padding: 0;
    margin: 0;
    padding-top: 15px;
}
#site-main-content .custom-tag-daily-news a {
    font-family: 'PFDinTextPro-medium';
    font-size: 14px;
    color: #075387;
    text-decoration: underline;
}
.custom-tag-daily-news h2 {
    margin: 0 0 5px;
}
.custom-tag-daily-news ul {
    list-style-type: none;
    padding: 0;
}
.custom-tag-daily-news .content_selector h2 {
    display: inline-block;
}
.realmedia_TopRight img {
    margin-top: 0;
}
.custom-tag-daily-news .content_selector {
    margin-bottom: 20px;
}
#site-main-content .custom-tag-daily-news .content_selector a.items {
    color: #888;
}
#site-main-content .custom-tag-daily-news .content_selector a.items.news-toggle {
    color: #075387;
}
.custom-tag-daily-news ul.items {
    display: none;
}
.custom-tag-daily-news ul.items.news-toggle {
    display: block;
}

/* ------------------------------------------------------------------------
  latest research
------------------------------------------------------------------------ */
.custom-tag-latest-research {
    background-color: #dadbdd;
    border: none;
    padding: 1px 10px;
}
#site-main-content.class-enhanced-frontpage .custom-tag-latest-research h2 {
    color: #C4122F;
    margin: 0 0 8px;
}
#site-main-content .custom-tag-latest-research ul {
    list-style-type:none;
    padding:0;
    margin:0 0 10px 0;
}
#site-main-content .custom-tag-latest-research li a {
    font-size: 14px;
    color: #015186;
    font-family: 'PFDinTextPro-medium';
}

/* ------------------------------------------------------------------------
  twitter feed
------------------------------------------------------------------------ */
.custom-tag-twitterfeed {
    padding: 0;
    background-color: transparent;
    border: none;
    margin-top: 15px;
}
.column.follow-button {
    margin-right: 5px;
}
.media_feed_post {
    font-size: 14px;
}
.custom-tag-twitterfeed a {
    font-family: 'PFDinTextPro-medium';
    color: #03548b;
    font-size: 18px;
}
#site-main-content .custom-tag-twitterfeed .twitter_user {
    font-size: 18px;
    font-family: 'PFDinTextPro-medium'
}
.custom-tag-twitterfeed .column.header-icon {
    display: none;
}
.custom-tag-twitterfeed .feed-item {
    margin: 8px 0;
}
.custom-tag-twitterfeed h2 {
    position: relative;
    top: 5px;
}

/* ------------------------------------------------------------------------
  recent blogpostlist
------------------------------------------------------------------------ */
a.rss{
    display:inline-block;
    margin-top:10px;
}


/********************************************************************************
  content classes
********************************************************************************/

/* ------------------------------------------------------------------------
  conference
------------------------------------------------------------------------ */
.content-view-embed.class-conference .attribute-image {
    width: 50px;
    float: left;
    margin: 0 10px 0 0;
}
.content-view-line .attribute-image {
    margin-right: 10px;
}
.content-view-embed .attribute-image a {
    text-decoration: none;
}
#site-main-content .content-view-embed.class-conference h2 a {
    display: inline-block;
    margin: 0 0 4px 10px;
    width: 212px;
    text-transform: none;
    font-size: 18px;
}
#site-main-content .content-view-embed.class-conference .attribute-image {
    margin-right: 8px;
}
#site-main-content .content-view-embed.class-conference h3 {
    margin-bottom: 10px;
}
.content-view-embed.class-conference span.location {
    border-top: 1px solid #3a4046;
    color: #3a4046;
    display: block;
    font-family: 'PFDinTextPro-medium';
    font-size: 18px;
}
.content-view-line.class-conference .column{
    width:345px;
}
.noextrainfo .content-view-line.class-conference .column {
    width: auto;
    max-width: 670px;
}
.content-view-line.class-conference .column.attribute-image{
    width:80px;
}
.content-view-line.class-conference.featured {
    background-color: #e9e9e9;
    padding: 10px;
}
#site-main-content .content-view-line.class-conference .column h2 a {
    font-size: 22px;
    text-decoration: underline;
}
.class-conference .conference-content{
    padding-top:20px;
}
#site-main-content.class-conference h3{
    display:inline-block;
}
#site-main-content.class-conference .location{
    float:right;
    position:relative;
    top:2px;
}
/*
.class-conference .class-conference-title {
    display: none;
}*/
/* ------------------------------------------------------------------------
  product
------------------------------------------------------------------------ */
.content-view-embed.class-xrow_product h3 {
    text-transform: none;
}
.class-enhanced-frontpage .content-view-embed.class-xrow_product.featured h3 {
    font-size: 16px;
    color: #015186;
    font-family: 'PFDinTextPro-medium';
    font-weight: normal;
}
.class-enhanced-frontpage .content-view-embed.class-xrow_product.featured p {
    color: #333;
}
.class-xrow_product.line-image .product-image.featured {
    width: 55px;
}
div.class-xrow-commerce div.attribute-image {
    border: none;
}

/* ------------------------------------------------------------------------
  article
------------------------------------------------------------------------ */
.button.share, .button.print {
    color: #5c5c5c !important;
}
.content-view-full #article-utility h2 {
    color: #024c73;
}
#site-main-content.content-view-full.class-xrow-product header {
    padding:10px 0 20px;
}
#site-main-content .content-view-full header {
    padding:15px 0 5px;
}
#site-main-content.class-article section.advanced.module.related-content header{
    background-color:#f5f5f2;
    border-bottom:1px solid #dddddd;
    border-top:1px solid #dddddd;
    padding:6px 10px;
}
#site-main-content.class-article section.advanced.module.related-content h1{
    border:none;
    color:#005187;
    font-family:Arial;
    padding:0;
    text-transform:uppercase;
}
#site-main-content.class-article .article-content .content-sidebar h2{
    margin-bottom:8px;
}
#site-main-content.content-view-full.class-article .article-content .content-sidebar h3{
    margin:10px 0;
}
#site-main-content #comments.advanced.module h1{
    font-weight:normal;
    padding:10px 0;
}
#site-main-content .related-content ul a{
    font-family:arial;
    font-size:12px;
    font-weight:normal;
}
.recent-updates header{
    padding:6px 0 0;
    h1 {
        border-bottom: none;
        border-top: none;
    }
}
.recent-updates .column{
    width:156px;
}

/* ------------------------------------------------------------------------
  blog
------------------------------------------------------------------------- */ 
#site-main-content .attribute-byline .date{
    margin:4px 0;
}
#site-main-content.content-view-full.class-blog h1{
    margin-bottom:10px;
}
#site-main-content.content-view-full.class-blog .related-content{
    margin:0;
}
#site-main-content.class-enhanced-frontpage.content-view-full
.content-view-embed.class-blog-post {
    margin: 0;
}
#site-main-content.content-view-full .content-view-embed.class-blog-post {
    margin: 15px 0;
}
#site-main-content.content-view-full .content-view-embed.class-blog-post p {
    margin: 5px 0;
    line-height: 18px;
}

/********************************************************************************
  search
********************************************************************************/
.searchtext {
    height: 20px;
    vertical-align: top;
    padding-left: 5px;
}
#site-main-content .content-view-line.class-article.line-image .column.r-articlethumbnail{
    width:760px;
}
.searchbutton {
    position:relative;
    top:2px;
}
.module-view-search #savethissearch{
    background-color:#00557a;
    border:none;
    color:#ffffff;
    font-family:'PFDinTextPro-medium';
    font-size:12px;
    font-weight:500;
    margin-left:10px;
    padding:2px 4px;
    position:relative;
    text-transform:uppercase;
    top:2px;
}
#searchCreationTimeDateFilterLabel {
        position:relative;
        left: 2px;
        top: 2px;
        font-weight: 600;
}
#searchCreationTimeDateFilter {
        position:relative;
        left: 2px;
        top: 2px;
}

/* ------------------------------------------------------------------------
  topic
------------------------------------------------------------------------ */
.content-view-embed.class-topic .content-view-embed.class-topic {
    background-color: #ededed;
    border: 1px solid #ccc;
    width: 315px;
    padding-bottom: 10px;
}
.topic_embed_image {
    height: 49px;
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
}
.topic_embed_image h2 {
    position: absolute;
    left: 62px;
}
#site-main-content .topic_embed_image h2 {
    margin-top: 11px;
}
#site-main-content .topic_embed_image h2 a{
    color: #00446A;
    font-size: 14px;
    position: relative;
}
#site-main-content .content-view-embed.class-topic .items h2 a {
    padding: 0 0px;
    font-family: arial, helvetica, sans-serif;
    font-weight: normal;
    text-decoration: underline;
    font-size: 12px;
    color: #015186;
}
.topic_embed_image img {
    position: absolute;
}
.content-view-embed.class-topic .top_topic_match_img {
    height: 64px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    display: none;
}
.top_topic_match_img img {
    width: 100%;
    height: auto!important;
}
.content-view-embed.class-topic .items h2 {
    padding: 0 10px;
}

.dashboard-link {
    display: inline;
    position: absolute;
    top: 45px;
    left: 207px;
}
.dashboard-link a {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'PFDinTextPro-medium', sans-serif;
}

.noalign .attribute-image, .align-center .attribute-image {
    width: 100%;
    margin-bottom: 10px;
}
.noalign .infobox .attribute-image, .align-center .infobox .attribute-image {
    width: auto;
}
.align-center .attribute-image a {
    text-align: center;
}

/* fusion helper classes */
.fusion-column-wrapper {
    overflow: hidden;
}
.fusion-layout-column {
  position: relative;
  float: left;
  margin-right: 4%;
  margin-bottom: 20px;
}
.fusion-one-full {
  float: none;
}
.fusion-one-sixth {
  width: 13.3333%;
}
.fusion-five-sixth {
  width: 82.6666%;
}
.fusion-one-fifth {
  width: 16.8%;
}
.fusion-two-fifth {
  width: 37.6%;
}
.fusion-three-fifth {
  width: 58.4%;
}
.fusion-four-fifth {
  width: 79.2%;
}
.fusion-one-fourth {
  width: 22%;
}
.fusion-three-fourth {
  width: 74%;
}
.fusion-one-third {
  width: 30.6666%;
}
.fusion-two-third {
  width: 65.3333%;
}
.fusion-one-half {
  width: 48%;
}
.fusion-column-last {
  margin-left: 0;
  margin-right: 0;
}
/* end fusion grid */

span.title a {
    font-size: 18px;
    font-family: 'PFDinTextPro-medium', sans-serif;
    color: #333333;
}


/*------------Site Header --------------*/
.frm1 {
    display: table;
    margin: 0 0 0 170px;
    width: 345px;
    position: relative;
    top: -35px;
    position: relative;
    .sel_box {
        width: 500px;
        select {
            color: #333;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            &::-ms-expand {
                display: none;
            }
        }
    }
    #region-selector {
        border-radius: 0px;
    }
}
.frm1 > input[type="text"] {
    float: left;
    font-size: 18px;
    padding: 3px 5px 3px 25px;
    width: 200px;
}
.frm1 > input[type="submit"] {
    background-color: #000;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 18px;
    margin: 0;
    padding: 3px 5px;
    width: auto;
    -webkit-appearance: none;
    border-radius: 0px;
}
.frm1 select {
    background: rgba(255, 255, 255, 0.7) url("http://siawebsite.staging.wpengine.com/wp-content/uploads/2015/07/triangle.png") no-repeat scroll left center;
    border: 0 none;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 4px 4px 20px;
    width: 415px;
}


/* Base and example */

body {
    font-size: 88%;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    color: #4e4e4e;
    padding: 0;
}

#overlaylaunch-inAbox {
    text-decoration: none;
    cursor: pointer;
}

#overlay-inAbox .wrapper {
    padding: 10px;
    .toolbar {
        float: right;
        .close {
            font-size: 0px;
            background: url("../../images/closebtn.png") no-repeat;
            width: 36px;
            height: 36px;
            position: relative;
            top: -15px;
            left: 25px;
            display: block;
        }
    }
    .user-login form {
        .warning {
            display: none;
            &.bad-login {
                display: block;
            }
        }
        .block input {
            box-shadow: none;
            border: none;
            height: 30px;
            width: 280px;
            margin-bottom: 10px;
            padding: 0 10px;
            font-size: 16px;
            color: #333;
            &::-webkit-input-placeholder {
               color: #999999;
            }
            &:-moz-placeholder { /* Firefox 18- */
               color: #999999;
            }
            &::-moz-placeholder {  /* Firefox 19+ */
               color: #999999;
            }
            &:-ms-input-placeholder {
               color: #999999;
            }
        }
        .buttonblock {
            text-align: center;
            input {
                font-size: 16px;
                height: 30px;
                line-height: 0.5em;
                padding: 10px;
                border: none;
            }
            .forgot input.button {
                background: none;
                border: none;
                color: #fff;
                padding: 0;
                font-size: 14px;
                position: relative;
                top: 5px;
            }
        }
        .attribute-header h1 {
            padding-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.invisible {
    display: none !important;
}


/* More important stuff */

.overlay,
#overlay-shade {
    display: none;
}

#overlay-shade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000;
}

.overlay {
    position: absolute;
    top: -300px;
    left: 0;
    width: 450px;
    min-height: 200px;
    z-index: 10000;
    background-color: #7D7D7D;
    border: 10px solid #CFCFCF;
    color: #fff;
    box-shadow: 0 0 16px #000;
} .ie7 .overlay {
    height: 200px;
} .overlay .wrapper {
    padding: 15px 30px 30px;
}


.overlay .toolbar {
    padding: 8px;
    line-height: 1;
    text-align: right;
    overflow: hidden;
} .overlay .toolbar a.close {
    display: inline-block;
        *display: inline;
         zoom: 1;
    padding: 0 8px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    line-height: 18px;
    border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
    color: #999999;
    background-color: #515151;
} .overlay .toolbar a.close span {
    color: #818181;
} .overlay .toolbar a.close:hover,
  .overlay .toolbar a.close:hover span {
    background-color: #b90900;
    color: #fff;
}

#overlay-inAbox {
    display: none;
    position: absolute;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    .wrapper {
        margin: 0 auto;
        width: 300px;
        background: #47555e;
        margin-top: 40px;
        padding: 0 10px 1px 10px;
        form .attribute-header h1 {
            color: #fff;
        }
    }
}
.scr_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    display: table;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: -1;
}

/* comments */
#ezcom-comment-list .class-comment {
    h2 {
        margin-left: 10px;
    }
    .author-name {
        color: #015186;
        margin-right: 5px;
        font-family: 'PFDinTextPro-medium', sans-serif;
    }
    .author {
        width: 100%;
        margin-top: 0px;
        position: relative;
        left: 10px;
        margin-bottom: 5px;
    }
}

#site-columns .document #path {
    display: none;
}
