<div id="cookie-notice">
	<p class="document">We would like to use cookies on this site to give you the best experience.</p>
	<p class="document"><a class="action allow" href="#">continue using cookies</a> | <a class="action" href="#">disable cookies</a></p>
</div>