{* never mind
{def	$products = array()}

{foreach $order_list as $order}
	{foreach $order.product_items as $item}
		{set $products = $products|append($item)}
	{/foreach}
{/foreach}

{foreach $products as $product}
	{node_view_gui content_node=$product.item_object.contentobject.main_node view=order_history_product}
{/foreach}
*}
{$order_list|debug}
{literal}
    <script type="text/javascript">
        function OpenPrintWindow (adress) 
        {
            PrintWindow = window.open(adress, "PrintWindow", "width=1,height=1,left=100,top=200, toolbar=no, scrollbars=no");
            PrintWindow.onload = function()
            {
                    PrintWindow.print();
                    PrintWindow.close();
            };
            window.focus();
        }
    </script>
{/literal}
<div class="border-box">
<div class="border-tl"><div class="border-tr"><div class="border-tc"></div></div></div>
<div class="border-ml"><div class="border-mr"><div class="border-mc float-break">
<div class="orderhistory">
<h1>{"Order history"|i18n("design/standard/shop")}</h1>
{if $order_list[0]}
{shop_account_view_gui view=html step=6 order=$order_list[0]}
<p><i>{"Note"|i18n("design/standard/shop")}:</i> {"The information above is from your last order."|i18n("design/standard/shop")}</p>
{/if}

{def $currency = false() $locale = false() $symbol = false() $product_info_count = false() }
    {if $order_list}
        <table class="list" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
            	<th>
            	   {"Order No"|i18n("design/standard/shop")}
            	</th>
            	<th>
            	   {"Date"|i18n("design/standard/shop")}
            	</th>
            	<th>
            	   {"Status"|i18n("design/standard/shop")}
            	</th>
            	<th>
            	   {"Total inc. TAX"|i18n("design/standard/shop")}
            	</th>
                <th>
                    {"View"|i18n("design/standard/shop")}
                </th>
            </tr>
            {foreach $order_list as $Order sequence array( 'dark', 'light' ) as $style}
                {set currency = fetch( 'shop', 'currency', hash( 'code', $Order.productcollection.currency_code ) ) }
                {if $currency}
                    {set locale = $currency.locale symbol = $currency.symbol}
                {else}
                    {set locale = false() symbol = false()}
                {/if}
        
                <tr>
                	<td class="{$style}">
                	{$Order.order_nr}
                	</td>
                	<td class="{$style}">
                	   {$Order.created|l10n(shortdatetime)}
                	</td>
                	<td class="{$style}">
                	   {$Order.status_name}
                	</td>
                	<td class="{$style}" align="right">
                	   {$Order.total_inc_vat|l10n( 'currency', $locale, $symbol )}
                	</td>
                	<td class="{$style}" align="right">
                	   <a href={concat("/order/invoice/",$Order.id,"/0")|ezurl} target="_blank"><img src={"orderhistory/view.gif"|ezimage()} title="{"View"|i18n("design/standard/shop")}"></a>
                	   <a href={concat("/order/invoice/",$Order.id,"/0")|ezurl} target="_blank" onclick="OpenPrintWindow(this.href); return false" ><img src={"orderhistory/printer.png"|ezimage()} title="{"Print"|i18n("design/standard/shop")}"></a>
                	</td>
                </tr>
            {/foreach}
        </table>
    {/if}
</div>
{undef}
</div></div></div>
<div class="border-bl"><div class="border-br"><div class="border-bc"></div></div></div>
</div>
