.warning
{
    color: red;
}

.xrowproductstring
{
    width: 100px;
}

.xrowproducttext
{
    width: 100px;
    height: 30px;
}

.xrowproducttextcolumn
{
    width: 100%;
    height: 30px;
}

.xrowproductnumber
{
    width: 40px;
}

.xrowproductprice
{
    width: 50px;
}

.xrowproductpriceamout
{
    width: 30px;
}

.xrowproductdate
{
   width: 6em;
}

td.error
{
    padding-top: 1px;
    border: 1px solid red !important;
}

.nowrap
{
    white-space: nowrap;
}

.directorder
{
    width: 100%;
    border: 1px solid #00426a;
    border-collapse: collapse;
}

.directorder th
{
    color: #015197;
    background-color: #daebf7;
    padding: 5px;
    text-align: center;
    border: 1px solid #00426a;
}

.directorder td
{
    background-color: #ffffff;
    padding: 3px;
    border: 1px solid #00426a;
}

.directorder td.sku
{
    text-align: center;
}

.directorder td.sku input.sku
{
    width: 50px;
}

.directorder td.amount, .directorder td.amount div.amount
{
    text-align: center;
}

.directorder div.amount input.amount
{
    width: 40px;
    margin: 0px 10px;
}

.directorder td.description
{
    width: 440px;
}

.directorder td.delete div.delete
{
    width: 110px;
    text-align: center;
    margin-left: 10px;
}

.error
{
    color: red;
}

