#cookie-notice{
	background-color: #fcfec5;
	border-bottom: 1px solid #bbbbbb;
	box-shadow: 0 0 1px 2px #cccccc;
	padding: 4px 8px;
	position: relative;
	z-index: 100;
	-moz-box-shadow: 0 0 1px 2px #cccccc;
	-webkit-box-shadow: 0 0 1px 2px #cccccc;
}
#cookie-notice p {
	background-color: transparent;
	padding: 0;
	width: 980px;
}
#cookie-notice p, #cookie-notice .close{
	font: normal 12px Arial, Tahoma, sans-serif;
}
#cookie-notice .close{
	background: url(../images/close.png) no-repeat 50% 50%;
	cursor: pointer;
	float: right;
	height: 14px;
	text-indent: -99999px;
	width: 14px;
}